@media (min-width: 1919px) {

	.news__inner {
		width: 1624px;
	}

	.reviews__inner {
		width: 1840px;
	}

	.news__block:nth-child(4n) {
		margin-right: 0;
	}

	.reviews__block:nth-child(4n) {
		margin-right: 0;
	}

	.catalogS__block:nth-child(4n) {
		margin-right: 0;
	}

}

@media (min-width: 1365px) and (max-width: 1919px) {

	.news__inner {
		width: 1208px;
	}

	.news__block:nth-child(3n) {
		margin-right: 0;
	}

	.reviews__inner {
		width: 1370px;
	}

	.reviews__block:nth-child(3n) {
		margin-right: 0;
	}

	.catalog_S__list-blocks {
		width: 891px;
		align-self: center;
	}

	.catalogS__block:nth-child(3n) {
		margin-right: 0;
	}

}

@media (min-width: 1279px) and (max-width: 1365px) {


	.news__inner {
		width: 792px;
	}

	.news__block:nth-child(2n) {
		margin-right: 0;
	}

	.reviews__inner {
		width: 900px;
	}

	.reviews__block:nth-child(2n) {
		margin-right: 0;
	}

	.catalog_S__list-blocks {
		width: 891px;
		align-self: center;
	}

	.catalogS__block:nth-child(3n) {
		margin-right: 0;
	}

}

@media (max-width: 1367px) {

	.welcome {
		padding-top: 0;
	}

	.menu {
		width: 550px;
		height: 550px;
		padding: 50px 0 0 65px;
	}

	.menu:before {
		width: 290px;
	}
	
	.catalog__block {
		width: 240px;
	}

	.advantages__mission>p {
		font-size: 14px;
	}

	.ourservices__inner {
		padding: 0 10px;
	}

}


@media (max-width: 1279px) {

	.body--noscroll {
		overflow-y: scroll;
		position: fixed;
	}

	
	.main-video {
		display: none;
	}

	header {
		padding: 0 20px;
		align-items: center;
	}

	.hamburger>div {
		color: #7e8fa5;
	}

	.header__logo {
		order: 1;
		margin: 0;
	}

	.header__logo--desktop {
		display: none;
	}

	.header__logo--mobile {
		display: block !important;
	}

	.header__call {
		order: 2;
		max-width: 280px;
		width: 100%;
		margin: 0 0 0 40px;
	}

	.menu-btn {
		order: 3;
		width: 80px;
		justify-content: flex-end;
	}

	.header--main-page {
		width: 100vw;
		height: 53px;
		padding: 11px 20px 0 20px;
		align-items: center;
	}

	.modal {
		overflow-y: scroll;
		padding: 80px 0 0 0;
		box-sizing: border-box;
		align-items: flex-start;
	}

	.modal__info {
		display: none !important;
	}

	.menu {
		padding-top: 40px;
		height: 430px;
		width: 290px;
	}

	.menu:after {
		width: 25px;
	}

	.menu:before {
		width: 156px;
	}

	.menu__title {
		top: -14px;
		left: 30px;
		font-size: 30px;
	}

	.menu>a {
		font-size: 25px;
	}

	.menu-btn__text {
		display: none;
	}

	.header__info {
		display: none;
	}

	.header__call {
		display: flex;
	}

	.welcome {
		height: 500px;
		padding-top: 80px;
		padding-left: 0;
		background-image: url(../img/bg-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.slogan {
		margin-top: 40px;
		font-size: 30px;
	}

	.slogan__show-br {
		display: none;
	}

	.slogan__hide-br {
		display: block;
	}

	.logo--desktop {
		display: none;
	}

	.logo--mobile {
		display: block;
	}

	.btn--welcome {
		margin-top: 35px;
		width: 280px;
		height: 50px;
		font-size: 14px;
	}

	.mouse {
		display: none;
	}

	.shares {
		display: none;
	}

	.shares-mobile {
		display: block;
	}

	.main-catalog-btn {
		display: flex;
	}

	.services__title  {
		font-size: 30px;
		margin-top: 64px;
		font-weight: 900;
	}

	.services__inner {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.services__inner--no-margin {
		margin: 0;
	}

	.services__block {
		height: 217px;
		border-bottom: 1px solid #848c9d;
		margin: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.services__caption {
		font-size: 25px;
	}

	.services__br {
		display: none;
	}

	.catalog {
		display: none;
	}

	.catalog-mobile {
		display: flex;
	}

	.sponsors {
		display: none;
	}

	.questions {
		height: 405px;
		background-image: url(../img/questions-mobile.jpg);
	}

	.questions__row {
		margin-top: 30px;
	}

	.questions__row--1 {
		flex-direction: column;
	}

	.questions__row--2 {
		display: none;
	}

	.questions__text {
		margin: 0;
		text-align: center;
	}

	.questions__text--1 {
		font-size: 30px;
	}

	.questions__text--2 {
		font-size: 20px;
	}

	.form-style {
		align-self: center;
		width: 280px;
		margin-top: 50px;
		flex-direction: column;
	}

	.form-style__button {
		margin: 30px 0 0 0;
		width: 280px;
	}

	.form-style__button:after {
		top: 75px;
		left: 23px;
	}

	footer {
		height: 300px;
	}

	.footer__inner {
		flex-direction: column;
		max-width: none;
		justify-content: flex-start;
	}

	.footer__block--1,
	.footer__block--2, 
	.footer__title,
	.footer__numbers, 
	.footer__email {
		display: none;
	}

	.footer__block {
		align-items: center;
	}

	.footer__logo {
		margin-top: 30px;
		order: 1;
		align-items: center;
	}

	.copyrighted {
		margin: 30px 0;
	}

	.footer__info {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}

	.footer__social {
		margin-top: 30px;
	}

	.footer__btn {
		display: flex;
	}

	.catalogP {
		justify-content: space-around;
	}

	.catalogP__block {
		width: 280px;
		margin-bottom: 10px;
	}

	.catalogP__img {
		width: 280px;
		height: 163px;
	}

	.catalogP__caption {
		pointer-events: none;
	}

	.catalogP__list {
		display: none;
		margin: 0;
		align-items: stretch;
		margin-bottom: 30px;
	}

	.catalogP__list>a {
		border-bottom: 1px solid #d7e3f7;
		padding: 20px 0 15px 20px;
		margin: 0;
	}

	.about-welcome {
		height: 440px;
		box-sizing: border-box;
		padding: 0 20px;
		background-image: url(../img/about-bg-m.jpg);
	}

	.about__title {
		margin-top: 140px;
		font-size: 28px;
	}

	.about_ads {
		font-weight: normal;
		margin-top: 30px;
		font-size: 17px;
	}

	.advantages__inner {
		flex-direction: column;
	}

	.advantages__title {
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 30px;
	}

	.advantages__blocks {
		max-width: 100% !important;
		min-width: 100% !important;
		width: 100%;
		height: auto;
	}

	.advantages__block {
		width: 100%;
		margin-bottom: 5px;
	}

	.advantages__mission {
		padding-top: 50px;
	}

	.advantages__headline {
		font-size: 30px;
	}

	.advantages__mission {
		width: 280px;
		align-self: center;
		margin: 0 20px;
	}

	.reviews__title {
		font-size: 30px;
	}

	.advantages--hidden {
		display: none;
	}

	.advantages__show-more {
		display: block;
	}

	.reviews__title {
		margin-top: 50px;
	}

	.reviews__inner {
		display: none;
	}

	.reviews__inner-mobile {
		display: block;
	}

	.reviews__btn {
		display: none;
	}

	.news__inner {
		width: 280px;
	}

	.news__block {
		width: 280px;
		margin: 0 0 10px 0;
	}

	.news__img {
		width: 280px;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}

	.news__btn {
		display: flex;
	}

	.catalogP__title {
		margin: 50px 0 30px 0;
		font-size: 30px;
	}

	.modal__consl-title {
		font-size: 30px;
	}

	.modal__consl {
		padding: 0;
	}

	.modal__consl>.form-style {
		margin-top: 50px;
	}

	.modal__consl>.form-style>button {
		width: 280px;
		height: 50px;
	}

	.news_btn-back {
		height: 60px;
		padding-left: 20px;
		background-color: #e6e9ed;
	}

	.news-single__welcome {
		flex-direction: column;
		overflow: hidden;
		height: 450px;
		background-color: #f7faff;
	}

	.news__title {
		font-size: 30px;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.news-single__img {
		width: 100%;
		height: 210px;
	}

	.news-single__title-wrapper {
		width: 100%;
	}

	.news-single__title-block {
		left: 50%;
		transform: translateX(-50%);
		top: -30px;
		box-sizing: border-box;
		padding: 20px;
		width: calc(100% - 40px);
	}

	.news_btn-back-text--desktop {
		display: none;
	}

	.arrow-news-back-desktop {
		display: none;
	}

	.news_btn-back-text--mobile {
		display: block;
		margin-top: 4px;
	}

	.arrow-news-back-mobile {
		display: block;
		margin-right: 35px;
	}

	.news-single__title {
		font-size: 25px;
	}

	.news-single__article {
		max-width: 100%;
		margin: 0;
		padding: 0 20px;
		box-sizing: border-box;
		background-color: #f7faff;
	}

	.catalogS__nav {
		display: none;
	}

	.catalogS__back {
		display: flex;
	}

	.catalogS__sort {
		display: none;
	}

	.catalogS__inner {
		max-width: 100%;
		position: relative;
	}

	.catalogS__list {
		margin: 0;
		overflow: hidden;
	}

	.catalogS__form {
		position: absolute;
		z-index: 6;
		width: 100%;
		margin: 0;
		border-radius: 0;
		top: -640px;
		transition: all 0.1s ease-out;
		overflow: hidden;
	}

	.catalogS__form-inner {
		height: 460px;
		overflow-y: scroll;
	}

	.catalogS__form-inputs>input {
		width: 50%;
	}

	.catalogS-form__btns {
		flex-direction: row;
		box-sizing: border-box;
		box-shadow: 0px -1px 10px 0px rgba(55, 79, 109, 0.4);
	}

	.catalogS_form-reset {
		width: 50%;
		margin: 0;
		height: 42px;
		border-radius: 0;
		border: 0;
		background: #323b4e;
		color: #fff;
		font-size: 14px;
		font-weight: normal;
	}

	.catalogS_form-submit {
		width: 50%;
		height: 42px;
	}

	.catalogS_form-submit>button {
		width: 100%;
		height: 100%;
		border-radius: 0;
		font-size: 14px;
		font-weight: normal;
	}

	.catalogS-page-nav {
		display: none;
	}

	.catalogS__popup {
		top: 20px;
		left: 21px;
		z-index: 7;
		align-self: flex-start;
		width: 320px;
	}

	.catalogS-hide-text {
		display: none;
	}

	.catalogS__sort-mobile {
		display: flex;
	}

	.catalogS__popup-mobile-sort-dot {
		display: block;
	}

	.catalogS__popup>a {
		justify-content: space-between;
		padding-right: 15px;
	}

	.catalogS__block {
		width: 120px;
		height: 220px;
		margin: 0 0 40px 0;
	}

	.catalogS__img {
		width: 120px;
		height: 150px;
	}

	.catalogS__info-inner {
		padding: 0;
		height: 120px;
	}

	.catalogS__info {
		padding-top: 150px;
		width: 120px;
		height: 40px;
		position: relative;
		background-color: rgba(0, 0, 0, 0);
		z-index: 5;
		position: relative;
	}

	.catalogS__text {
		display: none;
	}

	.catalogS__zoom {
		display: none;
	}

	.catalog_S__list-blocks {
		width: 300px;
		justify-content: space-between;
		align-self: center;
	}

	.catalogI__inner {
		flex-direction: column;
	}

	.catalogI__info-text {
		height: 200px;
		overflow: hidden;
		padding-left: 20px;
		line-height: 1.533;
		margin-bottom: 10px;
	}

	.catalogI__img-slides {
		align-self: center;
	}

	.catalogI__img-nav {
		width: 280px;
		justify-content: space-between;
	}

	.catalogI__img-nav>div {
		width: 65px;
		height: 65px;
		margin-right: 0;
	}

	.catalogI__img-subj {
		width: 280px;
		height: 360px;
		align-self: center;
	}

	.catalogI__img-nav>div:last-child {
		display: none;
	}

	.catalogI__img-slides {
		margin: 0;
	}

	.catalogI__consl {
		width: 280px;
		height: 156px;
	}

	.catalogI__consl-btn {
		width: 240px;
		height: 41px;
	}

	.catalogI__table-title {
		flex-direction: column;
	}

	.catalog__table-shadow {
		display: none;
	}

	.catalogI__table-list {
		display: flex;
		max-height: 0;
		overflow: hidden;
	}

	.catalogI__table-title>div {
		padding: 0;
		text-transform: none;
		border: 0;
	}

	.catalogI__table {
		margin: 0;
		padding: 0;
	}

	.catalogI__img-slides {
		width: 280px;
	}

	.catalogI__info {
		margin-top: 50px;
	}

	.catalogI__info-title {
		text-align: center;
	}

	.catalogI__table-headline {
		text-transform: uppercase !important;
		width: 100%;
		height: 50px;
		border-top: 1px solid #d3d8de;
		border-bottom: 1px solid #d3d8de !important;
		color: #5a6885 !important;
		box-sizing: border-box;
		padding-left: 20px !important;
		background-color: #e6e9ed;
		display: flex;
		align-items: center;
	}

	.catalogI__table-row>div:first-child {
		margin-right: 50px;
		padding-top: 16px;
		padding-bottom: 14px;
		width: 50%;
	}

	.catalogI__table-row>div:nth-child(2) {
		width: 50%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.catalogI__table-row {
		line-height: 1.643;
		padding-right: 20px;
	}

	.catalogI__table-row-2>div {
		width: 50%;
	}

	.catalogI__table-row-2>div:first-child {
		margin-right: 50px;
	}

	.catalogI__table-price {
		font-size: 14px !important;
	}

	.catalogI__table-btn {
		display: none;
	}

	.catalogI__table-row-2 {
		align-items: flex-start;
	}

	.catalogI__table-row-2:first-child {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.catalogI__showmore {
		display: flex;
	}

	.catalogI_headline_img {
		display: block;
	}

	.ourservices__headline {
		font-size: 30px;
		margin: 50px 0 30px 0;
	}

	.ourservices__inner {
		width: 100%;
		padding: 0;
	}

	.ourservices__welcome {
		flex-direction: column;
		width: 100%;
	}

	.ourservices__welcome>div {
		width: 100%;
		background: #fff;
		height: 150px;
		position: relative;
		padding: 0;
		border-radius: 0;
		overflow: hidden;
	}

	.ourservices__welcome-btn {
		align-self: flex-start;
		left: 50%;
		transform: translate(-50%);
	}

	.ourservices__welcome-btn {
		width: 280px;
		height: 150px;
		top: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, 0);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;
		overflow: hidden;
		font: 25px Muller;
		font-weight: bold;
		text-align: center;
	}

	.ourservices__welcome-title {
		display: none;
	}

	.ourservices__welcome-img {
		width: 280px;
	}

	.ourservices__welcome>div:nth-child(1)>div {
		background-image: url('../img/ourservices-1-m.png');
	}

	.ourservices__welcome>div:nth-child(2)>div {
		background-image: url('../img/ourservices-2-m.png');
	}
	
	.ourservices__welcome>div:nth-child(3)>div {
		background-image: url('../img/ourservices-3-m.png');
	}

	.ourservices__welcome>div:nth-child(4)>div {
		background-image: url('../img/ourservices-4-m.png');
	}

	.ourservices__welcome>div:nth-child(5)>div {
		background-image: url('../img/ourservices-5-m.png');
	}

	.ourservices__welcome-img {
		display: none;
	}

	.ourservices__nav {
		margin: 0;
		min-width: 100%;
	}

	.ourservices__inner {
		flex-direction: column;
	}

	.ourservices__title {
		display: none;
	}

	.ourservices__title-list>a {
		padding-left: 20px;
		box-sizing: border-box;
		height: 50px;
		border-bottom: 1px solid #d7e3f7;
		width: 100%;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;
	}

	.ourservices__title-list>a>img {
		display: block;
	}

	.ourservices__title-list {
		max-height: 0;
		overflow: hidden;
	}

	.ourservices__block {
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s ease-out;
	}

	.ourservices__blocks-wrapper {
		flex-direction: column;
		max-width: 100%;
	}

	.ourservices__img {
		width: 280px;
		height: 312px;
		margin: 0;
		align-self: center;
		text-align: center;
		justify-content: flex-start;
		margin-top: 20px;
		padding: 20px 0 0 0;
		font-size: 25px;
	}

	.ourservices__text {
		width: 280px;
		align-self: center;
	}

	.cran {
		display: none;
	}

	.kid {
		display: none;
	}

	.cran2 {
		display: none;
	}

	.idk {
		display: none;
	}

	.ourservices__block-7>.ourservices__img {
		display: none;
	}

	.ourservices__block-8>.ourservices__img {
		display: none;
	}

	.ourservices__block-9>.ourservices__img {
		display: none;
	}

	.ourservices__block {
		align-self: center;
	}

	.ourservices__img-1 {
		background-image: url('../img/osm-1.png') !important;
	}

	.ourservices__img-2 {
		background-image: url('../img/osm-4.png') !important;
	}

	.ourservices__img-3 {
		background-image: url('../img/osm-6.png') !important;
	}

	.ourservices__img-4 {
		background-image: url('../img/osm-2.png') !important;
	}

	.ourservices__img-5 {
		background-image: url('../img/osm-5.png') !important;
	}

	.ourservices__img-6 {
		background-image: url('../img/osm-3.png') !important;
	}

	.ourservices__form {
		display: none;
		width: 100%;
		border-radius: 0;
		padding: 50px 20px 0 20px;
		margin-bottom: 50px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 40%;
		background-image: url('../img/ourservices-form-m.jpg');
	}

	.ourservices-form-title {
		align-self: center;
		font-size: 25px;
	}

	.ourservices__form>.form-style__inner {
		width: 280px;
		align-self: center;
	}

	.ourservices__form > .form-style__inner > .form-style__input {
		width: 280px;
	}

	.ourservices-form-q {
		align-self: center;
		width: 280px;
	}

	.ourservices__form>.checkbox__block {
		align-self: center;
		width: 280px;
	}

	.ourservices__form-btn {
		align-self: center;
		width: 280px;
		display: inline-block;
		text-align: center;
	}

	.catalogI__inner>.ourservices-back  {
		display: flex;
	}

	.objects {
		width: 280px;
		height: auto;
		flex-direction: column;
		box-sizing: border-box;
	}

	.objects__slides img {
		min-height: 190px;
	}

	.objects__info {
		width: 280px;
		padding: 20px;
	}

	.objects__slides {
		height: 190px;
	}

	.objects__info-title {
		font-size: 25px;
	}

	.objects__info-text {
		width: 240px;
	}

	.objects__btn {
		width: 240px;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.peppermint--2 {
		order: 0;
	}

	.objects__title {
		font-size: 30px;
	}

	#map {
		display: none;
	}

	.contacts {
		height: 100vh;
	}

	.contacts__inner {
		top: 0;
		width: 100%;
		height: 100vh;
		position: relative;
		left: 0;
		right: 0;
	}

	.contacts__blur {
		display: none;
	}

	.contacts__title {
		display: none;
	}

	.contacts__container {
		padding: 0;
		width: 280px;
		display: flex;
		height: 100vh;
		flex-direction: column;
		box-sizing: border-box;
		padding-bottom: 30px;
		left: 50%;
		transform: translate(-50%);
	}

	.contacts__social {
		order: 1;
		margin-top: auto;
	}

	.contacts__numbers {
		margin-top: 30px;
		height: 280px;
	}

	.contacts__social>img:last-child {
		margin: 0;
	}

	.catalogI-big {
		display: none;
	}

	.catalogS_form-submit>button {
		display: inline-block;
		text-align: center;
	}

}