@media (max-width: 1410px) {

	.reviews__inner {
		max-width: 900px;
	}

	.reviews__block:nth-child(2n) {
		margin-right: 0;
	}

}

@media (max-width: 1839px) and (min-width: 1410px) {

	.reviews__block:nth-child(3n) {
		margin-right: 0;
	}

}

@media (min-width: 1839px) {

	.reviews__inner {
		max-width: 1840px;
	}

	.reviews__block:nth-child(4n) {
		margin-right: 0;
	}

}

@media (max-width: 1367px) {
	
	.catalog__block {
		width: 240px;
	}

	.advantages__mission>p {
		font-size: 14px;
	}
}


@media (max-width: 1279px) {

	.body--noscroll {
		overflow-y: scroll;
		position: fixed;
	}

	
	.main-video {
		display: none;
	}

	header {
		padding: 0 20px;
		align-items: center;
	}

	.hamburger>div {
		color: #7e8fa5;
	}

	.header__logo {
		order: 1;
		margin: 0;
	}

	.header__logo--desktop {
		display: none;
	}

	.header__logo--mobile {
		display: block !important;
	}

	.header__call {
		order: 2;
		max-width: 280px;
		width: 100%;
		margin: 0 20px;
	}

	.menu-btn {
		order: 3;
		width: 80px;
		justify-content: flex-end;
	}

	.header--main-page {
		width: 100vw;
		height: 53px;
		padding: 11px 20px 0 20px;
		align-items: center;
	}

	.modal {
		overflow-y: scroll;
		padding: 80px 0 0 0;
		box-sizing: border-box;
		align-items: flex-start;
	}

	.modal__info {
		display: none;
	}

	.menu {
		padding-top: 40px;
		height: 430px;
		width: 290px;
	}

	.menu:after {
		width: 25px;
	}

	.menu:before {
		width: 156px;
	}

	.menu__title {
		top: -14px;
		left: 30px;
		font-size: 30px;
	}

	.menu>a {
		font-size: 25px;
	}

	.menu-btn__text {
		display: none;
	}

	.header__info {
		display: none;
	}

	.header__call {
		display: flex;
	}

	.welcome {
		height: 500px;
		padding-top: 80px;
		padding-left: 0;
		background-image: url(../img/bg-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.slogan {
		margin-top: 40px;
		font-size: 30px;
	}

	.slogan__show-br {
		display: none;
	}

	.slogan__hide-br {
		display: block;
	}

	.logo--desktop {
		display: none;
	}

	.logo--mobile {
		display: block;
	}

	.btn--welcome {
		margin-top: 50px;
		width: 280px;
		height: 50px;
		font-size: 14px;
	}

	.mouse {
		display: none;
	}

	.shares {
		display: none;
	}

	.shares-mobile {
		display: block;
	}

	.main-catalog-btn {
		display: flex;
	}

	.services__title  {
		font-size: 30px;
		margin-top: 64px;
		font-weight: 900;
	}

	.services__inner {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.services__inner--no-margin {
		margin: 0;
	}

	.services__block {
		height: 217px;
		margin: 0 0 1px 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.services__caption {
		font-size: 25px;
	}

	.services__br {
		display: none;
	}

	.catalog {
		display: none;
	}

	.catalog-mobile {
		display: flex;
	}

	.sponsors {
		display: none;
	}

	.questions {
		height: 405px;
		background-image: url(../img/questions-mobile.jpg);
	}

	.questions__row {
		margin-top: 30px;
	}

	.questions__row--1 {
		flex-direction: column;
	}

	.questions__row--2 {
		display: none;
	}

	.questions__text {
		margin: 0;
		text-align: center;
	}

	.questions__text--1 {
		font-size: 30px;
	}

	.questions__text--2 {
		font-size: 20px;
	}

	.form-style {
		align-self: center;
		width: 280px;
		margin-top: 50px;
		flex-direction: column;
	}

	.form-style__button {
		margin: 30px 0 0 0;
		width: 280px;
	}

	.form-style__button:after {
		top: 75px;
		left: 23px;
	}

	footer {
		height: 300px;
	}

	.footer__inner {
		flex-direction: column;
		max-width: none;
		justify-content: flex-start;
	}

	.footer__block--1,
	.footer__block--2, 
	.footer__title,
	.footer__numbers, 
	.footer__email {
		display: none;
	}

	.footer__block {
		align-items: center;
	}

	.footer__logo {
		margin-top: 30px;
		order: 1;
		align-items: center;
	}

	.copyrighted {
		margin: 30px 0;
	}

	.footer__info {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}

	.footer__social {
		margin-top: 30px;
	}

	.footer__btn {
		display: flex;
	}

	.catalogP {
		justify-content: space-around;
	}

	.catalogP__block {
		width: 280px;
	}

	.catalogP__img {
		width: 280px;
		height: 162px;
	}

	.catalogP__list {
		display: none;
	}

	.about-welcome {
		height: 440px;
		box-sizing: border-box;
		padding: 0 20px;
		background-image: url(../img/about-bg-m.jpg);
	}

	.about__title {
		margin-top: 140px;
		font-size: 28px;
	}

	.about_ads {
		font-weight: normal;
		margin-top: 30px;
		font-size: 17px;
	}

	.advantages__inner {
		flex-direction: column;
	}

	.advantages__title {
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 30px;
	}

	.advantages__blocks {
		max-width: 100%;
		min-width: auto;
		width: 100%;
		height: auto;
	}

	.advantages__block {
		width: 100%;
		margin-bottom: 5px;
	}

	.advantages__mission {
		padding-top: 50px;
	}

	.advantages__headline {
		font-size: 30px;
	}

	.advantages__mission {
		width: 280px;
		align-self: center;
		margin: 0 20px;
	}

	.reviews__title {
		font-size: 30px;
	}

	.advantages--hidden {
		display: none;
	}

	.advantages__show-more {
		display: block;
	}

	.reviews__title {
		margin-top: 50px;
	}

	.reviews__inner {
		display: none;
	}

	.reviews__inner-mobile {
		display: block;
	}

	.reviews__btn {
		display: none;
	}

}