html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}




/* HEADER START */

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #24292e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18), 0 3px 3px rgba(0, 0, 0, 0.18);
}

.header__social {
  display: flex;
}

.header__social > ul {
  display: flex;
}

.header__link {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.header__link:hover {
  border-color: #f7f8fc;
}

.header__link > img {
  margin-top: 3px;
  width: 40px;
  height: 40px;
  filter: invert(1);
}

/* HEADER END */




/* MAIN START */

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8fc;
}

/* MAIN END */




/* CARDS START */

.cards {
  padding-top: 100px;
  padding-bottom: 40px;
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.cards > .card:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1023px) {

  .cards {
    max-width: 500px;
  }

}

@media (max-width: 767px) {

  .cards {
    max-width: 335px;
  }

}

@media (max-width: 374px) {

  .cards {
    max-width: 280px;
  }

}

/* CARDS END */




/* CARD START */

.card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18), 0 3px 3px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.20), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.card-img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  pointer-events: none;
}

.card-img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}

.card-img--hidden {
  opacity: 0;
}

@media (max-width: 1023px) {

  .card {
    height: 313px;
  }

}

@media (max-width: 767px) {

  .card {
    height: 209px;
  }

}

@media (max-width: 374px) {

  .card {
    height: 175px;
  }

}

/* CARD END */