@font-face {
	font-family: Muller;
	font-weight: bold;
	src: url(../fonts/MullerBold.otf);
}

@font-face {
	font-family: Muller;
	font-weight: 900;
	src: url(../fonts/MullerExtraBold.otf);
}

@keyframes bounce {
	0% {
		transform: translateY(0)
	}
	
	50% {
		transform: translateY(10px)
	}
	
	100% {
		transform: translateY(0)
	}
}



body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font: 14px Roboto;
	color: #5a6885;
}

a {
	text-decoration: none;
}

header {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 73px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 50px 108px 0 108px;
	background-color: #ccc;
	color: #b8cce6;
	font-size: 20px;
	font-weight: 500;
}

.header--main-page {
	background-color: rgba(0, 0, 0, 0);
}

main {
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.menu-btn {
	display: flex;
}

.hamburger {
	position: relative;
	width: 29px;
	height: 23px;
	cursor: pointer;
}

.hamburger>div {
	position: absolute;;
	width: 100%;
	height: 3px;
	background: #fff;
}

.hamburger>div:nth-child(1) {
	top: 0;
}

.hamburger>div:nth-child(2) {
	top: 10px;
}

.hamburger>div:nth-child(3) {
	top: 20px;
}

.menu-btn__text {
	margin-top: -2px;
	margin-left: 25px;
	cursor: pointer;
}

.header__info {
	margin-top: -4px;
	width: 350px;
	display: flex;
	justify-content: space-between;
}

.header__call {
	width: 102px;
	height: 42px;
	display: none;
	justify-content: center;
	align-items: center;
	border: 1px solid #505966;
	font-weight: normal;
	color: #c3d7f2;
	font-size: 14px;
	border-radius: 5px;
}

.main-video {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 950px;
	overflow: hidden;
}

.main-video>video {
	width: 100%;
	height: 950px;
	object-fit: cover;
}

.welcome {
	z-index: 3;
	height: 950px;
	padding-top: 150px;
	padding-left: 36px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	pointer-events: none;
}

.logo--mobile {
	display: none;
}

.slogan {
	margin-top: 60px;
	font: 50px Muller;
	font-weight: 900;
	color: #fff;
	text-align: center;;
}

.slogan__hide-br {
	display: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-image: -moz-linear-gradient( 0deg, rgb(17,130,49) 0%, rgb(41,148,61) 15%, rgb(65,165,72) 50%, rgb(41,148,61) 85%, rgb(17,130,49) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(17,130,49) 0%, rgb(41,148,61) 15%, rgb(65,165,72) 50%, rgb(41,148,61) 85%, rgb(17,130,49) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(17,130,49) 0%, rgb(41,148,61) 15%, rgb(65,165,72) 50%, rgb(41,148,61) 85%, rgb(17,130,49) 100%);
  font-size: 20px;
  cursor: pointer;
}

.btn--welcome {
	margin-top: 60px;
	width: 436px;
	height: 62px;
	border-radius: 31px;
}

.mouse {
	margin-top: 115px;
	pointer-events: none;
	animation: bounce 1.5s ease-in-out infinite;
}

.shares {
	width: 100%;
	height: 375px;
	display: flex;
}

.shares__bg {
	flex-grow: 1;
	height: 375px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.shares__info {
	margin-top: 40px;
	text-align: center;
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 500;
}

.shares__info--1 {
	color: #489682;
	font-size: 17px;
	font-weight: 400;
}

.shares__info--2 {
	color: #a19074;
	font-size: 17px;
	font-weight: 400;
}

.shares__info--3 {
	color: #a286b3;
	font-size: 17px;
	font-weight: 400;
}

.shares__info--4 {
	color: #657c97;
	font-size: 17px;
	font-weight: 400;
}

.shares__bg--1 {
	background-image: url(../img/shares-1.jpg);
}

.shares__bg--2 {
	background-image: url(../img/shares-2.jpg);
}

.shares__bg--3 {
	background-image: url(../img/shares-3.jpg);
}

.shares__bg--4 {
	background-image: url(../img/shares-4.jpg);
}

.main-catalog-btn {
	width: 100%;
	height: 80px;
	display: none;
}

.main-catalog-btn__text {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.main-catalog-btn__arrow {
	margin-left: 97px;
}

.main-catalog-btn__title {
	font-size: 25px;
	font-family: Muller;
	font-weight: bold;
}

.main-catalog-btn__info {
	color: #ccffcf;
	font-size: 14px;
}

.shares-mobile {
	display: none;
}

.services {
	display: flex;
	flex-direction: column;
}

h6 {
	font: 50px Muller;
	font-weight: bold;
	align-self: center;
	color: #323b4e;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__title {
	margin: 120px 0 0 0;
}

.title-border {
	margin-top: 10px;
	width: 64px;
	height: 3px;
	background: #45ab4c;
}

.services__inner {
	margin-top: 64px;
	display: flex;
}

.services__inner--no-margin {
	margin: 0;
}

.services__block {
	flex-grow: 1;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.services__block--1 {
	margin-right: 1.5px;
	background-image: url(../img/services-1.jpg);
}

.services__block--2 {
	margin-left: 1.5px;
	background-image: url(../img/services-2.jpg);
}

.services__block--3 {
	margin-top: 3px;
	margin-right: 1.5px;
	background-image: url(../img/services-3.jpg);
}

.services__block--4 {
	margin-top: 3px;
	margin-left: 1.5px;
	margin-right: 1.5px;
	background-image: url(../img/services-4.jpg);
}

.services__block--5 {
	margin-top: 3px;
	margin-left: 1.5px;
	background-image: url(../img/services-5.jpg);
}

.services__caption {
	font: 40px Muller;
	font-weight: bold;
}

.services__text {
	margin-top: 10px;
	font-size: 17px;
	color: #e4edff;
	text-align: center;
}

.catalog {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.catalog__title {
	margin-top: 120px;
}

.catalog__row {
	margin-top: 130px;
	display: flex;
	width: 100%;
	max-width: 1600px;
	padding: 0 40px;
	align-self: center;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog__row--1 {
	margin: 0;
	position: relative;
	justify-content: space-between;
}

.catalog__row--1>.catalog__block {
	width: auto;
	flex-direction: row;
	margin: 0;
}

.catalog__divider {
	position: absolute;
	left: 50%;
	height: 100%;
	background: #d4dfe7;
	width: 1px;
}

.catalog__block {
	margin-bottom: 100px;
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.catalog__img {
	height: 170px;
}

.catalog img {
	pointer-events: none;
}

.catalog__block--1>.catalog__info,
.catalog__block--2>.catalog__info {
	margin-top: 50px;
	margin-left: 100px;
}

.catalog__caption {
	margin-top: 10px;
	font: 25px Muller;
	font-weight: bold;
	color: #323b4e;
}

.catalog__list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.catalog__list>a {
	color: #5a6885;
	margin-bottom: 18px;
	transition: all 0.2s ease-out;
}

.catalog__list>a:hover {
	color: #323b4e;
	transition: all 0.2s ease-out;
}

.catalog-mobile {
	display: none;
	width: 100%;
	flex-direction: column;
}

.catalog-mobile__block {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #848c9d;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.catalog__title-mobile {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
}

.catalog-mobile__block--1 {
	background-image: url(../img/catalog-mobile-1.jpg);
}

.catalog-mobile__block--2 {
	background-image: url(../img/catalog-mobile-2.jpg);
}

.catalog-mobile__block--3 {
	background-image: url(../img/catalog-mobile-3.jpg);
}

.catalog-mobile__block--4 {
	background-image: url(../img/catalog-mobile-4.jpg);
}

.catalog-mobile__text {
	color: #fff;
	font: 25px Muller;
	font-weight: bold;
}

.catalog-mobile-btn {
	align-self: center;
	margin-top: 30px;
	width: 280px;
	height: 50px;
	border-radius: 25px;
	font-size: 14px;
	margin-bottom: 50px;
}

.sponsors {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f7faff;
}

.sponsors__title {
	margin: 120px 0 0 0;
}

.sponsors__inner {
	align-self: center;
	margin-top: 75px;
	margin-bottom: 120px;
	max-width: 1495px;
	width: 100%;
	flex-direction: column;
}

.sponsors__block {
	flex-grow: 1;
	flex-basis: 373px;
	height: 200px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}

.sponsors__row {
	display: flex;
}

.sponsors__row--1 {
	box-shadow: 0px 30px 70px 0px rgba(64, 92, 137, 0.15);
}

.sponsors__row--2 {
	box-shadow: 0px 30px 70px 0px rgba(64, 92, 137, 0.15);
}

.sponsors__block--1 {
	border-right: 1px solid #d7e3f7;
	border-bottom: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-1.png);
}

.sponsors__block--2 {
	border-right: 1px solid #d7e3f7;
	border-bottom: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-2.png);
}

.sponsors__block--3 {
	border-right: 1px solid #d7e3f7;
	border-bottom: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-3.png);
}

.sponsors__block--4 {
	border-bottom: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-4.png);
}

.sponsors__block--5 {
	border-right: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-5.png);
}

.sponsors__block--6 {
	border-right: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-6.png);
}

.sponsors__block--7 {
	border-right: 1px solid #d7e3f7;
	background-image: url(../img/sponsors-7.png);
}

.sponsors__block--8 {
	background-image: url(../img/sponsors-8.png);
}

.questions {
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	background-image: url(../img/questions-bg.jpg);
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
}

.questions__row {
	margin-top: 120px;
	max-width: 1535px;
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
	align-self: center;
	display: flex;
}

.questions__text {
	margin-right: 90px;
	display: flex;
	flex-direction: column;
}

.questions__text--1 {
	font: 50px Muller;
	font-weight: 900;
}

.questions__text--2 {
	margin-top: 15px;
	margin-left: 1px;
	font: 25px Muller;
	font-weight: 900;
	color: #818992;
}

.form-style {
	display: flex;
	flex-grow: 1;
}

.form-style__inner {
	position: relative;
	flex-grow: 1;
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-style__input {
	background: none;
	border: 0;
	border-bottom: 1px solid #78838e;
	outline: none;
	font: 18px Roboto;
	font-weight: bold;
	color: #fff;
}

.form-style__button {
	position: relative;
	margin-left: 100px;
	width: 416px;
	height: 60px;
	display: inline-block;
	border-radius: 30px;
	border: 0;
	font: 17px Roboto Medium;
}

.form-style__label {
	position: absolute;
	font-weight: bold;
	text-transform: uppercase;
	color: #868e96;
	transition: all 0.1s ease-out;
	pointer-events: none;
}

.form-style__name {
	top: 0;
}

.form-style__phone {
	top: 60px;
}

.form-style__name.form-style__label--active {
	top: -13px;
}

.form-style__phone.form-style__label--active {
	top: 45px;
}

.form-style__label--active {
	font-size: 10px;
	transition: all 0.1s ease-out;
}

.form-style__button:after {
	pointer-events: none;
	position: absolute;
	top: 75px;
	left: 90px;
	color: #67717b;
	font-size: 14px;
	content: 'Мы очень быстро свяжемся с вами';
}

.questions__row--2 {
	justify-content: space-between;
}

.questions__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid rgba(255, 255, 255, 0.051);
	padding-right: 75px;
}

.questions__info:last-child {
	border: 0;
}

.questions__count {
	font: 80px Muller;
	font-weight: 900px;
}

.questions__title {
	font: 25px Muller;
	color: #818992;
}