@font-face {
  font-family: Proxima Nova;
  font-weight: 500;
  src: url(../fonts/ProximaNova/PROXIMA_NOVA_BOLD.OTF);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 600;
  src: url(../fonts/ProximaNova/PROXIMA_NOVA_SEMIBOLD.OTF);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 800;
  src: url(../fonts/ProximaNova/PROXIMA_NOVA_EXTRABOLD.OTF);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url(../fonts/ProximaNova/PROXIMA_NOVA_BLACK.OTF);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  font-style: italic;
  src: url(../fonts/ProximaNova/PROXIMA_NOVA_BLACK_ITALIC.OTF);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 16px;
  color: #222;
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 220px;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 65px;
  text-align: center;
  align-self: center;
  color: #fff;
  max-width: 650px;
  line-height: 0.923;
}

h4 {
  color: #222;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 50px;
}

.h4--center {
  text-align: center;
}

.h4--small {
  font-size: 25px;
}

input, textarea {
  font-family: Roboto;
  font-size: 16px;
  text-overflow: ellipsis;
}

input::placeholder, textarea::placeholder {
  font-family: Roboto;
  font-size: 16px;
  color: #222;
}

::selection {
  background-color: #ed3775;
  color: #fff
}




header {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: #000;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__link {
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 13px;
}

.header__link:hover {
  color: #ffe478;
  transition: all 0.15s ease-in-out;
}

.header__nav > .header__link:not(:last-child) {
  margin-right: 33px;
}

.header__user {
  display: flex;
}

.btn {
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-top: 1px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  color: #222;
  background-color: #fff;
  transition: all 0.15s ease-in-out;
  border-color: #fff;
}

.btn--header {
  text-transform: uppercase;
  height: 38px;
  font-family: Proxima Nova;
  font-weight: 800;
  font-size: 13px;
  border-color: rgba(255, 255, 255, 0.251);
}

.btn--pink {
  border-color: #eb2778;
  background-color: #eb2778;
  box-shadow: -1.042px 5.909px 20.37px 0.63px rgba(236, 55, 117, 0.6);
}

.btn--pink:hover {
  border-color: #9d0551;
  color: #fbfbfb;
  background-color: #9d0551;
}

.btn--black {
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.btn--black:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.btn--green {
  color: #fff;
  border-color: #3db00f;
  background-color: #3db00f;
}

.btn--green:hover {
  border-color: #30840f;
  background-color: #30840f;
  color: #fff;
}

.btn--lightblue {
  color: #fff;
  border-color: #349cd7;
  background-color: #349cd7;
}

.btn--lightblue:hover {
  border-color: #257daf;
  background-color: #257daf;
  color: #fff;
}

.header__lang {
  margin-left: 30px;
  position: relative;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__lang-list {
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  transition: all 0.15s ease-in-out;
  margin-top: 40px;
  top: 0;
  right: 0;
  padding: 10px;
}

.header__lang-list > a {
  display: block;
  font-family: Proxima Nova;
  font-weight: 800;
  font-size: 13px;
}

.header__lang-list > a:not(:last-child) {
  margin-bottom: 10px;
}

.header__lang-current {
  display: flex;
  align-items: center;
}

.header__lang-current > span {
  color: #a8a8a8;
  font-family: Proxima Nova;
  font-weight: 800;
  font-size: 13px;
  margin-right: 6px;
}

.header__lang:hover > .header__lang-list {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.header__lang--email {
  display: none;
}

.header__email-img {
  margin-right: 10px;
}

.header__lang--email > .header__lang-current > span {
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 600;
}

.header--index {
  top: 10px;
  background-color: transparent;
  background-image: none;
}

.header--account > .header__inner {
  max-width: 100%;
}

.header__logo {
  transform: translateX(-20px);
}

.header--account > .header__inner > .header__user > .btn {
  display: none;
}

.header--account > .header__inner > .header__user > .header__lang--email {
  display: flex;
}

.header__menu {
  display: none;
}

.header__close {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__inner {
  position: relative;
  z-index: 1;
  height: 1040px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.welcome__video {
  position: absolute;
  width: 100%;
  height: 1040px;
}

.welcome__video > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__nav {
  margin-top: 30px;
  display: flex;
  align-self: center;
}

.welcome__nav > .btn:not(:last-child) {
  margin-right: 20px;
}

.welcome__youtube {
  transform: translateY(180px);
  align-self: center;
  width: 840px;
  height: 470px;
  box-shadow: 15px 25.981px 65px 0px rgba(0, 0, 0, 0.2);
}

.features {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.features__inner {
  padding-top: 180px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.features__list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  width: 100%;
  margin-bottom: 50px;
}

.features__list > .features__card:not(:nth-child(3n)) {
  margin-right: 60px;
}

.features__card-img {
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__card-title {
  margin-top: 25px;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 25px;
  color: #222;
  text-align: center;
  height: 50px;
}

.features__card-text {
  margin-top: 30px;
  color: #222;
  line-height: 1.563;
}

.vista {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.vista__block {
  display: flex;
  justify-content: center;
}

.vista__block-inner {
  width: 100%;
  max-width: 1140px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.vista__block--1 > .vista__block-inner {
  background-image: url('../img/v1.png');
  background-position: right 85px bottom;
}

.vista__block--2 {
  background-color: #f9be60;
}

.vista__block--2 > .vista__block-inner {
  background-image: url('../img/v2.png');
  background-position: left 50px bottom 10px;
}

.vista__block--3 > .vista__block-inner {
  background-image: url('../img/v3.png');
  background-position: right 160px bottom 30px;
}

.vista__block--4 {
  background-color: #db1e70;
}

.vista__block--4 > .vista__block-inner {
  background-image: url('../img/v4.png');
  background-position: left 70px bottom;
}

.vista__card {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  align-self: flex-start;
  max-width: 660px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.vista__card--right {
  align-self: flex-end;
}

.vista__card--lightblue {
  background-color: rgb(216, 240, 255, 0.651);
}

.vista__card--yellow {
  background-color: rgb(255, 253, 236, 0.949);
}

.vista__card--pink {
  background-color: rgb(245, 213, 255, 0.651);
}

.vista__card--white {
  background-color: rgb(255, 255, 255, 0.949);
}

.vista__card-title {
  font-family: Proxima Nova;
  font-weight: 900;
  font-style: italic;
  font-size: 45px;
  line-height: 1;
}

.vista__card-text {
  margin-top: 25px;
  line-height: 1.563;
}

.vista__card > .btn {
  margin-top: 30px;
  align-self: flex-start;
}

.price {
  display: flex;
  justify-content: center;
  background-color: #160106;
  background-repeat: no-repeat;
  background-image: url('../img/price-bg.png');
  background-size: cover;
}

.price__inner {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.price__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  width: 100%;
  height: 370px;
  padding-left: 32px;
  padding-right: 32px;
}

.price__inner > .price__card:not(:last-child) {
  border-right: 1px solid rgb(75, 75, 75, 0.431);
}

.price__card-title {
  font-size: 25px;
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 900;
  text-align: center;
  height: 40px;
}

.price__card-value {
  margin-top: 20px;
  font-size: 65px;
  color: #e43258;
  font-family: Proxima Nova;
  font-weight: 900;
  font-style: italic;
  display: flex;
}

.price__card-value > span {
  font-family: Roboto;
}

.price__card-month {
  margin-top: -10px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.price__card-account {
  color: #bbb;
  font-size: 20px;
  font-weight: 500;
}

.price__card-text {
  margin-top: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.price__card > .btn {
  margin-top: auto;
  width: 100%;
}

.feed {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.feed__inner {
  padding-top: 100px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.feed__video {
  max-width: 652px;
  width: 100%;
  height: 387px;
  box-shadow: 15px 25.981px 65px 0px rgba(0, 0, 0, 0.2);
}

.feed__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #fbfbfb;
}

.feed__card {
  max-width: 456px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
}

.feed__list > .feed__card:not(:last-child) {
  border-bottom: 1px solid #fbfbfb;
}

.feed__card-title {
  font-weight: bold;
  color: #e00577;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
}

.feed__card-text {
  margin-top: 15px;
  font-size: 14px;
  color: #222;
  transition: all 0.15s ease-in-out;
}

.feed__card:hover {
  transform: translateX(-9px);
  box-shadow: 15px 25.981px 65px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
}

.feed__card:hover > .feed__card-title {
  color: #000;
  transition: all 0.15s ease-in-out;
}

.feed__card:hover > .feed__card-text {
  color: #000;
  transition: all 0.15s ease-in-out;
}

.start {
  display: flex;
  justify-content: center;
  background-color: #160106;
  background-image: url('../img/start-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.start__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.start__info {
  max-width: 476px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.start__text-1 {
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 41px;
  color: #fff;
}

.start__text-2 {
  margin-top: 10px;
  font-family: Proxima Nova;
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  color: #e80d7b;
  text-transform: uppercase;
}

.start__text-3 {
  font-family: Proxima Nova;
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -35px;
}

.start__info > .btn {
  align-self: flex-start;
}

.start__screenshot {
  max-width: 555px;
  width: 100%;
  height: 390px;
  box-shadow: 15px 25.981px 65px 0px rgba(0, 0, 0, 0.2);
}

.start__screenshot > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.footer__inner {
  padding-top: 40px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.footer__info {
  margin-top: 50px;
  display: flex;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
}

.footer__link {
  font-weight: bold;
  font-size: 13px;
  color: #222;
  transition: all 0.15s ease-in-out;
  align-self: flex-start;
}

.footer__link:hover {
  color: #b0b0b0;
  transition: all 0.15s ease-in-out;
}

.footer__nav > .footer__link:not(:last-child) {
  margin-bottom: 15px;
}

.footer__social {
  max-width: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__social > span {
  color: #b2b2b2;
  font-weight: bold;
  font-size: 20px;
}

.footer__social-nav {
  margin-top: 35px;
}

.footer__social > .btn {
  margin-top: 20px;
}

.footer__social-nav > a {
  margin-right: 20px;
}

.footer__bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__email {
  display: flex;
  flex-direction: column;
}

.footer__email > a {
  font-weight: 500;
  color: #e80d7b;
  font-size: 13px;
}

.footer__email > span {
  margin-top: 5px;
  font-weight: 500;
  color: #a1a1a1;
  font-size: 11px;
}

.footer__partners {
  display: flex;
  align-items: center;
}

.footer__partners > div:not(:last-child) {
  margin-right: 25px;
}

.footer__pegas {
  display: flex;
  align-items: center;
}

.footer__pegas > img {
  margin-right: 15px;
}

.footer__pegas > span {
  font-weight: 500;
  font-size: 12px;
  color: #222;
}

.welcome--f {
  background-image: url('../img/f-welcome-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome--f > .welcome__inner > h1  {
  max-width: 800px;
}

.welcome--f > .welcome__inner > h1 > span {
  color: #ff3b96;
}

.welcome__text--f {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  max-width: 750px;
  align-self: center;
  line-height: 1.5;
}

.key {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

.key__inner {
  padding-top: 320px;
  padding-bottom: 70px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-image: url('../img/key-bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

.key__list {
  margin-top: 650px;
  display: flex;
  flex-wrap: wrap;
}

.key__card {
  max-width: 285px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key__card-value {
  color: #349cd7;
  font-size: 50px;
  font-family: Proxima Nova;
  font-weight: 900;
}

.key__card-title {
  margin-top: -10px;
  color: #349cd7;
  font-size: 25px;
  font-family: Proxima Nova;
  font-weight: 900;
  height: 20px;
}

.key__card-text {
  margin-top: 20px;
  font-size: 20px;
  font-family: Proxima Nova;
  font-weight: 800;
  text-align: center;
}

.key__inner > .btn {
  margin-top: 80px;
  align-self: center;
}

.f-features {
  display: flex;
  flex-direction: column;
}

.f-features__block {
  height: 480px;
  display: flex;
  justify-content: center;
}

.f-features__block-inner {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

.f-features__block-title {
  color: #349cd7;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 50px;
  max-width: 400px;
  width: 100%;
  line-height: 0.8;
  padding-left: 20px;
  padding-right: 20px;
}

.f-features__block-text {
  margin-top: 30px;
  max-width: 400px;
  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
}

.f-features__block--1 {
  background-color: #dfdfdf;
}

.f-features__block--2 {
  background-color: #fbfbfb;
}

.f-features__block--3 {
  background-color: #f0f0f0;
}

.f-features__block--1 > .f-features__block-inner {
  align-items: flex-end;
  background-image: url('../img/f-f-1.png');
  background-position: left center;
}

.f-features__block--2 .f-features__block-inner {
  background-image: url('../img/f-f-2.png');
  background-position: right center;
}

.f-features__block--3 .f-features__block-inner {
  align-items: flex-end;
  background-image: url('../img/f-f-3.png');
  background-position: left 65px center;
}

.features--f .features__card-title {
  font-size: 20px;
}

.features--f .features__inner {
  padding-top: 40px;
}

.features--f .features__card-img {
  height: 100px;
}

.why {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

.why__inner {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.why__card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 550px;
  width: 100%;
  border: 1px solid #eaeaea;
}

.why__card-title {
  font-family: Proxima Nova;
  font-weight: 800;
  font-size: 25px;
}

.why__card-title2 {
  margin-top: 20px;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
}

.why__card-list {
  margin-top: 40px;
}

.why__card-list > div {
  font-size: 18px;
  display: flex;
  margin-bottom: 15px;
}

.why__card-list > div > span {
  font-weight: 900;
  margin-right: 10px;
}

.why__card-value {
  display: flex;
  font-family: Proxima Nova;
}

.why__card-value-1 {
  font-size: 25px;
  font-weight: 800;
  align-self: flex-end;
}

.why__card-value-2 {
  font-size: 46px;
  color: #3db00f;
  font-weight: 800;
  transform: translateY(7px);
  margin-left: 5px;
}

.why__card-value-2 > span {
  font-family: Roboto;
}

.why__card-value-3 {
  margin-left: 50px;
  font-size: 16px;
  color: #349cd7;
  padding-left: 20px;
  border-left: 2px solid #349cd7;
  height: 38px;
  transform: translateY(17px);
  display: flex;
  align-items: center;
}

.why__card--green {
  box-shadow: 12.5px 21.651px 48.5px 1.5px rgba(0, 0, 0, 0.13);
  border-width: 5px;
  border-color: rgb(61, 176, 15);
  border-style: solid;
  background-image: url('../img/icons/why__bg.png');
  background-repeat: no-repeat;
  background-position: top 40px right 40px;
}

.why__card-nav {
  margin-top: 40px;
  display: flex;
}

.why__card-nav > a {
  flex-grow: 1;
}

.why__card-nav > div {
  flex-grow: 1;
}

.why__card-nav > .btn:not(:last-child) {
  margin-right: 10px;
}

.why__inner > .why__card:not(:last-child) {
  margin-right: 39px;
}

.why__card-value-3--clean {
  margin-left: 10px;
  border: 0;
  color: #222;
}

.why__card-value-2--right {
  font-size: 40px;
  color: #e888a6;
  transform: translateY(12px);
}

.why__text {
  margin-top: auto;
}

.why__card-value--right {
  margin-top: 6px;
}

.who {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url('../img/who-bg.png');
  background-size: cover;
}

.who__inner {
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../img/4elik.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.who__inner > h4 {
  align-self: flex-start;
  color: #fff;
}

.who__list {
  margin-top: 60px;
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.who__card {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.who__card > span {
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.who__card > img {
  margin-right: 30px;
}

.join {
  display: flex;
  justify-content: center;
}

.join__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.join__inner > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.join .h4--small {
  margin-top: 20px;
}

.join__row {
  display: flex;
}

.join__row > input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid #e6e6e6;
  outline: none;
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding-left: 10px;
  transition: all 0.15s ease-in-out;
}

.join__row > input:focus {
  background-color: #fff;
  border: 1px solid #349cd7;
  transition: all 0.15s ease-in-out;
}

.join__row > input::placeholder {
  font-size: 15px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.join__row > input:focus::placeholder {
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.join__row > input:not(:last-child) {
  margin-right: 30px;
}

.join__inner > form > textarea {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 30px;
  height: 170px;
  width: 100%;
  resize: none;
  border: 1px solid #e6e6e6;
  outline: none;
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding-left: 10px;
  transition: all 0.15s ease-in-out;
}

.join__inner > form > textarea:focus {
  background-color: #fff;
  border: 1px solid #349cd7;
  transition: all 0.15s ease-in-out;
}

.join__inner > form > textarea::placeholder {
  font-size: 15px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.join__inner > form > textarea:focus::placeholder {
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.join__inner .btn {
  margin-top: 30px;
  align-self: center;
}

.f-price {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

.f-price__inner {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.f-price__card {
  max-width: 265px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 4.405px 5.44px 23.28px 0.72px rgba(0, 0, 0, 0.16);
  margin-bottom: 80px;
}

.f-price__card-title {
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 25px;
}

.f-price__card-value {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  color: #349cd7;
  margin-top: 20px;
}

.f-price__card-value > span {
  font-family: Roboto;
}

.f-price__card-payment {
  font-weight: 500;
  font-size: 15px;
  color: #a7a7a7;
}

.f-price__card-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.f-price__card-text {
  font-weight: 500;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.f-price__card-list > .f-price__card-text:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

.f-price__card-one {
  margin-top: 23px;
  color: #a7a7a7;
  font-weight: 500;
}

.f-price__card-one > span {
  color: #349cd7;
  font-style: italic;
}

.f-price__card > .btn {
  margin-top: 30px;
  width: 100%;
}

.why__bonuse {
  position: absolute;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1140px;
  width: 100%;
  background-image: url('../img/bonuse.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -4.341px 24.62px 65px 0px rgba(0, 0, 0, 0.5);
  padding-left: 115px;
  padding-right: 170px;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}

.why__bonuse--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.15s ease-in-out;
}

.why__bonuse-left {
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.why__bonuse-left > h4 {
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
}

.why__bonuse-left > h4 > span {
  color: #ee3f70;
}

.why__bonuse-left > .btn {
  margin-top: 30px;
  align-self: flex-start;
  text-align: center;
}

.why__bonuse-right > h4 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  display: none;
}

.why__bonuse-list {
  display: flex;
  flex-direction: column;
}

.why__bonuse-item {
  display: flex;
  align-items: center;
}

.why__bonuse-item > img {
  margin-right: 20px;
}

.why__bonuse-item > span {
  font-family: Proxima Nova;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}

.why__bonuse-list > .why__bonuse-item:not(:last-child) {
  margin-bottom: 20px;
}

.why__bonuse-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.col-4 {
  max-width: 385px;
  display: flex;
  flex-direction: column;
}

/* BANNER STYLES */

.wut {
  background-image: url('../img/w-i.png'), url('../img/w-bg.png');
  background-position: bottom -100px right -200px, center center;
  height: 350px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.wut--2 {
  background-image: url('../img/w-i-2.png'), url('../img/w-bg2.png');
  background-position: bottom -100px right -120px, center center;
}

.wut .btn {
  align-self: flex-start;
  max-width: 150px;
}

.wut--2 .btn {
  max-width: 200px;
}

.wut ul {
  magrin: 0;
  padding: 0;
}

.wut li {
  font-family: Proxima Nova;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.wut li img {
  margin-right: 10px;
}

.wut__h {
  font-family: Proxima Nova;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.wut__h > span {
  color: rgba(232, 13, 123, 255);
  margin-right: 5px;
}

.wut__h2 {
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}