<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Some, SEO, Tags">
    <meta name="description" content="A description of the page">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#03040D">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03040D">
    <meta name="msapplication-navbutton-color" content="#03040D">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="icon" href="img/icons/favicons/favicon_16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="img/icons/favicons/favicon_32x32.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="img/icons/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="libs/slick/slick.css">
    <link rel="stylesheet" href="libs/slick/slick-theme.css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,600|IBM+Plex+Serif:400i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <title>Metelev</title>
  </head>
  <body>
    
    <main>

      <div class="welcome">
        <div class="welcome__inner">
          <div class="welcome__bg">
            <img src="img/welcome-bg.png" alt="logo">
          </div>
          <div class="welcome__text-container">
            <div class="welcome__text-1">Драйв <br> созда − <br> вать</div>
            <div class="welcome__text-2">Драйв <br> созда − <br> вать</div>
            <div class="welcome__text-4">Драйв <br> созда − <br> вать</div>
            <div class="welcome__text-5">Драйв <br> созда − <br> вать</div>
            <div class="welcome__text-3">Драйв <br> созда − <br> вать</div>
            <div class="welcome__circle"></div>
          </div>
          <div class="welcome__side">
            <div class="welcome__logo">
              <img src="img/welcome-logo.svg" alt="logo">
              <span>Лаборатория <br> CrownMedia</span>
            </div>
            <p>В основе компании СrownMedia лежит фундаментальная ценность в постоянном развитии и создании чего то нового.</p>
            <p>Мы больше 6 лет создаем и запускаем проекты, настраиваем рекламу, разрабатываем сложные Saas проекты и собираем лучшую команду на рынке IT-проектов в СНГ.</p>
            <img class="welcome__quotes" src="img/icons/welcome-quotes.svg" alt="quotes">
            <span class="welcome__author">Александр Метелев, основатель <br> IT-лаборатории CrownMedia</span>
          </div>
        </div>
      </div>

      <div class="mission">
        <div class="mission__inner">
          <div class="mission__container">
            <div class="mission__title">Наша <br> миссия</div>
            <div class="mission__row">
              <p>Мы помогаем бизнесу масштабироваться <br> и запускать новые каналы продаж, используя сотни инструментов для работы.</p>
              <p>За плечами IT-лаборатории CrownMedia больше <br> 300 успешно запущенных сайтов и онлайн-сервисов по всему миру.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="today">
        <div class="today__inner">
          <div class="today__row">
            <h1 class="today__h1">Crown <br> Мedia <br> сегодня</h1>
            <div class="today__list-col">
              <div class="today__item">
                <div class="today__item-number today__item--projects">0</div>
                <div class="today__item-desc">Личных проектов</div>
              </div>
              <div class="today__item">
                <div class="today__item-number today__item--fr">0</div>
                <div class="today__item-desc">Запущенных франшиз</div>
              </div>
            </div>
          </div>
          <div class="today__row">
            <div class="today__list-row">
              <div class="today__item">
                <div class="today__item-number today__item--years">0</div>
                <div class="today__item-desc">Лет опыта</div>
              </div>
              <div class="today__item">
                <div class="today__item-number"><div class="today__item--users">0</div> <span>млн</span> </div>
                <div class="today__item-desc">Пользователей</div>
              </div>
              <div class="today__item">
                <div class="today__item-number today__item--contry">0</div>
                <div class="today__item-desc">Страны присутствия</div>
              </div>
              <div class="today__item">
                <div class="today__item-number today__item--emp">0</div>
                <div class="today__item-desc">Сотрудников лаборатории</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="app" class="history">
        <div class="history__inner">
          <div class="history__map">
            <div v-bind:class="{ active: isCurrentCircle(1) }" style="top: 160px; left: 120px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(2) }" style="top: 80px; left: 140px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(3) }" style="top: 360px; left: 280px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(4) }" style="top: 150px; left: 435px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(5) }" style="top: 110px; left: 460px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(6) }" style="top: 60px; left: 485px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(7) }" style="top: 109px; left: 485px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(8) }" style="top: 117px; left: 500px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(9) }" style="top: 108px; left: 522px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(10) }" style="top: 100px; left: 540px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(11) }" style="top: 53px; left: 542px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(12) }" style="top: 110px; left: 555px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(13) }" style="top: 160px; left: 578px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(14) }" style="top: 185px; left: 593px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(15) }" style="top: 80px; left: 720px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(16) }" style="top: 300px; left: 810px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(17) }" style="top: 180px; left: 855px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(18) }" style="top: 315px; left: 878px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(19) }" style="top: 164px; left: 916px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(20) }" style="top: 405px; left: 920px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(21) }" style="top: 210px; left: 640px;" class="history__map-circle"></div>
            <div v-bind:class="{ active: isCurrentCircle(22) }" style="top: 180px; left: 640px;" class="history__map-circle"></div>
          </div>
          <div class="history__title">
            <span class="history__title-span">История</span>
            <div>С 2012 года мы стремимся <br> создавать самые мощные <br> и эффективные сайты для <br> пользователей на земле.</div>
          </div>
          <div class="history__info">
            <div class="history__left">
              <div class="history__nav">
                <div class="history__nav-row">
                  <div class="history__years">
                    <div v-bind:class="{ active: isCurrentYear(2012) }" v-on:click="selectYear(2012)" class="history__year history__year--active">2012</div>
                    <div v-bind:class="{ active: isCurrentYear(2013) }" v-on:click="selectYear(2013)" class="history__year">2013</div>
                    <div v-bind:class="{ active: isCurrentYear(2014) }" v-on:click="selectYear(2014)" class="history__year">2014</div>
                    <div v-bind:class="{ active: isCurrentYear(2015) }" v-on:click="selectYear(2015)" class="history__year">2015</div>
                    <div v-bind:class="{ active: isCurrentYear(2016) }" v-on:click="selectYear(2016)" class="history__year">2016</div>
                    <div v-bind:class="{ active: isCurrentYear(2017) }" v-on:click="selectYear(2017)" class="history__year">2017</div>
                    <div v-bind:class="{ active: isCurrentYear(2018) }" v-on:click="selectYear(2018)" class="history__year">2018</div>
                  </div>
                  <div class="history__today" v-on:mouseover="preShowSlides" v-on:mouseleave="hidePreShowSlides" v-on:click="showSlides">
                    <span>Сегодня</span>
                    <img src="img/icons/history-today.svg" alt="arrow">
                  </div>
                </div>
                <div class="history__nav-row">
                  <div class="history__months">
                    <div class="history__month" v-for="project in projects" v-if="project.year === year" v-on:click="selectMonth(project.month, project.mapCircleId, project.currentLogo, project.countries, project.users, project.employees)" v-bind:class="{ active: isCurrentMonth(project.month) }">{{ translateMonth(language, project.month) }}</div>
                  </div>
                </div>
              </div>
              <div class="history__left-row">
                <div class="history__left-col">
                  <div class="history__bubbles">
                    <div v-bind:class="{ active: isCurrentLogo('ITLX') }" class="history__bubble">
                      <img src="img/bubbles/ITLX.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('ITFR') }" class="history__bubble">
                      <img src="img/bubbles/ITFR.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('ADFX') }" class="history__bubble">
                      <img src="img/bubbles/ADFX.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('ECIR') }" class="history__bubble">
                      <img src="img/bubbles/ECIR.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('BOOK') }" class="history__bubble">
                      <img src="img/bubbles/BOOK.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('CRME') }" class="history__bubble">
                      <img src="img/bubbles/CRME.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('SCMA') }" class="history__bubble">
                      <img src="img/bubbles/SCMA.svg" alt="bubble">
                    </div>
                    <div v-bind:class="{ active: isCurrentLogo('WBNRBLOG') }" class="history__bubble">
                      <img src="img/bubbles/WBNR.svg" alt="bubble">
                      <img src="img/bubbles/BLOG.svg" alt="bubble">
                    </div>
                  </div>
                  <div class="history__desc">
                    <div class="history__desc-title" v-html="renderString(year, month, language, 'title')"></div>
                    <div class="history__desc-text" v-html="renderString(year, month, language, 'description')"></div>
                  </div>
                  <div class="history__date">Дата запуска {{ renderDate(year, month) }}</div>
                </div>
              </div>
            </div>
            <div class="history__stats">
              <div class="history__stats-item">
                <div class="history__stats-value">{{ animatedCountries }}</div>
                <div class="history__stats-title">Страны присутствия</div>
                <div class="history__stats-bar">
                  <div v-bind:style="{ 'width': renderBar(currentCountries, totalCountries), 'transition': 'all 0.4s ease-in-out' }" class="history__stats-progress"></div>
                </div>
              </div>
              <div class="history__stats-item">
                <div class="history__stats-value">{{ animatedUsers }}</div>
                <div class="history__stats-title">Пользователей</div>
                <div class="history__stats-bar">
                  <div v-bind:style="{ 'width': renderBar(currentUsers, totalUsers), 'transition': 'all 0.4s ease-in-out' }" class="history__stats-progress"></div>
                </div>
              </div>
              <div class="history__stats-item">
                <div class="history__stats-value">{{ animatedEmployees }}</div>
                <div class="history__stats-title">Сотрудников</div>
                <div class="history__stats-bar">
                  <div v-bind:style="{ 'width': renderBar(currentEmployees, totalEmployees), 'transition': 'all 0.4s ease-in-out' }" class="history__stats-progress"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="history__slides">
          <div class="history__slides-inner">
            <div class="history__slides-title">Сегодня</div>
            <div class="history__slides-back" v-on:click="hideSlides">
              <img src="img/icons/history-back.svg" alt="back">
              <span>История</span>
            </div>
            <div class="history__slides-list">
              <div class="history__slide" v-for="(slide, index) in slides">
                <div class="history__slide-logo">
                  <img v-bind:src="'img/logos/' + slide.logo" alt="logo">
                </div>
                <div class="history__slide-link">
                  <a v-bind:href="slide.link">{{ renderSlideString('title', language, index)  }}</a>
                </div>
                <div v-html="renderSlideString('description', language, index)" class="history__slide-desc"></div>
              </div>
            </div>
            <div class="history__slides-nav"></div>
          </div>
        </div>
      </div>

      <div class="work">
        <div class="work__inner">
          <div class="work__headline">Работа <br> в <br> Crown <br> Media</div>
          <div class="work__list">
            <a href="">Маркетолог</a>
            <a href="">Менеджер</a>
            <a href="">Оператор поддержки</a>
            <a href="">SEO специалист</a>
            <a href="">Дизайнер</a>
            <a href="">Back end разработчик</a>
          </div>
        </div>
      </div>

      <div class="contacts">
        <div class="contacts__inner">
          <div class="contacts__form">
            <div class="contacts__headline">Контакты</div>
            <form>
              <div class="contacts__form-row">
                <div class="contacts__form-input">
                  <input type="text" required>
                  <span>Имя</span>
                </div>
                <div class="contacts__form-input">
                  <input type="text" required>
                  <span>Почта</span>
                </div>
              </div>
              <div class="contacts__form-input">
                <input type="text" required>
                <span>Сообщение</span>
              </div>
              <button>Отправить</button>
            </form>
          </div>
          <div class="contacts__side">
            <div class="contacts__side-container">
              <div class="contacts__side-text-1">Или <br> пишите <br> сюда</div>
              <div class="contacts__side-text-3">Или <br> пишите <br> сюда</div>
              <div class="contacts__side-text-4">Или <br> пишите <br> сюда</div>
              <div class="contacts__side-text-2">Или <br> пишите <br> сюда</div>
            </div>
            <div class="contacts__tg">
              <div class="contacts__tg-title">Telegram</div>
              <a class="contacts__tg-link" href="https://t.me/metelev011">t.me/metelev011</a>
            </div>
            <div class="contacts__logo">
              <img src="img/welcome-logo.svg" alt="logo">
              <span>Лаборатория <br> CrownMedia</span>
            </div>
          </div>
        </div>
      </div>

    </main>
    <script src="https://unpkg.com/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="libs/jquery-3.3.1.min.js"></script>
    <script src="libs/jquery.animateNumber.min.js"></script>
    <script src="libs/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/js.js"></script>
  </body>
</html>