.button {
  height: 48px;
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: #4A7AE1;
  box-shadow: 0px 4px 16px rgba(31, 57, 114, 0.16);
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #6492F4;
}

.button:active {
  transform: translateY(2px);
}

.button:focus {
  box-shadow: 0px 8px 20px rgba(31, 57, 114, 0.32);
}

.button:disabled {
  cursor: not-allowed;
  transform: translateY(2px);
  background-color: #999AB0;
}

.button__arrow {
  margin-top: 2px;
  margin-left: 8px;
}