@media screen and (max-width: 1023px) {
  
  .signup__header-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup__footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

@media screen and (max-width: 767px) {

  .signup__header-inner {
    flex-direction: column;
  }
  
  .signup__header-logo {
    order: -1;
    position: relative;
    left: unset;
    transform: unset;
    margin-bottom: 40px;
  }

  .signup__title {
    box-sizing: border-box;
    font-size: 20px;
  }

  .signup {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup__form-row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup__form {
    margin-bottom: 100px;
  }
  
  .signup__terms {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup__terms > span > br {
    display: none;
  }

  .signup__btn {
    max-width: 260px;
  }

  .signup__popup {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .signup__add-info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup__proxy-row {
    flex-direction: column;
  }

  .signup__input--proxy-username {
    margin-left: 0;
  }

  .signup__popup {
    overflow-y: scroll;
  }

  .signup__form {
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 350px) {

  .signup__g-recaptcha {
    max-width: 260px;
    overflow: hidden;
  }

  .signup__input > label > span {
    font-size: 11px;
  }

  .signup__notes-list {
    padding-left: 20px;
  }

  .signup__add-info--span-2 {
    font-size: 12px !important;
  }

}