@media screen and (max-width: 1024px) {
	
	.header__info {
		margin-left: 300px;
	}

	.header__info > div:not(:last-child) {
		margin-right: 20px;
	}

	.header__nav-inner > nav {
		margin-left: 300px;
	}

	.galery__images {
		max-width: 358px;
	}

	.galery__images > a:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.galery__images > a:not(:nth-child(2n)) {
		margin-right: 30px;
	}

	.galery__info {
		width: calc(60% - 30px);
	}

	.footer__info {
		max-width: 150px;
	}

}

@media screen and (max-width: 768px) {
	
	.header__social {
		display: none;
	}

	.header__nav-inner {
		height: 104px;
		display: flex;
		justify-content: flex-end;
	}

	.header__menu {
		width: 100%;
		height: 100% !important;
		background-color: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		flex-direction: column;
		margin-left: 0 !important;
		z-index: 11;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
		padding-top: 20px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s ease-in-out;
		overflow-y: scroll;
	}

	.header__menu-close {
		display: flex;
		align-items: center;
		align-self: flex-end;
	}

	.header__menu-close > img {
		margin-right: 10px;
	}

	.header__menu-close > span {
		color: #fff;
	}

	.header__nav-inner > nav > a {
		padding-left: 0;
		padding-right: 0;
		justify-content: flex-start;
		color: #fff;
		align-self: flex-start;
	}

	.header__nav-inner > nav > a:not(:last-child) {
		margin-right: 0;
	}

	.about__info {
		flex-direction: column;
	}

	.header__mobile-btn {
		display: flex;
		align-self: flex-start;
		align-items: center;
		font-size: 20px;
		font-weight: bold;
		margin-top: 20px;
	}

	.header__mobile-btn > span {
		margin-right: 10px;
	}

	.header__info > div > span > br {
		display: block;
	}

	.header__info > div:not(:last-child) {
		margin-right: 100px;
	}

	.header__menu--active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transition: all 0.2s ease-in-out;
	}

	.about__wtf {
		width: 100%;
		height: 400px;
	}

	.about__slider {
		width: 100%;
		height: 400px;
		margin-top: 40px;
		overflow: hidden;
	}

	.about .slick-slide img {
		height: 100%;
		object-fit: cover;
	}

	.galery__inner {
		flex-direction: column;
		align-items: center;
	}

	.galery__images {
		order: 1;
		max-width: 552px;
	}

	.galery__info {
		width: 100%;
	}

	.galery__images > a:not(:nth-child(2n)) {
		margin-right: 0;
	}

	.galery__images > a:not(:nth-child(3n)) {
		margin-right: 30px;
	}

	.footer__inner {
		flex-direction: column;
		align-items: center;
	}

	.footer__info {
		order: 1;
		max-width: 300px;
	}

	.footer__insta {
		order: 3;
	}

	.footer__social {
		order: 2;
		margin-bottom: 20px;
	}

	.footer__logo {
		order: 4;
	}

	.about__info-text {
		margin: 0;
	}

}

@media screen and (max-width: 414px) {
	
	.header__logo {
		display: none;
	}

	.header__info {
		margin: 0;
		justify-content: space-between;
		width: 100%;
	}

	.header__inner {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header__info > div:not(:last-child) {
		margin-right: 0;
	}

	.welcome__slogan {
		margin-top: 130px;
	}

	.welcome__slogan > img {
		display: none;
	}

	.about__wtf {
		display: none;
	}

	.about__slider {
		height: auto;
		border: 0;
	}

	.services__item {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 15px;
	}

	.numbers__inner {
		padding-left: 0;
		padding-right: 0;
	}

	.numbers__list {
		background-size: cover;
	}

	.numbers__modal {
		overflow-y: scroll;
		background-color: #5c2a1d;
		box-sizing: border-box;
	}

	.numbers__modal-container {
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 0;
		padding-bottom: 20px;
		height: 100vh;		
	}

	.modal__form-row > button {
		margin-bottom: 20px;
	}

	.galery__images > a:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.galery__images > a:not(:nth-child(2n)) {
		margin-right: 5px;
	}

	.galery__images > a {
		margin-bottom: 5px;
	}

}

@media screen and (max-width: 411px) {

	.galery__inner {
		padding-left: 20px;
		padding-right: 20px;
	}

	.galery__images {
		justify-content: center;
	}

}

@media screen and (max-width: 375px) {
	
	.numbers__list {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.numbers__items {
		margin-left: 20px;
	}

}

@media screen and (max-width: 320px) {
	
	.numbers__item-text > div {
		font-size: 16px;
	}

}