body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 14px;
  color: #A5BBEC;
}

a {
  text-decoration: none;
  color: #A5BBEC;
  transition: all 0.15s ease-in-out;
}

a:hover {
  color: #4D89FF;
  transition: all 0.15s ease-in-out;
}

a:visited {
  color: #C678DD;
  transition: all 0.15s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

input {
  font-family: Roboto;
  text-overflow: ellipsis;
}

p {
  margin: 0;
}

::selection {
  background-color: #fff;
}

header {
  margin-top: 48px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.header__inner {
  max-width: 1208px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-right: 60px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > span {
  margin-left: 5px;
  color: #fff;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 33px;
  letter-spacing: -0.04em;
  display: flex;
}

.header__logo > span > span {
  color: #4D89FF;
}

.header__nav-container {
  width: 100%;
  margin-left: 200px;
  display: flex;
  justify-content: space-between
}

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header__nav--margin > a:not(:last-child) {
  margin-right: 60px;
}

.header__nav--padding {
  padding-right: 50px;
}

.header__link {
  font-weight: bold;
}

.header__link--margin {
  margin-right: 30px;
}

.btn {
  height: 40px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3579FF;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background-color: #1b66fc;
  transition: all 0.15s ease-in-out;
}

.header__lang {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -65px;
  top: -5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__lang:hover {
  background-color: #191E3E;
}

.header__lang > li {
  display: flex;
  align-items: center;
  height: 40px;
}

.header__lang:hover > li:not(:first-child) {
  opacity: 1;
  transition: all 0.15s ease-in-out;
  visibility: visible;
  pointer-events: all;
  display: flex;
}

.header__lang > li > a {
  font-weight: bold;
  color: #A5BBEC;
}

.header__lang > li > a:hover {
  font-weight: bold;
  color:#4D89FF;
}

.header__lang > li:not(:first-child) {
  opacity: 0;
  transition: all 0.15s ease-in-out;
  visibility: hidden;
  display: none;
  pointer-events: none;
}

.header__lang-arrow {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center
}

.header__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.header__close > img {
  width: 16px;
  height: 16px;
}

.header__menu {
  display: none;
  align-items: center
}

.header__menu > img {
  width: 16px;
  height: 16px;
}

.header__menu > span {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.welcome {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(374.77px at 41.58% 44.3%, #1C2144 0%, #0E1125 100%);
}

.welcome__inner {
  padding-top: 250px;
  box-sizing: border-box;
  height: 815px;
  max-width: 1248px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/knee.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 560px;
  padding-left: 20px;
}

.welcome__inner > h1 {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 60px;
  color: #FFF;
}

.welcome__inner > p {
  margin-top: 20px;
  font-weight: 500;
  line-height: 42px;
  font-size: 30px;
  color: #C1CBE0;
}

.welcome__inner > .btn {
  margin-top: 40px;
  align-self: flex-start;
  color: #fff;
}

.features {
  width: 100%;
  display: flex;
  background-color: #0E1125;
  background-image: url('../img/boostfly.png');
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.features__inner {
  max-width: 1208px;
  width: 100%;
  height: 895px;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item:not(:nth-child(3n)) {
  margin-right: 49px;
}

.features__item-title {
  margin-top: 20px;
  font-family: Ubuntu;
  font-weight: bold;
  line-height: 31px;
  font-size: 30px;
  color: #FFF;
}

.features__item-text {
  margin-top: 20px;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  color: #C1CBE0;
}

.pres {
  background-color: #0E1125;
  display: flex;
}

.pres__content {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.pres__img {
  width: 50%;
  position: relative;
}

.pres__img > img {
  position: absolute;
  right: 0;
}

.pres__content-inner {
  max-width: 604px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pres__badge {
  background-color: #1D213A;
  border-radius: 8px;
  font-family: Roboto;
  font-weight: bold;
  line-height: 19px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #646885;
  align-self: flex-start;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.pres__title {
  margin-top: 30px;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 42px;
  color: #FFF;
}

.pres__text {
  margin-top: 20px;
  font-weight: 500;
  line-height: 35px;
  font-size: 25px;
  color: #C1CBE0;
}

.pres__nav {
  margin-top: 50px;
  display: flex;
  align-items: center
}

.pres__nav > a {
  color: #fff;
}

.pres__nav > span {
  font-weight: bold;
  font-size: 17px;
  color: #C1CBE0;
  margin-left: 20px;
}

.pres-height-1 {
  height: 671px;
}

.pres-height-2 {
  height: 707px;
}

.pres-height-3 {
  height: 721px;
}

.pres__content--justify {
  justify-content: flex-start;
}

.pres__img--left > img {
  left: 0;
}

.tracker {
  background-color: #0E1125;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tracker .pres__badge {
  align-self: center;
}

.tracker__title {
  margin-top: 30px;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 42px;
  color: #fff;
}

.tracker__text {
  margin-top: 30px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  color: #C1CBE0;
}

.tracker .btn {
  margin-top: 30px;
}

.btn--more {
  background-color: transparent;
  border: 2px solid #2F3456;
  margin-left: 20px;
}

.btn--more:hover {
  border: 2px solid #3579FF;
}

.cards {
  display: flex;
  justify-content: center;
  background-color: #0E1125;
  padding-bottom: 160px;
}

.cards__list {
  max-width: 1208px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  height: 390px;
  background-color: #1C1F32;
  border-radius: 6px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 287px;
  box-sizing: border-box;
}

.cards__item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.cards__item-title {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}

.cards__item-value {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.cards__item-value > div {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: -0.05em;
  color: #FFF;
}

.cards__item-value > div > span {
  color: #3579FF;
}

.cards__item-value > span {
  font-weight: 500;
  line-height: 18px;
  color: #C1CBE0;
  margin-left: 10px;
}

.cards__item-text {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  color: #C1CBE0;
}

.cards__item .btn {
  margin-top: auto;
  background-color: transparent;
  border: 2px solid #2F3456;
  color: #fff;
}

.cards__item .btn:hover {
  background-color: #0B54E3;
  border: 2px solid #0B54E3;
}

.wut {
  height: 542px;
  background-image: linear-gradient(180deg, #004BDE 0%, #4D89FF 100%);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wut > .wut__bg {
  position: absolute;
  left: 0;
  pointer-events: none;
}

.wut__title {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  color: #FFF;
  position: relative;
  z-index: 1;
}

.wut .btn {
  margin-top: 50px;
  background-color: #FF4242;
  min-width: 205px;
  color: #fff;
}

.wut .btn:hover {
  filter: brightness(1.5);
}

.wut > img {
  margin-top: 60px;
}

footer {
  background-color: #0E1125;
  display: flex;
  justify-content: center;
}

.footer__inner {
  height: 250px;
  max-width: 1208px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col:not(:last-child) {
  margin-right: 130px;
}

.footer__email {
  margin-top: auto;
  font-weight: bold;
  color: #4D89FF;
}

.footer__copyright {
  margin-top: 10px;
  font-weight: bold;
  color: #6C7BA1;
}

.footer__link {
  font-family: Roboto;
  font-weight: bold;
  color: #A5BBEC;
  margin-bottom: 15px;
}