body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #282C34;
	font-family: Raleway;
	font-size: 16px;
	color: #fff;
}

a {
	text-decoration: none;
	color: #5FAAEF;
	transition: all 0.15s ease-in-out;
}

a:hover {
	color: #3780c3;
	transition: all 0.15s ease-in-out;
}

a:visited {
	color: #C678DD;
	transition: all 0.15s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

input {
	font-family: Raleway;
	text-overflow: ellipsis;
}

::selection {
	background-color: #fff;
}





main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 100;
	font-size: 100px;
}

div {
	max-width: 320px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
}

.amount_input {
	width: 280px;
	height: 40px;
	border: 0;
	outline: none;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 20px;
}

.form_btn {
	width: 280px;
	height: 40px;
	border: 0;
	outline: none;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 14px;
	color: #fff;
	background: #151515;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	text-transform: uppercase;
	font-weight: bold;
}

.form_btn:hover {
	background: #101010;
	transition: all 0.15s ease-in-out;
}