@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(../fonts/PROXIMA_NOVA_REGULAR.OTF);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF);
}

@keyframes bounce {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Proxima Nova;
  font-size: 16px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

input, textarea {
  font-family: Proxima Nova;
  font-size: 16px;
  text-overflow: ellipsis;
}

input::placeholder, textarea::placeholder {
  font-family: Proxima Nova;
  font-size: 16px;
  color: #fff;
}




/* HEADER START */

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  background-color: #fff;
}

.header__container {
  display: flex;
}

.header__logo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-35deg, #f8a24d 0%, #ab435a 50%, #663366 100%);
  text-decoration: none;
}

.header__logo > img {
  transform: translateX(-2px);
}

.header__logo > span {
  display: none;
  font-size: 42px;
  font-weight: 700;
  line-height: 35.63px;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
}

.header--index {
  position: fixed;
  width: 100%;
}

.header--index .header__logo {
  width: 280px;
  align-items: flex-start;
  justify-content: flex-start;
}

.header--index .header__logo > span {
  display: block;
}

.header--index .header__logo > img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.header__text {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-left: 32px;
  align-self: center;
}

.header__nav {
  display: flex;
  height: 100%;
}

.header__nav > ul {
  display: flex;
  height: 100%;
}

.header__nav > ul > li:not(:last-child) {
  margin-right: 90px;
}

.header__nav > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.header__nav > ul > li:hover {
  border-top: 4px solid #bb555c;
}

.header__nav > ul > li > a {
  margin-top: 2px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transform: translateY(-4px);
}

.header__nav > ul > li > a:hover {
  color: #bb555c;
}

.header__nav > ul > li.active {
  border-top: 4px solid #bb555c;
}

.header__phone {
  margin-top: 2px;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  margin-right: 70px;
  align-self: center;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.header__phone:hover {
  border-bottom: 2px solid #333;
}

@media (max-width: 1919px) {

  .header__phone {
    margin-right: 40px;
  }

  .header__nav > ul > li:not(:last-child) {
    margin-right: 30px;
  }

}

@media (max-width: 1599px) {

  .header__phone {
    font-size: 20px;
  }

  .header__nav > ul > li > a {
    font-size: 16px;
  }

  .header__text {
    font-size: 18px;
  }

  .btn--header-responsive {
    margin-right: 20px !important;
  }

}

@media (max-width: 1365px) {

  .header__nav > ul > li:not(:last-child) {
    margin-right: 15px;
  }

  .header__text {
    font-size: 16px;
  }

}

/* HEADER END */




/* BTN START */

.btn {
  height: 50px;
  min-width: 208px;
  box-shadow: 0 15px 50px rgba(64, 21, 89, 0.2);
  border-radius: 25px;
  background-color: #fff;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #411659;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-left: 25px;
  padding-right: 25px;
}

.btn:hover {
  color: #fff;
  background-color: #333;
  box-shadow: 0 25px 60px rgba(64, 21, 89, 0.2);
}

.btn--gradient {
  color: #fff;
  background-image: linear-gradient(-35deg, #f8a24d 0%, #ab435a 50%, #663366 100%);
  box-shadow: 0 8px 8px rgba(102, 102, 102, 0.16);
}

.btn--gradient:hover {
  box-shadow: 0 16px 16px rgba(102, 102, 102, 0.16);
}

.btn--align-self-center {
  align-self: center;
}

.btn--align-selft-start {
  align-self: flex-start;
}

.btn--margin-right-60 {
  margin-right: 60px;
}

/* BTN END */




/* MENU START */

.menu {
  width: 100px;
  height: calc(100vh - 100px);
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.menu__social {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.menu__social > ul {
  display: flex;
  flex-direction: column;
}

.menu__social > ul > li {
  display: flex;
  height: 20px;
}

.menu__social > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.menu__social > ul > li > a {
  text-decoration: none;
}

.menu__social > ul > li > a > img:nth-child(1) {
  display: none;
}

.menu__social > ul > li:hover > a > img:nth-child(2) {
  display: none;
}

.menu__social > ul > li:hover > a > img:nth-child(1) {
  display: list-item;
}

.menu__plank {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  align-self: center;
}

.menu__plank--margin-top-30 {
  margin-top: 30px;
}

.menu__hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu__hamburger > div {
  width: 26px;
  height: 3px;
  background-color: #000;
  transition: all 0.15s ease-in-out;
}

.menu__hamburger:hover > div {
  background-color: #bb555c;
}

.menu__hamburger > div:not(:last-child) {
  margin-bottom: 5px;
}

.menu__hamburger--align-self-center {
  align-self: center;
}

.menu__hamburger--veritcal-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu__plank--margin-top-auto {
  margin-top: auto;
}

.menu__mouse {
  margin-top: 20px;
  margin-bottom: 40px;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}



/* WELCOME START */

.welcome {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

#fp-nav.fp-right {
  right: 34px !important;
}

#fp-nav > ul {
  transform: translateY(30px);
}

#fp-nav > ul > li:not(:last-child) {
  margin-bottom: 44px !important;
}

#fp-nav > ul > li > a {
  width: 8px !important;
  height: 8px !important;
  display: block;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
}

#fp-nav > ul > li > a:after {
  opacity: 0;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b95158;
  border-radius: 50%;
  transform: translate(-7px, -7px) scale(0.5);
  transition: all .2s ease-in-out;
}

#fp-nav > ul > li > a.active {
  background-color: #bb555c;
}

#fp-nav > ul > li > a.active:after {
  opacity: 1;
  transform: translate(-7px, -7px) scale(1);
}

#fp-nav > ul > li > a > span {
  display: none !important;
}

.welcome__section {
  /* transform: translateY(-100px); */
}

.welcome .fp-tableCell {
  display: flex;
  vertical-align: unset;
}

.welcome__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* padding-top: 100px;
  box-sizing: border-box; */
}

.welcome__slider > .slick-list {
  height: 100%;
}

.welcome__slider > .slick-list > .slick-track {
  height: 100%;
}

.welcome .slick-slide > div {
  height: 100%;
}

.welcome__slide {
  width: 100%;
  height: 100%;
  display: flex !important;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.welcome__slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

.welcome__slide-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__slide-info {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcome__slide-info > h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.welcome__slide-info > span {
  display: block;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.welcome__slide--1 {
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 70px;
  box-sizing: border-box;
}

.welcome__slide-img {
  margin-left: auto;
}

.welcome__slide-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome .slick-prev {
  left: 102px;
  bottom: 180px;
  top: unset;
  transform: unset;
  z-index: 5;
}

.welcome .slick-next {
  right: 100px;
  bottom: 180px;
  top: unset;
  transform: unset;
  z-index: 5;
}

.welcome .slick-prev:before {
  content: '';
  display: block;
  background-image: url('../img/welcome/arrow.svg') !important;
  font-size: 0;
  height: 21px;
  width: 52px;
  transform: rotate(180deg);
  transition: all 0.15s ease-in-out;
}

.welcome .slick-next:before {
  content: '';
  display: block;
  background-image: url('../img/welcome/arrow.svg') !important;
  font-size: 0;
  height: 21px;
  width: 52px;
  transition: all 0.15s ease-in-out;
}

.slick-slide {
  -webkit-backface-visibility: hidden;
}

.welcome .slick-dots {
  top: 100px;
  left: 100px;
}

.welcome .slick-counter {
  position:absolute;
  top: 70px;
  left: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.welcome .slick-counter:after {
  transform: translate(70px, -14px);
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #fff;
}

.welcome__services {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.welcome__services-item {
  padding-top: 50px;
  padding-left: 70px;
  box-sizing: border-box;
  height: 50%;
  width: 25%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome__services-item-title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.welcome__services-item-title:hover {
  color: #bb555c;
}

.welcome__services-item-text {
  max-width: 260px;
  width: 100%;
  margin-top: 30px;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.welcome__services-item .btn {
  align-self: flex-start;
  position: absolute;
  bottom: 40px;
}

.welcome__services-item--1 {
  background-image: url('../img/welcome/service-1.png');
}

.welcome__services-item--2 {
  background-image: url('../img/welcome/service-2.png');
}

.welcome__services-item--3 {
  background-image: url('../img/welcome/service-3.png');
}

.welcome__services-item--4 {
  background-image: url('../img/welcome/service-4.png');
}

.welcome__services-item--5 {
  background-image: url('../img/welcome/service-5.png');
}

.welcome__services-item--6 {
  background-image: url('../img/welcome/service-6.png');
}

.welcome__services-item--7 {
  background-image: url('../img/welcome/service-7.png');
}

.welcome__services-item--8 {
  background-image: url('../img/welcome/service-8.png');
}





.welcome__add {
  height: 100%;
  width: 100%;
  display: flex;
}

.welcome__add-slides {
  top: -100px;
  width: 50%;
  position: relative;
  height: calc(100% + 100px);
}

.welcome__add-slide {
  position: absolute;
  height: 100%;
  width: 100%;
}

.welcome__add-slide > img {
  height: 100%;
  width: 100%;
}

.welcome__add-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome__add-info:before {
  content: '';
  display: block;
  position: absolute;
  height: calc(100% + 100px);
  width: 1px;
  background-color: #fff;
  left: 160px;
  pointer-events: none;
}

.welcome__add-info:after {
  top: -100px;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% + 100px);
  background-image: linear-gradient(-225deg, #f4f5fa 0%, #bdbfcb 99%, #bdbfcb 100%);
}

.welcome__add-title {
  margin-top: 80px;
  margin-left: 300px;
  color: #333;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.welcome__add-slides .slick-list,
.welcome__add-slides .slick-track,
.welcome__add-slides .slick-slide {
  height: 100%;
}

.welcome__add .slick-arrow {
  display: none !important;
}

.welcome__add-nav {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.welcome__add-nav-item {
  height: 60px;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.welcome__add-nav-item:hover {
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.welcome__add-nav-item > span {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  pointer-events: none;
}

.welcome__add-nav-item > span:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #ccc;
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

.welcome__add-nav-item:hover > span:after {
  transform: translateY(-50%) scale(1);
}

.welcome__add-nav-item > div {
  margin-left: 220px;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  pointer-events: none;
}

.welcome__add-nav-item:hover > div {
  color: #bb555c;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1919px) {

  .welcome__slide-img {
    max-width: 700px;
  }

  .welcome__services-item-title {
    font-size: 26px;
    line-height: 30px;
    max-width: 260px;
  }

  .welcome__services-item-text {
    margin-top: 15px;
    font-size: 17px;
  }

  .welcome__services-item {
    padding-top: 30px;
    padding-left: 30px;
  }

  .welcome__add-title {
    margin-top: 30px;
    font-size: 36px;
  }

  .welcome__add-nav {
    margin-top: 20px;
  }

}

@media (max-width: 1599px) {

  .welcome__slide-info > h2 {
    font-size: 50px;
  }

  .welcome__slide-info > span {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .welcome__add-title {
    margin-left: 230px;
  }

  .welcome__add-nav-item > div {
    margin-left: 150px;
    font-size: 20px;
  }

}

@media (max-width: 1599px) {

  .welcome__services-item-title {
    font-size: 20px;
    line-height: 26px;
  }

  .welcome__services-item-text {
    font-size: 14px;
    line-height: 20px;
    max-width: 240px;
  }

  .welcome__services-item .btn {
    bottom: 20px;
    min-width: 160px;
    height: 50px;
  }

}

@media (max-width: 1439px) {

  .welcome__add-nav-item > div {
    font-size: 18px;
  }

  .welcome__add-nav-item > span {
    font-size: 16px;
  }

  .welcome__add-nav-item {
    height: 40px;
  }

}




.welcome__team {
  height: 100%;
  width: 100%;
  background-image: url('../img/welcome/team-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.welcome__team-title {
  margin-top: 70px;
  margin-left: 75px;
}

.welcome__team-title-text {
  margin-top: 10px;
  margin-left: 70px;
  color: #646d7a;
  font-family: "Proxima Nova";
  font-size: 82px;
  font-weight: 400;
  line-height: 65.33px;
}

.welcome__team-title-text > span {
  font-weight: 700;
}

.welcome__team-list {
  margin-top: 50px;
  margin-left: 70px;
}

.welcome__team-item {
  width: 350px;
  height: 423px;
  position: relative;
}

.welcome__team-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #213ed5;
  background-image: linear-gradient(-225deg, #73f5f3 0%, #b588f7 100%);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-left: 30px;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.welcome__team-item:hover .welcome__team-item-overlay {
  opacity: 0.9;
}

.welcome__team-item-name {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.welcome__team-item-name > span {
  font-size: 20px;
}

.welcome__team-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0
  right: 0;
  bottom: 0;
}

.welcome__team .slick-slide {
  margin-right: 58px;
}

.welcome__team .slick-prev {
  bottom: -100px;
  left: 0;
}

.welcome__team .slick-next {
  bottom: -100px;
  right: 90px;
}

.welcome__team .slick-prev:before {
  background-image: url(../img/welcome/arrow-team.png) !important;
}

.welcome__team .slick-next:before {
  background-image: url(../img/welcome/arrow-team.png) !important;
}

.welcome__team .slick-counter {
  top: unset;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: #8c9bb6;
}

.welcome__team .slick-counter > span {
  color: #333333;
}

.welcome__team .slick-counter:after {
  background-color: #a7b2c5;
}

.welcome__team .slick-counter:before {
  transform: translate(-140px, 14px);
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #a7b2c5;
}

.welcome__team--clients {
  background-image: url('../img//welcome/clients-bg.png');
}

.welcome__logos {
  margin-top: 140px;
  margin-left: 70px;
}

.welcome__logos-col > .welcome__logos-img:first-child {
  margin-bottom: 92px;
}

.welcome__logos-img {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  transition: all 0.2s ease-in-out;
}

.welcome__logos-img:hover {
  filter: grayscale(0);
}


@media (max-width: 1919px) {

  .welcome__team-item {
    width: 300px;
    height: 230px;
  }

  .welcome__team-title-text {
    font-size: 60px;
  }

}

@media (max-width: 1439px) {

  .welcome__team-title {
    margin-top: 40px;
  }

  .welcome__team-title-text {
    font-size: 40px;
    line-height: 40px;
  }

  .welcome__team-list {
    margin-top: 30px;
  }

  .welcome__team-title > img {
    height: 60px;
  }

}

@media (max-width: 1919px) {

  .welcome__logos {
    margin-top: 50px;
  }

  .welcome__logos-img {
    height: 80px;
  }

  .welcome__team--clients .welcome__team-title-text {
    font-size: 50px;
    line-height: 50px;
  }

}

@media (max-width: 1439px) {

  .welcome__team--clients .welcome__team-title-text {
    font-size: 40px;
    line-height: 40px;
  }

  .welcome__team--clients .welcome__team-title > img {
    height: 50px;
  }

  .welcome__logos-col > .welcome__logos-img:first-child {
    margin-bottom: 30px;
  }

}