<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="keywords" content="Some, SEO, Tags">
		<meta name="description" content="A description of the page">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/mobile.css">
		<link rel="icon" href="img/icons/favicon.png">
		<link rel="stylesheet" href="libs/nice-select/nice-select.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
		<title>Главная</title>
	</head>
	<body>
		<header>
			<a class="anchorn" href="" name="top"></a>
			<div class="header__inner">
				<a class="header__logo" href="index.html"><img src="img/logo.svg" alt="Логотип"></a>
				<nav>
					<a class="header__link" href="">Telegram бот</a>
					<a class="header__link" href="">Поддержка</a>
					<a class="header__link" href="">Контакты</a>
				</nav>
				<a href="cart.html" class="header__cart header__cart--disabled"> <!-- header__cart--disabled -->
					<div class="header__cart-img">
						<img src="img/icons/cart.svg">
						<div class="header__indicator"></div> <!-- header__indicator--disabled -->
					</div>
					<div class="header__value">600 ₽</div>
				</a>
				<a href="" class="btn btn--header">Войти</a>
			</div>
		</header>
		<main>
			<div class="faq">
				<div class="faq__inner">
					<h5>База знаний</h5>
					<div class="faq__content">
						<div class="faq__nav" id="spy">
							<ul class="nav nav-pills flex-column">
				        <li class="nav-item">
				          <a href="#q1" class="nav-link faq__nav-item active">How to start work?</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q2" class="nav-link faq__nav-item">Direct Module</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q3" class="nav-link faq__nav-item">Glossary</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q4" class="nav-link faq__nav-item">Statuses</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q5" class="nav-link faq__nav-item">Instructions</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q6" class="nav-link faq__nav-item">Useful Materials</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q7" class="nav-link faq__nav-item">Payment</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q8" class="nav-link faq__nav-item">Errors</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q9" class="nav-link faq__nav-item">FAQ</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q10" class="nav-link faq__nav-item">Advices</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q11" class="nav-link faq__nav-item">Updates</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q12" class="nav-link faq__nav-item">Filters</a>
				        </li>
				        <li class="nav-item">
				          <a href="#q13" class="nav-link faq__nav-item">Questions and answers</a>
				        </li>
				      </ul>
						</div>
						<div class="faq__list" id="app">
							<div class="faq__search">
								<input v-model="search" v-on:input="isEmpty" type="text" placeholder="Поиск">
							</div>
							<div id="q1" class="faq__headline faq__headline--no-margin">
								<span>How to start work?</span>
							</div>
							<div class="faq__card" v-for="post in filteredListStart">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q2" class="faq__headline faq__headline--no-margin">
								<span>Direct Module</span>
							</div>
							<div class="faq__card" v-for="post in filteredListDirect">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q3" class="faq__headline faq__headline--no-margin">
								<span>Glossary</span>
							</div>
							<div class="faq__card" v-for="post in filteredListGlossary">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q4" class="faq__headline faq__headline--no-margin">
								<span>Statuses</span>
							</div>
							<div class="faq__card" v-for="post in filteredListStatuses">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q5" class="faq__headline faq__headline--no-margin">
								<span>Instructions</span>
							</div>
							<div class="faq__card" v-for="post in filteredListGuides">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q6" class="faq__headline faq__headline--no-margin">
								<span>Materials</span>
							</div>
							<div class="faq__card" v-for="post in filteredListMaterials">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q7" class="faq__headline faq__headline--no-margin">
								<span>Payment</span>
							</div>
							<div class="faq__card" v-for="post in filteredListPay">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q8" class="faq__headline faq__headline--no-margin">
								<span>Erorrs</span>
							</div>
							<div class="faq__card" v-for="post in filteredListErorrs">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q9" class="faq__headline faq__headline--no-margin">
								<span>FAQ</span>
							</div>
							<div class="faq__card" v-for="post in filteredListFaq">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q10" class="faq__headline faq__headline--no-margin">
								<span>Advices</span>
							</div>
							<div class="faq__card" v-for="post in filteredListAdvices">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q11" class="faq__headline faq__headline--no-margin">
								<span>Updates</span>
							</div>
							<div class="faq__card" v-for="post in filteredListUpdates">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q12" class="faq__headline faq__headline--no-margin">
								<span>Filters</span>
							</div>
							<div class="faq__card" v-for="post in filteredListFilters">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
							<div id="q13" class="faq__headline faq__headline--no-margin">
								<span>Questions and answers</span>
							</div>
							<div class="faq__card" v-for="post in filteredListQues">
								<div class="faq__card-title" v-on:click="openInfo">
									<span v-html="post.title"></span>
									<div class="faq__plus">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="faq__info" v-html="post.description"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer__inner">
				<a href="index.html" class="footer__logo">
					<img src="img/logo.svg" alt="Логотип">
				</a>
				<div class="footer__nav">
					<div class="footer__row">
						<a href="">Поддержка</a>
						<a href="">Контакты</a>
						<a href="">Блог</a>
						<a href="">Телеграм бот</a>
					</div>
					<div class="footer__row">
						<a href="">Правила использования</a>
						<a href="">Франшиза</a>
						<a href="">Партнерская программа</a>
					</div>
				</div>
				<div class="footer__copyright">ECIR.ru © 2018 <br> Все права защищены</div>
				<a href="#top" class="footer__up">
					<img src="img/icons/up.svg">
				</a>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="libs/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="libs/nice-select/nice-select.min.js"></script>
		<script src="js/js.js"></script>
		<script src="js/instafaq_en.js"></script>
	</body>
</html>