@media (max-width: 1367px) and (min-width: 1280px)  {
	.s-col:first-child>div:first-child {
		background-position: 50%;
	}

.s-col:nth-child(2)>div:last-child {
		background-position: 50%;
	}

.s-col:nth-child(3)>div:first-child {
		background-position: 40%;
	}

.s-col:nth-child(4)>div:last-child {
		background-position: 50%;
	}

.s-col:nth-child(5)>div:first-child {
		background-position: 50%;
	}

.s-col:nth-child(6)>div:last-child {
		background-position: 50%;
	}

.s-col:nth-child(7)>div:first-child {
		background-position: 20%;
	}

.s-col:nth-child(8)>div:last-child {
		background-position: 40%;
	}

.s-col:nth-child(9)>div:first-child {
		background-position: 50%;
	}
	
	.menu {
		max-height: 450px;
		margin: 0;
	}
	
	.modal-form {
		margin-top: 30px;
	}
	
	.modal-form>div:nth-child(2) {
		margin-top: 15px;
	}
	
	.guest-form {
		margin: 0;
	}
	
	.freeze-form {
		margin: 0;
	}
	
}

@media (max-width: 1500px) and (min-width: 1280px) {
	.slogan {
		top: 160px;
	}

}


@media (max-width: 1279px) {
	
	.menu {
		margin: 0;
	}
	
	.guest-form {
		margin: 0;
	}
	
	.freeze-form {
		margin: 0;
	}
	
	.body-overflow {
		margin: 0;
	}
	
	.fixed-tel {
		display: none !important;
	}
	
	.headline {
		display: none;
	}
	
	.feedback {
		width: 100%;
		align-items: center;
	}
	
	.feedback>.modal-form {
		align-items: center;
	}
	
	.feedback h2 {
		font-size: 40px;
		text-align: center;
	}
	
	.feedback>span {
		width: 376px;
		text-align: center;
	}
	
	.feedback>.modal-form input {
		width: 376px;
		margin: 0;
	}
	
	.feedback>.modal-form button {
		width: 376px;
	}
	
	.feedback>.modal-form {
		width: 376px;
	}
	
	.feedback>.modal-form>div {
		flex-direction: column;
	}
	
	.feedback>.modal-form>div>div {
		flex-direction: column;
		margin-bottom: 30px;
	}
	
	.feedback>.modal-form>div>div:nth-child(1)>span {
		margin-bottom: 10px;
	}
	
	.feedback>.modal-form>div>div:nth-child(2)>span {
		margin-bottom: 10px;
	}
	
	.feedback>.modal-form>div>div:nth-child(3) {
		margin-top: -20px;
	}
	
	.feedback-msg {
		margin-top: 30px !important;
	}
	
	.feedback-msg textarea {
		width: 376px;
	}
	
	.reviews-mobile {
		display: flex;
	}
	
	body>video {
		display: none;
	}
	
	header {
		box-sizing: border-box;
	}
	
	header>div>.info {
		display: none;
	}
	
	.slogan {
		width: 100%;
		height: 780px;
		top: 0;
		box-sizing: border-box;
		background: url(../img/mobile-bg.png);
		background-position: 70%;
		text-align: center;
		position: relative;
	}
	
	.slogan>div>img {
		width: 167px;
		height: 159px;
	}
	
	.slogan>div {
		width: 100%;
		height: 780px;
		top: 160px;
		position: relative;
	}
	
	.slogan-nav {
		flex-direction: column;
		width: 376px;
		height: 220px;
		align-items: center;
	}
	
	.slogan-nav>div:first-child,
	.slogan-nav>a:nth-child(2),
	.slogan-nav>a:last-child {
		width: 376px;
	}
	
	main {
		top: 0;
	}
	
	header>div>nav>div,
	header>div>nav>a {
		display: none;
	}
	
	.fixed-header>div>a {
		display: flex;
	}
	
	header>div>nav {
		width: auto;
	}
	
	.phone-mobile {
		display: flex;
	}
	
	.slogan>div>img:last-child {
		display: none;
	}
	
	.headline {
		font-size: 32px !important;
	}
	
	.advantages {
		display: none;
	}
	
	h2 {
		font-size: 40px;
	}
	
	h6 {
		font-size: 34px;
		text-align: center;
		margin: 25px 0 25px 0;
	}
	
	.advantages-mobile {
		display: flex;
	}
	
	.services {
		display: none;
	}
	
	.floating-1 {
		display: none;
	}
	
	.floating-2 {
		height: 165px;
	}
	
	.services-mobile {
		display: flex;
	}
	
	h1,
	h5 {
		font-size: 24px;
	}
	
	#h-2 {
		left: 40px !important;
		bottom: 0 !important;
	}
	
	#h-4 {
		left: calc(50% - 98px) !important;
		bottom: -20px !important;
	}
	
	.programs {
		display: none;
	}
	
	.select-program {
		display: none;
	}
	
	.avatars {
		width: 376px;
		background: none;
	}
	
	.avatar-select {
		display: none;
	}
	
	.floating-4 {
		height: 95px;
	}
	
	.floating-4>h4 {
		width: 175px;
		color: #c5c9c9;
	}
	
	.reviews {
		display: none;
	}
	
	footer {
		height: 720px;
	}
	
	footer>div {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}
	
	footer>div>.info {
		width: 376px;
		height: 340px;
		margin-top: 60px;
	}
	
	footer>div>.info>.footer-nav {
		width: 376px;
		flex-wrap: wrap;
	}
	
	footer>div>.info>.footer-nav>div {
		width: 376px;
	}
	
	footer>div>.info>.footer-nav>a {
		width: 100px;
		margin-top: 40px;
	}
	
	footer>div>img {
		margin-top: 50px;
	}
	
	.slider {
		display: flex;
		width: 280px;
		margin-top: 0;
		order: 3;
	}
	
	.slider-bg {
		left: 90px;
	}
	
	.menu {
		width: 100%;
		height: 925px;
		justify-content: flex-start;
		padding-left: 40px;
	}
	
	.menu>div {
		margin-bottom: 50px;
	}
	
	.guest-form {
		width: 100%;
		height: 925px;
		align-items: center;
	}
	
	.guest-form>.modal-form>div {
		flex-direction: column;
	}
	
	.guest-form>h2 {
		text-align: center;
	}
	
	.guest-form>span {
		width: 376px;
		text-align: center;
	}
	
	.guest-form>span>br {
		display: none;
	}
	
	.guest-form .modal-form>div>div:nth-child(2) {
		margin-top: 30px;
	}
	
	.guest-form .modal-form>button {
		width: 376px;
	}
	
	.guest-form .modal-form input {
		width: 376px;
		margin: 0;
	}
	
	.wrongnumber-text {
		margin-left: 250px;
	}
	
	.freeze-form {
		width: 100%;
		align-items: center;
	}
	
	.freeze-form .modal-form>div {
		display: flex;
		flex-direction: column;
	}
	
	.freeze-form>h2 {
		text-align: center;
	}
	
	.freeze-form>span {
		width: 376px;
		text-align: center;
	}
	
	.freeze-form .modal-form input {
		width: 376px;
		margin: 0;
	}
	
	.freeze-form .modal-form>div>div:nth-child(2) {
		margin-top: 30px;
	}
	
	.freeze-from .modal-form>div:nth-child(2) {
		margin-top: 30px;
	}
	
	.freeze-form .modal-form>div {
		margin-top: 0;
	}
	
	.freeze-form .modal-form {
		margin-top: 30px;
	}
	
	.freeze-form .modal-form>button {
		width: 376px;
		margin-top: 35px;
	}
	
	.guest-form .modal-form button {
		margin-top: 30px;
	}
	
	h4 {
		font-size: 40px;
		height: 60px;
	}
	
	.govno {
		left: 40px;
	}
	
	.fltg4 {
		display: block;
	}
	
	.floating-4>.govno {
		left: calc(50% - 90px);
	}
	
	.advm-4>img {
		z-index: 400;
	}
	
	.mobile-m {
		display: block;
	}
	
	.menu>h2:first-child {
		display: none;
	}
	
	.slogan-nav {
		width: 100%;
	}
	
	nav {
		margin-right: 40px;
	}
	
	header>div:first-child {
		width: 100%;
	}






	/* NEW STYLES */


	.ems-m {
		background-image: url('../img/ems-m.jpg');
	}

	.fit-m {
		background-image: url('../img/fit-m.jpg');
	}

	.ems-video {
		display: none;
	}

	.slogan-ems {
		position: relative;
		height: auto;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		box-sizing: border-box;
		padding: 100px 0 0 0;
	}

	.slogan-ems__inner {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.slogan-ems__inner>h1 {
		margin-top: 40px;
		font-size: 18px !important;
	}

	.slogan-ems__text1 {
		margin-top: 0;
		font-size: 16px;
	}

	.slogan-ems__text2 {
		display: none;
	}

	.slogan-ems__text3 {
		font-size: 14px;
		margin-top: 40px;
	}

	.slogan-ems__text1>br {
		display: none;
	}

	.slogan-ems__text3>br {
		display: none;
	}

	.slogan-ems-btn {
		max-width: 376px;
		align-self: center;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.ems-how {
		height: auto;
	}

	.ems-how__inner {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		overflow: hidden;
	}

	.ems-how__title {
		margin-top: 60px;
		font-size: 36px;
		text-align: center;
		letter-spacing: 1px;
	}

	.ems-how__wrapper {
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}

	.ems-how__number {
		width: 64px;
		height: 64px;
		font-size: 36px;
	}

	.ems-how__item>span {
		margin-top: 10px;
		width: 250px;
	}

	.ems-kek {
		transform: translate(-16px, 27px);
		order: 1;
	}

	.ems-profit {
		height: auto;
		padding-bottom: 20px;
		background-image: url(../img/ems-bg-m.jpg);
	}

	.ems-profit__inner {
		flex-direction: column;
		width: 100%;
		margin-top: 40px;
		align-items: center;
	}

	.ems-profit__block {
		margin-bottom: 20px;
	}

	.ems-q__list-plus {
		margin-left: 20px;
	}

	.ems-q__inner {
		margin-bottom: 60px;
	}

	.ems-q__title {
		font-size: 36px;
		text-align: center;
		margin-top: 60px;
		margin-bottom: -30px;
	}

	.ems-form {
		height: auto;
		padding-bottom: 280px;
		background-image: url(../img/ems-form-bg-m.jpg);
	}

	.ems-form__inner {
		padding: 0 20px;
		box-sizing: border-box;
	}

	.ems-form__title {
		margin-top: 60px;
		margin-bottom: -30px;
		font-size: 34px;
		text-align: center;
	}

	.ems-form__title>br {
		display: none;
	}

	.ems-form__inner > .modal-form>div {
		flex-direction: column;
		align-items: center;
	}

	.ems-form__inner .modal-form>div>div {
		margin-top: 30px;
		max-width: 376px;
		width: 100%;
	}

	.ems-form__inner .modal-form>div>div>input {
		max-width: 376px;
		width: 100%;
		margin-right: 0;
	}

	.ems-form__inner .modal-form>div>div:last-child {
		margin-top: 30px;
	}

	.ems-form__inner > .modal-form>button {
		max-width: 376px;
		width: 100%;
		align-self: center;
	}

	.ftw {
		height: 700px;
	}

	.ftw-left {
		display: none;
	}
	
	.ftw-right {
		width: 100%;
		justify-content: center;
	}

	.ftw-right__title {
		text-align: center;
		text-transform: uppercase;
	}

	.ftw-right__inner {
		padding: 60px 20px 20px 20px;
	}

	.ftw-right__block br {
		display: none;
	}

	.ft-how {
		height: auto;
	}

	.ft-how__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ft-how__title {
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.ft-how__row {
		flex-direction: column;
		margin: 0;
	}

	.ft-how__block {
		margin-bottom: 60px;
	}

	.ft-quoute {
		background-image: url('../img/ft-quoute-m.jpg');
	}

	.ft-form {
		background-image: url(../img/ft-form-bg-m.jpg);
	}

	.services--video {
		display: none;
	}
	
}

@media (max-width: 768px) {
	.phone-mobile {
		width: 100%;
		max-width: 376px;
	}
	
	.btn-menu>span {
		display: none;
	}
	
	.btn-menu {
		max-width: 58px;
		margin-left: 40px;
	}
	
	.hamburger {
		margin: 0;
	}
	
	.advm-1>img {
		bottom: -20px;
	}
	
	
	
	
	
}

@media (max-width: 530px) {
	
	.advm-1>img {
		bottom: -30px;
	}
	
	
	
}

@media (max-width: 455px) {
	
	.slogan-nav {
		margin-top: 30px;
	}
	
	.slogan>div {
		top: 130px;
	}
	
	.phone-mobile {
		margin: 0;
	}
	
	.headline {
		font-size: 30px !important;
	}
	
	header>div>nav {
		display: none !important;
	}
	
	.slogan-nav>div:first-child,
	.slogan-nav>a:nth-child(2),
	.slogan-nav>a:last-child {
		width: 280px;
	}
	
	header>div>nav>img {
		display: none;
	}
	
	h6 {
		font-size: 26px;
	}
	
	.area-m {
		width: 280px;
	}
	
	.area-m>span {
		margin-top: 5px;
	}
	
	.advm-1>span,
	.advm-2>span,
	.advm-3>span,
	.advm-4>span {
	width: 280px;
}
	
	.advm-1>img {
		bottom: -100px;
	}
	
	.advm-2>img {
		bottom: -20px;
	}
	
	.sm-item>div:last-child>span {
		width: 280px;
	}
	
	footer>div>.info {
		width: 280px;
	}
	
	footer>div>.info>.footer-nav {
		width: 280px;
	}
	
	footer>div>.info>.footer-nav>div {
		width: 280px;
	}
	
	footer>div>.info>.footer-nav>a {
		width: 58px;
	}
	
	.avatars {
		width: 280px;
	}
	
	.avatar-info {
		margin-top: 50px;
		width: 280px;
	}
	
	.rm-info {
		margin-top: 50px;
		width: 280px;
	}
	
	.rm-bg {
		left: 90px;
	}
	
	.rm-avatar {
		margin-top: 60px;
		width: 280px;
	}
	
	.avatar-name {
		flex-direction: column;
		width: 95px;
		order: 3;
	}
	
	.menu>h2 {
		letter-spacing: 10px;
	}
	
	.guest-form>h2 {
		font-size: 30px;
	}
	
	.guest-form>span {
		width: 280px;
	}
	
	.guest-form>span>br {
		display: none;
	}
	
	.guest-form .modal-form input {
		width: 280px;
	}
	
	.guest-form .modal-form button {
		width: 280px;
	}
	
	.guest-form .modal-form {
		align-items: center;
		width: 280px;
	}
	
	.guest-form .modal-form>div {
		width: 280px;
	}
	
	.guest-form .modal-form button {
		width: 280px;
		margin-top: 10px;
	}
	
	.hamburger {
		margin: 0;
	}
	
	.freeze-form h2 {
		width: 280px;
		font-size: 30px;
		letter-spacing: 5px;
	}
	
	.freeze-form>span {
		width: 280px;
	}
	
	.freeze-form .modal-form input {
		width: 280px;
	}
	
	.freeze-form .modal-form button {
		width: 280px;
	}
	
	.freeze-form .modal-form {
		width: 280px;
	}
	
	.feedback h2 {
		font-size: 30px;
	}
	
	.feedback>span {
		width: 280px;
	}
	
	.feedback>.modal-form input {
		width: 280px;
	}
	
	.feedback-msg textarea {
		width: 280px;
	}
	
	.feedback>.modal-form button {
		width: 280px;
	}
	
	.feedback>.modal-form {
		width: 280px;
		align-items: center;
	}
	
	.feedback>.modal-form>div {
		width: 280px;
	}
	
	.feedback>.modal-form button {
		margin-top: 30px;
	}
	
	.wrongnumber-text {
		margin-left: 155px;
	}
	
	.datepickers-container {
		left: 0 !important;
	}
	
	.datepicker {
		width: 280px !important;
	}


	/* NEW STYLE */

	.slogan-ems__inner>h1 {
		font-size: 16px;
	}

	.ems-how__title {
		font-size: 26px;
	}

	.ems-how__item>span {
		font-size: 16px;
		width: 220px;
	}

	.ems-q__list-title {
		font-size: 16px;
	}

	.ems-form__title {
		font-size: 24px;
	}

	.ft-form__title {
		font-size: 20px;
	}
	
}

@media (max-width: 376px) {
	h6 {
		width: 280px;
	}
}