@media screen and (max-width: 1279px) {
	
	header {
		height: auto;
	}

	.header__inner {
		flex-direction: column;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.header__inner > nav {
		margin-top: 20px;
		flex-direction: column;
		align-items: center;
	}

	.header__link:not(:last-child) {
		margin-right: 0;
	}

	.header__link {
		margin-bottom: 20px;
	}

	h1 {
		font-size: 30px;
	}

	h4 {
		font-size: 30px;
	}

	.news__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.footer__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
		flex-direction: column;
	}

	.footer__nav {
		margin-top: 20px;
	}

	.footer__row {
		flex-direction: column;
	}

	.footer__row:not(:first-child) {
		margin: 0;
	}

	.footer__row > a:not(:last-child) {
		margin: 0;
	}

	.footer__row > a {
		margin-bottom: 20px !important;
	}

	.footer__copyright {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.news__card:first-child {
		border-radius: 4px;
	}

	.news__card:last-child {
		border-radius: 4px;
	}

	.news__date {
		font-size: 12px;
		letter-spacing: 0.01em;
		color: #7A7C99;
	}

	.news__title {
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		color: #454559;
		margin-top: 20px;
	}

	.news__card {
		border-radius: 4px;
		margin-bottom: 20px;
		padding: 16px;
		max-height: 100%;
		box-sizing: border-box;
		max-height: 296px;
		height: auto;
	}

	header {
		display: none;
	}

	.news__text {
		max-height: 100%;
	}

	.bot__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.bot__preview {
		display: none;
	}

	.bot__info {
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.bot__inner h4 {
		align-self: center;
	}

	.btn--bot {
		align-self: center;
	}

	.news__list {
		margin-top: 20px;
	}

	.bot__text > br {
		display: none;
	}

	.news__list {
		flex-direction: column;
	}

	.services__text > br {
		display: none;
	}

	.services__row {
		flex-direction: column;
	}

	.services__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.services__row:first-child .services__card:first-child {
		border-radius: 20px 20px 0 0;
	}

	.services__row:last-child .services__card:last-child {
		border-radius: 0 0 20px 20px;
	}

	.services__card--border-lb {
		border-radius: 0;
	}

	.services__card:not(:last-child) {
		border-bottom: 1px solid #F0F0F0;
	}

	.welcome__form-next {
		flex-direction: column;
		padding: 20px;
	}

	.welcome__form-col {
		width: 100%;
	}

	.welcome__form-row {
		margin-top: 10px;
	}

	.welcome__form-next .btn {
		margin-top: 20px;
		align-self: center;
	}

	.welcome .social-selector {
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 0;
	}

	.welcome .social-selector label {
		flex-direction: row;
		width: 50%;
	}

	.welcome {
		height: auto;
	}

	.welcome__form {
		position: relative;
		margin-top: 20px;
		bottom: 20px;
	}

	.nice-select {
		width: 100% !important;
		position: relative !important;
	}

	.welcome__inner {
		padding-left: 20px;
		padding-right: 20px;
	}

	.nice-select .list {
		width: 100% !important;
		box-sizing: border-box;
		right: 40px;
	}

	.nice-select .option {
		width: 100%;
		right: 40px;
	}

	.social-selector > label > span {
		margin: 0;
		margin-left: 10px;
	}

	.header--index {
		height: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h1  {
		margin-top: 240px;
		font-size: 40px;
		line-height: 40px;
	}

	.welcome__text {
		margin-top: 20px;
		font-size: 16px;
	}

	.welcome__form-text {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .01em;
    margin-bottom: 30px;
	}

	.footer__copyright {
		order: 1;
		text-align: center;
	}

	.footer__up {
		margin: 0;
		order: -1;
		margin-bottom: 20px;
	}

	.footer__logo {
		margin: 0;
		margin-top: 10px;
		order: 1;
	}

	.header__cart {
		height: 50px;
	  background-color: transparent;
	  border: 1px solid #3C408C;
	  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
	  box-sizing: border-box;
	  border-radius: 5px;
	  padding-top: 5px;
	}

	.order__item--link {
		display: none;
	}

	.order__info {
		flex-direction: column;
		align-items: center;
	}

	.order__info-item:first-child {
		border: 0;
		padding: 0;
	}

	.order__info-item:nth-child(2) {
		border: 0;
		padding: 0;
	}

	.order__info-value {
		text-align: center;
	}

	.order__info-title {
		text-align: center;
	}

	.order__info-item {
		margin-bottom: 20px;
	}

	.order__info-item:nth-child(3) {
		padding: 0;
	}

	.btn--order {
		margin: 0;
	}

	.order__item {
		padding-left: 10px;
	}

	.order__item--price {
		display: none;
	}

	.order__item--value {
		display: none;
	}

	.order__inner {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 40px;
	}

	.order__row--title > .order__item--status {
		border-radius: 0 5px 0 0;
	}

	.order__item--subject {
		width: 90px;
		padding-left: 0;
		text-align: center;
		justify-content: center;
	}

	.order__item > img {
		margin: 0;
	}

	.order__item--service {
		width: 120px;
	}

	.order__item--status {
		width: 110px;
	}

	.order__item--subject > span {
		display: none;
	}

	.order__title-nubmer {
		font-size: 26px;
	}

	.order__title {
		padding-left: 20px;
	}

	.order__table {
		align-self: center;
	}

	.add .social-selector {
		flex-direction: column;
		width: 320px;
		align-self: center;
	}

	.add .services-selector {
		flex-direction: column;
	}

	.add__info-title {
		flex-direction: column;
	}

	.add .social-selector > label:not(:last-child) {
		border: 0;
		border-bottom: 1px solid #E3E7FC;
	}

	.add h5 {
		text-align: center;
	}

	.add__title {
		text-align: center;
	}

	.add__services-selector {
		align-self: center;
		width: 320px;
	}

	.add .services-selector > label {
		justify-content: flex-start;
		padding-left: 100px;
	}

	.add .services-selector > label:not(:last-child) {
		border: 0;
		border-bottom: 1px solid #F0F2FA;
	}

	.add .social-selector > label {
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 105px;
	}

	.add__info-text--active {
		overflow: scroll;
		max-height: 300px;
	}

	.services-selector {
		width: 100%;
	}

	.add__item:not(:nth-child(2)) {
		margin: 0;
		margin-bottom: 20px;
	}

	.add__item {
		width: 100%;
		padding: 20px;
	}

	.add__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 40px;
	}

	.add__bottom {
		flex-direction: column;
	}

	.add__bottom-row {
		justify-content: center;
		margin-bottom: 10px;
	}

	.add__bottom-col--j-end {
		align-self: center;
	}

	.add__info-show {
		margin-top: 10px;
	}

	.cart__info {
		flex-direction: column;
	}

	.cart__pay {
		order: -1;
	}

	.cart h5 {
		text-align: center;
	}

	.cart__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
	}

	.cart__item-info-row {
		flex-direction: column;
	}

	.cart__item-input--link {
		width: 100%;
	}

	.cart__ssl {
		margin-bottom: 40px;
	}

	.cart__item-title > span {
		font-size: 16px;
		flex-wrap: wrap;
	}

	.cart__price {
		align-self: center;
	}

	.cart__item-input {
		margin-top: 10px;
	}

	.add__info-show--cart {
		align-self: center;
	}

	.cart__item-info-add {
		flex-direction: column;
	}

	.cart__item-info-col {
		margin-bottom: 40px;
	}

	.cart__pay {
		width: 100%;
		margin: 0;
	}

	.cart__item-input-title {
		flex-direction: column;
	}

	.cart__item-input-title > span {
		align-self: flex-start;
		margin-top: 5px;
	}

	.cart__item-info-add--active {
		max-height: 1000px;
	}

	.feed__nav {
		display: none;
	}

	.feed__inner {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 0;
	}

	.feed__list {
		margin: 0;
	}

	.feed .order__title {
		padding: 0;
		order: 1;
		align-self: center;
	}

	.info__content {
		flex-direction: column;
	}

	.info__feedback {
		margin-top: 40px;
		width: 100%;
	}

	.info__feedback .btn {
		align-self: center;
	}

	.info__feedback-title {
		text-align: center;
	}

	.info__nav {
		flex-direction: column;
	}

	.info__nav .btn:last-child {
		margin: 0;
		margin-top: 20px;
	}

	.info__inner {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 40px;
	}

	.info h5 {
		text-align: center;
	}

	.info__review {
		width: 100%;
	}

	.info__feedback-input > textarea {
		height: 150px;
	}

	.info__feedback-input--ref > label > br {
		display: none;
	}

	.info__feedback .btn {
		text-align: center;
	}

	.info__feedback-title {
		margin-bottom: 10px;
	}

	.info__content-left {
		align-self: center;
		max-width: 100%;
	}

	.page__inner {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 40px;
	}

	.calc__row {
		flex-direction: column;
	}

	.calc .calc__prices {
		flex-direction: column;
	}

	.calc .social-selector {
		flex-direction: column;
	}

	.calc h5  {
		text-align: center;
	}

	/* faq start */

	.faq {
		padding-top: 30px;
	}

	.faq__inner {
		padding: 10px;
	}

	.faq__content {
		flex-direction: column;
	}

	.faq h5 {
		text-align: center;
	}

	.faq__nav-item.active:after {
		display: none;
	}

	.faq__nav {
		border: 0;
		margin-bottom: 40px;
	}

	.faq__nav-item {
		height: 40px;
	}

	.faq__headline > span {
		font-size: 20px;
	}

	.faq__card-title > span {
		font-size: 14px;
	}

	.faq__list {
		margin: 0;
	}

	.faq__info--visible  {
		max-height: 10000px;
	}

	.faq__card img {
		width: 100% !important;
	}

}

@media screen and (max-width: 1279px) {

	.reviews h5 {
		text-align: center;
	}

	.reviews__list {
		align-self: center;
		max-width: 564px;
		flex-wrap: wrap;
		padding-left: 20px;
		padding-right: 20px;
	}

	.reviews__card {
		margin-bottom: 20px;
	}

	.reviews__list > .reviews__card:not(:nth-child(2n)) {
		margin-right: 20px;
	}

}

@media screen and (max-width: 426px) {

	.reviews__list {
		align-self: center;
		max-width: 272px;
		flex-wrap: wrap;
		padding-left: 20px;
		padding-right: 20px;
	}

	.reviews__list > .reviews__card:not(:nth-child(2n)) {
		margin-right: 0;
	}

}

@media screen and (max-width: 1279px) {

	.services__card {
		max-width: 296px;
		height: 294px;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex !important;
	}

	.services .slick-slide > div {
		display: flex;
		justify-content: center;
	}

	 .services .slick-dots li {
		display: block;
		width: 8px !important;
		height: 8px !important;
		background: #E3E7FC;
		border-radius: 2px;
		border: 0;
		box-sizing: border-box;
	}

	 .services .slick-dots li.slick-active {
		background: #465EDB;
	}

	.services .slick-dots {
		display: flex;
		justify-content: center;
	}

	 .services .slick-dots button:before {
		display: none;
	}

}

/* FEATURES START */

@media screen and (max-width: 1279px) {

	.features__inner {
		flex-direction: column;
		position: relative;
		padding: 0;
		padding-bottom: 40px;
	}

	.features__graph {
		position: relative;
		left: 0;
		max-width: 100%;
		bottom: unset;
		order: -1;
		margin-top: 80px;
	}

	.features__graph > img {
		width: 100%;
	}

	.features__item > img {
		display: none;
	}

	.features__title {
		top: 40px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		font-size: 32px;
		color: #FFFFFF;
	}

	.features__info-title {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 24px;
		color: #FFFFFF;
	}

	.features__list {
		align-self: center;
	}

	.features__info-title > img {
		opacity: 1;
		margin-left: 10px;
	}

}

@media screen and (max-width: 767px) {

	.features__list {
		padding-left: 20px;
		box-sizing: border-box;
		width: 100%;
	}

	.features__info {
		margin-left: 0;
	}

	.features__graph {
		height: 375px;
		overflow: hidden;
	}

	.features__graph > img {
		transform: scale(1.3);
	}

	.features__info-text {
		min-width: unset;
	}

}

/* FEATURES END */




/* HOW START */

@media screen and (max-width: 1208px) {

  .how__inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-position: center 600px;
  }

  .how__inner--visible {
    background-position: center 340px;
  }

  .how__img {
    margin-top: 150px;
    position: relative;
    align-self: center;
  }

  .how__inner > nav > div:first-child {
    margin-right: 8px !important;
  }

  .how__inner > nav > div:last-child {
    font-size: 10px;
  }

  .how__inner > nav > div {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 160px;
  }

  .how nav {
    align-self: center;
  }

  .how__text > br {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  .how__img {
    margin-top: 0;
    transform: translateY(90px);
  }

  .plank--1 {
    transform: scale(0.7) translateX(0);
  }

  .plank--2 {
    transform: scale(0.7) translateX(0);
  }

  .how__inner {
    background-size: 400px;
    background-position: calc(50% - 15px) 700px;
  }

  .how__inner--visible {
    background-position: calc(50% - 15px) 450px;
  }

}

/* HOW END */