@font-face {
	font-family: "Muller"; 
	src: url('../fonts/MullerExtraBold.otf');
	font-weight: 900; 
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Roboto;
	font-size: 14px;
	position: relative;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
	margin-top: 180px;
	font-family: Muller;
	color: #fff;
	font-size: 70px;
	text-align: center;
	font-weight: 900;
	line-height: 82px;
}

h4 {
	margin: 0;
	text-align: center;
	font-family: Muller;
	font-weight: 900;
	color: #454559;
	font-size: 50px;
}

h5 {
	margin: 0;
	font-family: Muller;
	font-weight: 900;
	color: #454559;
	font-size: 30px;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: Muller;
	font-weight: 900;
	font-size: 20px;
	color: #454559;
	margin-top: 30px;
	margin-bottom: 10px;
}

input {
	font-family: Roboto;
	font-size: 14px;
}

header {
	width: 100%;
	height: 80px;
	background-color: #0E1045;
	display: flex;
	justify-content: center;
}

.header--index {
	height: 110px;
	background-color: transparent;
	align-items: flex-end;
	position: absolute;
	z-index: 1;
}

.header--index .header__cart {
	height: 50px;
	background-color: transparent;
	border: 1px solid #3C408C;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
	box-sizing: border-box;
	border-radius: 5px;
	padding-top: 5px;
}

.header--index .header__logo {
	transform: none;
}

.header--index .header__inner {
	max-width: 1280px;
}

.header__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	transform: translateY(3px);
	transition: all 0.2s ease;
}

.header__logo:hover {
	opacity: 0.8;
	transition: all 0.2s ease;
}

.header__inner > nav {
	display: flex;
	font-weight: 500;
}

.header__link {
	color: #D9DAFF;
	padding-bottom: 2px;
	border-bottom: 1px solid #3D4082;
	transition: all 0.2s ease;
}

.header__link:hover {
	color: #fff;
	border-color: #fff;
	transition: all 0.2s ease;
}

.header__link:not(:last-child) {
	margin-right: 40px;
}

.header__popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: all 0.2s ease;
	z-index: 10;
	pointer-events: all;
	visibility: visible;
}

.header__popup--hidden {
	pointer-events: none;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transition: all 0.2s ease;
}

.header__popup input::placeholder {
	font-family: Roboto;
	font-weight: 500;
	color: #C1C2D5;
	opacity: 1;
	transition: 0.2s all ease;
}

.header__popup input:focus::placeholder {
	opacity: 0;
	transition: 0.2s all ease;
}

.header__form {
	max-width: 376px;
	width: 100%;
	padding: 40px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.header__form-close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.header__form-text,
.header__form-text2 {
	align-self: flex-end;
	margin-bottom: 20px;
	margin-top: -10px;
	cursor: pointer;
}

.header__form-text > span,
.header__form-text2 > span {
	color: #465EDB;
	transition: all 0.2s ease;
}

.header__form-text--hidden {
	opacity: 0;
	transition: all 0.2s ease;
}

.header__form-text > span:hover {
	color: #454559;
	transition: all 0.2s ease;
}

.header__form-close > img {
	width: 100%;
	height: 100%;
}

.header__form--hidden {
	display: none;
}

.header__form h5 {
	text-align: center;
	margin-bottom: 20px;
}

.header__form-input {
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	outline: none;
	font-weight: 500;
	color: #454559;
	padding-left: 20px;
	margin-bottom: 20px;
	transition: all 0.2s ease;
}

.header__input--error {
	padding-left: 19px;
	border: 2px solid #FC5842;
	transition: all 0.2s ease;
}

.header__form .btn {
	border: 0;
	text-transform: uppercase;
	outline: none;
}

.btn {
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #3A53D6;
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
	user-select: none;
	box-sizing: border-box;
	font-family: Roboto;
}

.btn:hover {
	background-color: #4D67EB;
	transition: all 0.2s ease;
}

.btn:active {
	background-color: #3A53D6;
	transition: all 0.2s ease;
}

.btn--header {
	background-color: transparent;
	border: 1px solid #3C408C;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
}

.header__cart {
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
	align-items: center;
	justify-content: center;
	background-color: #232454;
	height: 100%;
	transition: all 0.2s ease;
}

.header__cart--disabled {
	display: none;
}

.header__cart:hover {
	filter: brightness(1.1);
	transition: all 0.2s ease;
}

.header__value {
	font-weight: 500;
	color: #fff;
	margin-left: 10px;
}

.header__cart-img {
	position: relative;
}

.header__indicator {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid #232454;
	background-color: #55FA84;
	border-radius: 50%;
	top: -5px;
	right: -5px;
}

.header__indicator--disabled {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
}

.welcome {
	height: 950px;
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-image: url('../img/welcome-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.welcome__text {
	margin-top: 10px;
	font-size: 24px;
	text-align: center;
	line-height: 31px;
	color: #D9DAFF;
}

.btn--welcome {
	margin-top: 60px;
}

.welcome__form {
	position: absolute;
	bottom: -80px;
	margin-top: 150px;
	max-width: 1208px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.03);
}

.welcome__form-text {
	font-size: 24px;
	color: #D9DAFF;
	align-self: center;
	margin-bottom: 35px;
}

.welcome .social-selector {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background-color: #fff;
}

.social-selector {
	display: flex;
}

.social-selector > label,
.social-selector > a {
	display: flex;
	flex-grow: 1;
	height: 108px;
	background-color: #F7F8FC;
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.2s ease;
}

.social-selector > label:hover,
.social-selector > a:hover {
	background-color: #eef1fb;
	transition: all 0.2s ease;
}

.social-selector > label > span,
.social-selector > a > span {
	margin-top: 15px;
	color: #999AB0;
	font-weight: 500;
	transition: all 0.2s ease;
}

.social-selector > label:not(:last-child),
.social-selector > a:not(:last-child) {
	border-right: 1px solid #E3E7FC;
}

.social-selector > input {
	display: none;
}

.social-selector > input:checked + label {
	transition: all 0.2s ease;
	background: linear-gradient(180deg, #EBEDF7 0%, #FCFDFF 69.88%);
	box-shadow: inset 0px 4px 5px rgba(13, 22, 74, 0.05);
}

.social-selector > input:checked + label > span {
	color: #454559;
	transition: all 0.2s ease;
}

.social-selector--active {
	transition: all 0.2s ease;
	background: linear-gradient(180deg, #EBEDF7 0%, #FCFDFF 69.88%);
	box-shadow: inset 0px 4px 5px rgba(13, 22, 74, 0.05);
}

.social-selector--active > span {
	color: #222 !important;
}

.welcome__form-next {
	padding: 30px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 5px 5px;
}

.welcome__form-next .btn {
	align-self: flex-end;
}

.welcome__form-row {
	color: #999AB0;
	font-weight: 500;
	margin-bottom: 10px;
}

.welcome__form-col > input {
	width: 100%;
	height: 50px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 500;
	color: #454559;
	transition: all 0.2s ease;
}

.welcome__form-col > input:focus {
	padding-left: 19px;
	border: 2px solid #405cec;
	transition: all 0.2s ease;
}

.welcome__form-col--service {
	width: 282px;
}

.welcome__form-col--link {
	width: 350px;
}

.welcome__form-col--value {
	width: 90px;
}

.welcome__form-col--price {
	width: 180px;
}

.nice-select .option[data-value="1"] {
	background-image: url('../img/icons/popcorn.svg');
}

.nice-select .option[data-value="2"] {
	background-image: url('../img/icons/likes.svg');
}

.nice-select .option[data-value="3"] {
	background-image: url('../img/icons/peoples.svg');
}

.nice-select .option[data-value="4"] {
	background-image: url('../img/icons/bart.svg');
}

.nice-select .option[data-value="5"] {
	background-image: url('../img/icons/comments.svg');
}

.nice-select .option[data-value="6"] {
	background-image: url('../img/icons/what.svg');
}

.nice-select-bg-1 {
	background-image: url('../img/icons/popcorn.svg');
}

.nice-select-bg-2 {
	background-image: url('../img/icons/likes.svg');
}

.nice-select-bg-3 {
	background-image: url('../img/icons/peoples.svg');
}

.nice-select-bg-4 {
	background-image: url('../img/icons/bart.svg');
}

.nice-select-bg-5 {
	background-image: url('../img/icons/comments.svg');
}

.nice-select-bg-6 {
	background-image: url('../img/icons/what.svg');
}

.services {
	display: flex;
	justify-content: center;
	background: #F7F8FC;
}

.services__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 180px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.services__list {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}

.services__row {
	width: 100%;
	display: flex;
}

.services__card {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	padding: 40px;
	flex-grow: 1;
	transition: all 0.15s ease;
}

.services__card:hover {
	border-radius: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	transform: scale(1.03);
	transition: all 0.15s ease;
}

.services__card:hover .services__text {
	transform: scale(1);
}

.services__title {
	margin-top: 25px;
	font-family: Muller;
	font-size: 30px;
	color: #454559;
	font-weight: 900;
}

.services__text {
	margin-top: 10px;
	color: #7A7C99;
	line-height: 21px;
	text-align: center;
	font-weight: 500;
}

.services__social {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.services__social > a:not(:last-child) {
	margin-right: 20px;
}

.services__row .services__card:not(:last-child) {
	border-right: 1px solid #F0F0F0;
}

.services__row:first-child {
	border-bottom: 1px solid #F0F0F0;
}

.services__card--border-lt {
	border-radius: 20px 0 0 0;
}

.services__card--border-rt {
	border-radius: 0 20px 0 0;
}

.services__card--border-lb {
	border-radius: 0 0 0 20px;
}

.services__card--border-rb {
	border-radius: 0 0 20px 0;
}

.services__social > a {
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.2s ease;
}

.services__vk {
	background-image: url('../img/icons/ss-1.svg');
}

.services__telegram {
	background-image: url('../img/icons/ss-2.svg');
	background-size: contain;
}

.services__instagram {
	background-image: url('../img/icons/ss-3.svg');
	background-size: 16px 16px;
}

.services__facebook {
	background-image: url('../img/icons/ss-4.svg');
}

.services__twitter {
	background-image: url('../img/icons/ss-5.svg');
}

.services__youtube {
	background-image: url('../img/icons/ss-6.svg');
}

.services__card:hover .services__vk {
	background-image: url('../img/icons/sc-1.svg');
	transition: all 0.2s ease;
}

.services__card:hover .services__telegram {
	background-image: url('../img/icons/telegram.svg');
	background-size: contain;
	transition: all 0.2s ease;
}

.services__card:hover .services__instagram {
	background-image: url('../img/icons/sc-3.svg');
	transition: all 0.2s ease;
}

.services__card:hover .services__facebook {
	background-image: url('../img/icons/sc-4.svg');
	transition: all 0.2s ease;
}

.services__card:hover .services__twitter {
	background-image: url('../img/icons/sc-5.svg');
	transition: all 0.2s ease;
}

.services__card:hover .services__youtube {
	background-image: url('../img/icons/sc-6.svg');
	transition: all 0.2s ease;
}

.welcome__instagram {
	width: 24.49px;
	height: 24px;
}

.features {
	display: flex;
	justify-content: center;
	background-image: radial-gradient(990.78px at 68.46% 53.72%, #23266E 0%, #0B0D40 100%);
	overflow: hidden;
}

.features__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 100px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	position: relative;
}

.features__title {
	margin-bottom: 50px;
	font-size: 50px;
	font-family: Muller;
	font-weight: 900;
	color: #D4D5FA;
}

.features__list {
	display: flex;
	flex-direction: column;
}

.features__item {
	display: flex;
}

.features__item:not(:last-child) {
	margin-bottom: 50px;
}

.features__item > img {
	align-self: flex-start;
}

.features__info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.features__info-title {
	font-size: 30px;
	font-family: Muller;
	font-weight: 900;
	color: #fff;
}

.features__info-text {
	margin-top: 10px;
	line-height: 21px;
	font-weight: 500;
	color: #B8B9E5;
	min-width: 400px;
}

.features__graph {
	position: absolute;
	align-self: flex-end;
	transition: all 2s linear;
	max-width: 0;
	left: 450px;
	bottom: 40px;
	display: flex;
}

.how {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
	border-bottom: 1px solid #E2E3F1;
}

.how__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 100px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-image: url('../img/iphone.png');
	background-repeat: no-repeat;
	background-position: right 430px;
	position: relative;
	transition: all 1s ease;
	overflow: hidden;
}

.how__inner--visible {
	background-position: right 7px;
	transition: all 1s ease;
}

.how h4 {
	align-self: flex-start;
}

.how__text {
	margin-top: 30px;
	font-weight: 500;
	color: #7A7C99;
	line-height: 21px;
}

.how__inner > nav {
	margin-top: 50px;
	display: flex;
}

.how__inner > nav > .btn:not(:last-child) {
	margin-right: 20px;
}

.btn--how {
	background-color: transparent;
	color: #999AB0;
	border: 1px solid #E1E2F0;
}

.btn--how:hover {
	background-color: transparent;
	color: #454559;
	border: 1px solid #454559;
}

.how__img {
	position: absolute;
	width: 500px;
	height: 340px;
	right: 0px;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.plank {
	width: 400px;
	height: 115px;
	border-radius: 20px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
	background: rgba(255, 255, 255, 0.98);
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	transition: all 0.2s ease;
}

.plank__img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	position: relative;
}

.plank__img-like {
	bottom: -4px;
	right: -1px;
	width: 25px;
	height: 25px;
	background-color: #F05656;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	background-image: url('../img/icons/plank-like.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.plank__img-repost {
	bottom: -4px;
	right: -1px;
	width: 25px;
	height: 25px;
	background-color: #43BA5D;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	background-image: url('../img/icons/repost.svg');
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.plank__info {
	display: flex;
	flex-direction: column;
}

.plank__text {
	font-weight: 500;
	line-height: 21px;
	color: #000;
}

.plank__text--blue {
	color: #465EDB;
}

.plank__time {
	margin-top: 8px;
	font-weight: 500;
	color: #B7B7C9;
	font-size: 12px;
	line-height: 18px;
}

.plank--1 {
	opacity: 0;
	transform: translateX(-150px);
}

.plank--2 {
	margin-top: 15px;
	align-self: flex-end;
	transform: translateX(150px);
	opacity: 0;
}

.plank--1-active {
	opacity: 1;
	transition: all 0.8s ease;
	transform: translateX(0px);
}

.plank--2-active {
	opacity: 1;
	transition: all 0.8s ease;
	transform: translateX(0);
}

.bot {
	display: flex;
	justify-content: center;
}

.bot__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 80px;
	padding-bottom: 20px;
	box-sizing: border-box;
	display: flex;
}

.bot__preview {
	width: 50%;
}

.bot__info {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 125px;
	box-sizing: border-box;
	justify-content: center;
}

.bot__text {
	margin-top: 30px;
	font-weight: 500;
	color: #7A7C99;
	line-height: 21px;
}

.bot__inner h4 {
	align-self: flex-start;
}

.btn--bot {
	margin-top: 50px;
	align-self: flex-start;
}

.bot__cloud {
	pointer-events: none;
	padding: 20px;
	background-color: #F7F8FC;
	display: flex;
	flex-direction: column;
	width: 356px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.bot__title {
	display: flex;
	justify-content: space-between;
}

.bot__username {
	font-weight: 500;
	line-height: 21px;
	color: #A5AEC7;
}

.bot__time {
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #A5AEC7;
}

.bot__cloud-text {
	margin-top: 10px;
	color: #454559;
	line-height: 21px;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.bot__cloud-text--blue {
	color: #465EDB;
}

.bot__cloud--rb {
	border-radius: 10px 10px 0 10px;
}

.bot__cloud--lb {
	border-radius: 10px 10px 10px 0;
}

.btn--cloud-margin {
	margin-top: 10px;
}

.bot__cloud .btn {
	margin-bottom: 5px;
}

.bot__cloud .btn > img {
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.bot__cloud-text > img {
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.btn--cloud-green {
	background-color: #43BA5D;
	color: #fff;
}

.bot__input {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 584px;
	height: 50px;
	border: 1px solid #E3E7FC;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	color: #999AB0;
	font-weight: 500;
	line-height: 21px;
}

.bot__chat {
	position: relative;
	height: 410px;
	overflow: hidden;
}

.bot__chat-top {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: -5px;
	height: 20px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,#FFFFFF 9.94%, #FFFFFF 67.4%, rgba(255, 255, 255, 0) 100%);
}

@keyframes scrollDown {
	0% {
		transform: translateY(410px);
		opacity: 1;
	}
	20% {
		transform: translateY(305px);
		opacity: 1;
	}
	40% {
		transform: translateY(25px);
		opacity: 1;
	}
	60% {
		transform: translateY(-80px);
		opacity: 1;
	}
	80% {
		transform: translateY(-280px);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes firstCloud {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bot__chat-inner {
	position: relative;
	animation: scrollDown;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.bot__cloud--1 {
	margin-left: auto;
}

.bot__cloud--3 {
	margin-left: auto;
}

.news {
	display: flex;
	justify-content: center;
	background-color: #F5F6FC;
}

.news__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 100px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.news__inner h4 {
	align-self: center;
}

.news__list {
	margin-top: 60px;
	display: flex;
}

.news__card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 40px;
	transition: all 0.2s ease;
	max-height: 330px;
	overflow: hidden;
	max-width: 402px;
	width: 100%;
}

.news__card:hover {
	transition: all 0.2s ease;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-color: #EAEAEA;
}

.news__card:not(:last-child) {
	border-right: 1px solid #F0F0F0;
}

.news__card:first-child {
	border-radius: 20px 0 0 20px;
}

.news__card:last-child {
	border-radius: 0 20px 20px 0;
}

.news__date {
	line-height: 15px;
	font-size: 12px;
	color: #999AB0;
}

.news__title {
	margin-top: 10px;
	font-size: 24px;
	line-height: 31px;
	color: #454559;
}

.news__text {
	margin-top: 20px;
	line-height: 21px;
	font-weight: 500;
	color: #7A7C99;
	max-height: 80px;
	overflow: hidden;
}

.news__link {
	margin-top: 25px;
	color: #465EDB;
	line-height: 21px;
	font-weight: 500;
	transition: all 0.2s ease;
}

.news__link:hover {
	color: #454559;
	transition: all 0.2s ease;
}

footer {
	display: flex;
	justify-content: center;
	background: linear-gradient(180deg, #0B0D40 -25%, #1F2261 100%);
}

.footer__inner {
	max-width: 1280px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.footer__nav {
	display: flex;
	flex-direction: column;
}

.footer__row {
	display: flex;
}

.footer__row:not(:first-child) {
	margin-top: 25px;
}

.footer__row > a {
	color: #D9DAFF;
	font-weight: 500;
	border-bottom: 1px solid #3D4082;
	padding-bottom: 2px;
	transition: all 0.2s ease;
}

.footer__row > a:hover {
	color: #fff;
	border-color: #fff;
	transition: all 0.2s ease;
}

.footer__row > a:not(:last-child) {
	margin-right: 40px;
}

.footer__copyright {
	color: #5E62A6;
	font-weight: 500;
	margin-left: auto;
}

.footer__up {
	cursor: pointer;
	transition: all 0.2s ease;
	margin-left: 80px;
}

.footer__up:hover {
	filter: brightness(1.5);
	transition: all 0.2s ease;
}

.anchorn {
	position: absolute;
	top: 0;
}

.footer__logo {
	transition: all 0.2s ease;
	margin-right: 80px;
}

.footer__logo:hover {
	opacity: 0.8;
	transition: all 0.2s ease;
}

.orders {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
	min-height: 800px;
}

.orders__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.orders__title {
	display: flex;
	justify-content: space-between;
}

.orders__nav {
	display: flex;
}

.orders__nav-item {
	display: flex;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	cursor: pointer;
	height: 40px;
}

.orders__nav-item:hover {
	background-color: #F0F2FA;
	transition: all 0.2s ease;
}

.orders__nav-item:first-child {
	border-radius: 5px 0px 0px 5px;
}

.orders__nav-item:last-child {
	border-radius: 0px 5px 5px 0px;
}

.orders__nav-item:not(:last-child) {
	border-right: 1px solid #F0F2FA;
}

.orders__nav-item--active {
	background-color: #465EDB;
}

.orders__nav-item--active:hover {
	background-color: #465EDB;
}

.orders__nav-item--active .orders__nav-text {
	color: #fff;
}

.orders__nav-text {
	color: #7A7C99;
	font-weight: 500;
	margin-right: 5px;
}

.orders__nav-value {
	font-weight: 500;
	color: #94A5FF;
}

.orders__title h4 {
	transform: translateY(8px);
}

.orders__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.orders__item {
	padding: 40px;
	background-color: #fff;
	max-width: 316px;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 1px 1px rgba(14, 16, 69, 0.05);
	transition: all 0.2s ease;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.orders__item:hover {
	transition: all 0.2s ease;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.orders__item:not(:nth-child(3n)) {
	margin-right: 20px;
}

.orders__add-img {
	align-self: center;
}

.orders__text {
	margin-top: 30px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 500;
	color: #7A7C99;
	line-height: 21px;
}

.orders__item-title {
	font-size: 25px;
	font-weight: bold;
	line-height: 21px;
	color: #ADAFC7;
	display: flex;
}

.orders__item-title > span {
	margin-left: 10px;
	color: #7A7C99;
}

.orders__info {
	margin-top: 11px;
	display: flex;
	flex-direction: column;
}

.orders__info-item {
	margin-top: 12px;
	padding-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orders__info-item:not(:last-child) {
	border-bottom: 1px solid #F2F4FA;
}

.orders__info-title {
	font-weight: 500;
	color: #999AB0;
}

.btn--orders {
	margin-top: 9px;
	border: 1px solid #E2E3F1;
	background-color: transparent;
	color: #999AB0;
}

.btn--orders:hover {
	border-color: #454559;
	color: #454559;
	background-color: transparent;
}

.orders__info-value {
	line-height: 21px;
	color: #454559;
	font-weight: bold;
}

.orders__info-value--queue {
	color: #465EDB;
}

.orders__info-value--done {
	color: #47B045;
}

.orders__info-value--error {
	color: #FC5842
}

.orders__info-value--progress > span:first-child {
	color: #7A7C99;
}

.orders__info-value--progress > span:nth-child(2) {
	color: #C1C3D5;
	font-weight: normal;
}

.orders__info-value--progress > span:last-child {
	color: #7A7C99;
}

.btn--hidden {
	display: none;
}

.order {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
	min-height: 800px;
}

.order__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.order__title {
	display: flex;
	align-items: center;
}

.order__back {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #D8DDF0;
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
}

.order__back > img {
	margin-right: 5px;
}

.order__back > span {
	color: #999AB0;
	font-weight: 500;
	transition: all 0.2s ease;
}

.order__back:hover {
	border-color: #454559;
	transition: all 0.2s ease;
}

.order__back:hover > span {
	color: #454559;
	transition: all 0.2s ease;
}

.order__title-nubmer {
	font-size: 30px;
	color: #454559;
	font-family: Muller;
	font-weight: 900;
	margin-left: 20px;
	transform: translateY(2px);
}

.order__info {
	margin-top: 30px;
	display: flex;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 1px 1px rgba(14, 16, 69, 0.05);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}

.btn--order {
	border: 1px solid #E2E3F1;
	background-color: transparent;
	color: #999AB0;
	margin-left: auto;
}

.btn--order:hover {
	border-color: #454559;
	color: #454559;
	background-color: transparent;
}

.order__info-item {
	display: flex;
	flex-direction: column;
}

.order__info-item:first-child {
	padding-right: 25px;
	border-right: 1px solid #F2F4FA;
}

.order__info-item:nth-child(2) {
	padding-left: 25px;
	padding-right: 25px;
	border-right: 1px solid #F2F4FA;
}

.order__info-item:nth-child(3) {
	padding-left: 25px;
}

.order__info-title {
	color: #ADAFC7;
	line-height: 21px;
	font-weight: 500;
}

.order__info-value {
	margin-top: 5px;
	font-weight: bold;
	color: #7A7C99;
}

.order__info-value > span {
	color: #C1C3D5;
	font-weight: normal;
}

.order__table {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 1px 1px rgba(14, 16, 69, 0.05);
}

.order__row {
	display: flex;
}

.order__row:not(:first-child) {
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	background-color: #fff;
}

.order__row:nth-child(2n) .order__item {
	background-color: #fff;
}

.order__item {
	font-weight: 500;
	line-height: 21px;
	color: #242424;
	box-sizing: border-box;
	padding-left: 30px;
	display: flex;
	align-items: center;
	height: 30px;
}

.order__item:not(:last-child) {
	border-right: 1px solid #EBEEFF;
}

.order__item > img {
	margin-right: 10px;
}

.order__row--title > .order__item {
	background-color: #465EDB;
	color: #fff;
	height: 70px;
	border-right: 1px solid #5C71E0;
}

.order__row--title > .order__item--subject {
	border-radius: 5px 0 0 0;
}

.order__row--title > .order__item--link:after {
	display: none;
}

.order__row--title > .order__item--price {
	border-radius: 0 5px 0 0;
}

.order__item--subject {
	width: 160px;
}

.order__item--service {
	width: 140px;
}

.order__item--value {
	width: 100px;
	padding: 0;
	justify-content: center;
	overflow: hidden;
}

.order__item--link {
	width: 332px;
	position: relative;
	overflow: hidden;
}

.order__item--link:after {
	content: '';
	display: block;
	position: absolute;
	width: 100px;
	height: 60px;
	background-image : linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
	right: 0;
	pointer-events: none;
}

.order__item--link > a {
	color: #465EDB;
	white-space: nowrap;
}

.order__item--status {
	width: 156px;
}

.order__item--price {
	width: 100px;
	padding: 0;
	justify-content: center;
}

.order__circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

.order__circle--queue {
	background-color: #465EDB;
}

.order__circle--done {
	background-color: #3BCC6C;
}

.order__circle--error {
	background-color: #FF7A7A;
}

.add {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
}

.add__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.add__social-selector {
	display: flex;
	flex-direction: column;
}

.add__title {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 27px;
	color: #7A7C99;
}

.add__social-selector .social-selector {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.add__social-selector .social-selector > label {
	background-color: #fff;
}

.add__social-selector .social-selector > label:hover {
	background-color: #FAFBFF;
}

.add__services-selector {
	margin-top: 35px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.services-selector {
	display: flex;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
}

.services-selector > input {
	display: none;
}

.services-selector > label {
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	height: 50px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.services-selector > input:checked + label {
	background: linear-gradient(180deg, #EBEDF7 0%, #FCFDFF 69.88%);
	box-shadow: inset 0px 3px 3px rgba(13, 22, 74, 0.05);
	transition: all 0.2s ease;
}

.services-selector > label:hover {
	background-color: #FAFBFF;
	transition: all 0.2s ease;
}

.services-selector > label:not(:last-child) {
	border-right: 1px solid #F0F2FA;
}

.services-selector > label > img {
	margin-right: 10px;
}

.add__info {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.add__info-text > p {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	line-height: 21px;
	font-weight: 500;
	color: #595C80;
}

.add__info-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add__info-text {
	transition: all 0.2s ease;
	max-height: 0;
	overflow: hidden;
}

.add__info-text--active {
	max-height: 500px;
	transition: all 0.2s ease;
}

.add__info-show {
	font-weight: 500;
	color: #465EDB;
	line-height: 21px;
	border-bottom: 2px dashed #B8BFE5;
	cursor: pointer;
	transition: all 0.2s ease;
	display: inline;
	margin-bottom: 15px;
	transform: translateY(5px);
	user-select: none;
}

.add__info-show--active {
	color: #999AB0;
	transition: all 0.2s ease;
}

.add__info-show:hover {
	color: #3446a2;
	transition: all 0.2s ease;
}

.add__list {
	min-height: 500px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.add__item {
	width: 484px;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.add__item:not(:nth-child(2n)) {
	margin-right: 20px;
}

.add__item-title {
	font-size: 18px;
	color: #454559;
	line-height: 27px;
	font-weight: 500;
}

.add__item-tags {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.add__item-tags > p {
	height: 33px;
	background-color: #F7F7E8;
	border-radius: 5px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.add__item-tags > p > img {
	margin-right: 10px;
	max-width: 19px;
	max-height: 19px;
	width: 19px;
	height: 19px;
}

.add__item-info {
	display: flex;
	flex-direction: column;
}

.add__input-title {
	margin-top: 10px;
	color: #999AB0;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
}

.add__input-title > span {
	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	color: #B8BACF;
	align-self: flex-end;
}

.add__input {
	margin-top: 10px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	outline: none;
	padding-left: 20px;
	text-overflow: ellipsis;
	font-weight: 500;
	color: #454559;
}

.add__bottom {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.add__bottom-col {
	display: flex;
	flex-direction: column;
}

.add__bottom-row {
	display: flex;
	justify-content: space-between;
}

.add__bottom-price {
	font-weight: bold;
	line-height: 38px;
	font-size: 25px;
	color: #454559;
}

.add__bottom-old-price {
	font-weight: bold;
	line-height: 38px;
	font-size: 18px;
	color: #A0A1B5;
	position: relative;
	margin-left: 10px;
}

.add__bottom-old-price:after {
	content: '';
	display: block;
	height: 2px;
	width: 110%;
	position: absolute;
	background-color: #A0A1B5;
	top: 48%;
	left: -2px;
}

.add__bottom-value {
	font-weight: 500;
	line-height: 20px;
	font-size: 13px;
	color: #999AB0;
}

.add__bottom-cart {
	border: 1px solid #E1E2F0;
	box-sizing: border-box;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	height: 50px;
	width: 50px;
	background-image: url('../img/icons/add-cart.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
	transition: all 0.2s ease;
	cursor: pointer;
}

.add__bottom-cart.active {
	background-image: url('../img/icons/add-cart--green.svg');
	background-color: #F2FFF6;
	border: 1px solid #E4F7EA;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
	transition: all 0.2s ease;
}

.add__bottom-cart.active:hover {
	border: 1px solid #F2FFF6;
}

.add__bottom-cart:hover {
	border-color: #454559;
	transition: all 0.2s ease;
}

.add__bottom-col--j-end {
	align-self: flex-end;
}

.cart {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
}

.cart__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.cart__info {
	margin-top: 30px;
	display: flex;
}

.cart__list {
	max-width: 652px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.cart__item {
	background: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	position: relative;
	padding: 40px;
	max-height: 1000px;
	opacity: 1;
	transition: all 0.2s ease;
}

.cart__item--hidden {
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	padding-top: 0;
	padding-bottom: 0;
	pointer-events: none;
	opacity: 0;
	margin: 0 !important;
}

.cart__item:not(:last-child) {
	margin-bottom: 20px;
}

.cart__item-title {
	display: flex;
	align-items: center;
}

.cart__item-title > img {
	margin-right: 10px;
}

.cart__item-title > span {
	font-weight: 500;
	line-height: 27px;
	font-size: 18px;
	color: #454559;
}

.cart__tag {
	display: flex;
}

.cart__tag > p {
	width: 33px;
	height: 33px;
	background-color: #F7F7E8;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	font-size: 0;
}

.cart__item-info {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.cart__item-info-row {
	display: flex;
	justify-content: space-between;
}

.cart__item-info-row > .cart__item-input:not(:last-child) {
	margin-right: 20px;
}

.cart__item-input {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cart input::-webkit-outer-spin-button,
.cart input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.cart__item-input-title {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	color: #999AB0;
}

.cart__item-input-title > span {
	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	color: #B8BACF;
	align-self: flex-end;
}

.cart__item-input > input {
	margin-top: 10px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	padding-left: 20px;
	font-weight: 500;
	color: #454559;
	outline: none;
}

.cart__item-input > input::placeholder {
	font-weight: 500;
	color: #C1C2D5;
}

.cart__item-input--link {
	width: 360px;
}

.cart__price {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.cart__price-value {
	font-weight: bold;
	line-height: 38px;
	font-size: 25px;
	color: #454559;
	margin-right: 10px;
}

.cart__price-value-info {
	font-weight: 500;
	line-height: 27px;
	font-size: 14px;
	color: #ADAFC7;
}

.add__info-show--cart {
	height: 20px;
	align-self: flex-end;
	transform: none;
	margin-bottom: 7px;
}

.cart__item-info-add {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	max-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all 0.2s ease;
}

.cart__item-info-add--active {
	max-height: 500px;
	border-top: 1px solid #F5F6FB;
	margin-top: 25px;
	padding-top: 30px;
	overflow: visible;
	transition: all 0.2s ease;
}

.cart__item-info-add-title {
	color: #999AB0;
	font-weight: 500;
	margin-bottom: 15px;
}

.cart__item-info-p > p {
	color: #454559;
	font-weight: 500;
}

.cart__item-info-p > p:not(:last-child) {
	margin-bottom: 10px;
}

.cart__pay {
	flex-grow: 1;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.cart__pay-inner {
	padding-top: 35px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	background-color: #fff;
	border-radius: 3px 3px 5px 5px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-top: 3px solid #465EDB;
}

.cart__pay-title {
	font-weight: bold;
	line-height: 38px;
	font-size: 25px;
	color: #454559;
	margin-bottom: 10px;
}

.cart__pay-info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-top: 15px;
	border-bottom: 1px solid #F2F4FA;
}

.cart__pay-info-title {
	color: #999AB0;
	font-weight: 500;
}

.cart__pay-info-value {
	color: #454559;
	font-weight: bold;
	line-height: 21px;
}

.cart__pay-input {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.cart__pay-label {
	color: #999AB0;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart__pay-info-error {
	font-size: 12px;
	color: #ED7272;
	font-weight: 500;
	opacity: 0;
	transition: all 0.2s ease;
}

.cart__pay-info-error--active {
	font-size: 12px;
	color: #ED7272;
	font-weight: 500;
	opacity: 1;
	transition: all 0.2s ease;
}

.cart__pay-input > input {
	margin-top: 5px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	outline: none;
	transition: all 0.2s ease;
	padding-left: 20px;
	color: #454559;
	font-weight: 500;
}

/* .cart__pay-input > input:focus {
	border-top: 2px solid #465EDB;
	transition: all 0.2s ease;
} */

.cart__pay-info--margin {
	margin-bottom: 10px;
}

.cart__pay-reminder {
	margin-top: 15px;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #454559;
}

.cart__pay-reminder > span {
	color: #ED7272;
}

.cart__pay .btn {
	margin-top: 30px;
}

.cart__pay-terms {
	margin-top: 15px;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #999AB0;
}

.cart__pay-terms > a {
	color: #465EDB;
	transition: all 0.2s ease;
}

.cart__pay-terms > a:hover {
	color: #454559;
	transition: all 0.2s ease;
}

.cart__ssl {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart__ssl > div {
	margin-top: 15px;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	color: #999AB0;
}

.cart__close {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.feed {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
}

.feed__inner {
	max-width: 1060px;
	width: 100%;
	min-height: 950px;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 40px;
	box-sizing: border-box;
	display: flex;
}

.feed__list {
	display: flex;
	flex-direction: column;
	max-width: 652px;
	width: 100%;
	margin-right: 100px;
}

.feed__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

.feed h5 {
	margin-top: 10px;
}

.feed__date {
	font-size: 12px;
	color: #7A7C99;
	line-height: 18px;
	font-weight: 500;
}

.feed__text {
	margin-top: 25px;
}

.feed__text > p {
	margin: 0;
	padding: 0;
	font-weight: 500;
	line-height: 21px;
	color: #595C80;
	margin-bottom: 30px;
}

.feed__nav {
	display: flex;
	flex-direction: column;
	border-left: 2px solid #E6E7F7;
	padding-left: 30px;
	align-self: flex-start;
	padding-top: 5px;
	padding-bottom: 5px;
}

.feed__nav-title {
	font-weight: 500;
	line-height: 27px;
	font-size: 18px;
	color: #454559;
}

.feed__nav-item {
	margin-top: 15px;
}

.feed__nav-item-date {
	font-weight: bold;
	line-height: 18px;
	font-size: 12px;
	color: #454559;
}

.feed__nav-item-text {
	display: block;
	margin-top: 5px;
	font-weight: 500;
	line-height: 21px;
	color: #465EDB;
	transition: all 0.2s ease;
}

.feed__nav-item-text:hover {
	color: #454559;
	transition: all 0.2s ease;
}

.feed .order__title {
	margin-bottom: 40px;
}

.info {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
}

.info__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.info__content {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.info__title {
	font-weight: bold;
	line-height: 32px;
	font-size: 16px;
	color: #454559;
}

.info__text {
	font-weight: 500;
	line-height: 21px;
	color: #595C80;
}

.info__title--margin {
	margin-top: 30px;
}

.info__features {
	display: flex;
	flex-direction: column;
}

.info__feature {
	display: flex;
	align-items: center;
}

.info__feature {
	font-weight: 500;
	line-height: 33px;
	color: #595C80;
}

.info__feature > img {
	margin-right: 10px;
}

.info__nav {
	margin-top: 40px;
	display: flex;
}

.info__nav .btn:last-child {
	margin-left: 20px;
	border: 1px solid #E2E3F1;
	background-color: transparent;
	color: #999AB0;
	transition: all 0.2s ease;
}

.info__nav .btn:last-child:hover {
	color: #454559;
	border-color: #454559; 
	transition: all 0.2s ease;
}

.info__content-left {
	max-width: 420px;
	display: flex;
	flex-direction: column;
}

.info__content-right {
	display: flex;
	flex-direction: column;
}

.info__feedback {
	padding: 40px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 483px;
	box-sizing: border-box;
}

.info__feedback-title {
	font-weight: bold;
	line-height: 38px;
	font-size: 25px;
	color: #454559;
}

.info__feedback-input {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.info__feedback-input > label {
	font-size: 14px;
	color: #999AB0;
	font-weight: 500;
}

.info__feedback-input > input {
	margin-top: 10px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	outline: none;
	font-weight: 500;
	color: #454559;
	padding-left: 20px;
}

.info__feedback-input > textarea {
	margin-top: 10px;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	height: 200px;
	outline: none;
	font-weight: 500;
	color: #454559;
	padding-left: 20px;
	padding-top: 20px;
	resize: none;
	line-height: 20px;
	color: #454559;
}

.info__feedback .btn {
	align-self: flex-start;
	margin-top: 30px;
}

.info__review {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 40px;
	width: 483px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.info__review-name {
	font-weight: bold;
	line-height: 21px;
	color: #454559;
}

.info__review-date {
	margin-top: 5px;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #999AB0;
}

.info__review-text {
	margin-top: 10px;
	font-weight: 500;
	line-height: 21px;
	color: #454559;
}

.info__stat {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #F2F4FA;
	align-items: center;
}

.info__stat-title {
	font-weight: 500;
	color: #999AB0;
}

.info__stat-value {
	color: #454559;
	font-weight: bold;
}

.info__feedback-input--invite > label {
	margin-top: 20px;
	color: #454559;
}

.info__feedback-input--ref > label {
	margin-top: 10px;
	color: #454559;
}

.info__feedback-input--ref > label > span {
	color: #32A652;
}

.calc {
	background-color: #F7F8FC;
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
}

.calc__inner {
	width: 988px;
	display: flex;
	flex-direction: column;
}

.calc .social-selector label {
	background-color: #fff;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 20px;
	box-sizing: border-box;
}

.calc .social-selector label > img {
	margin-right: 15px;
}

.calc__container {
	margin-top: 40px;
	display: flex;
}

.calc__label-title {
	font-size: 20px;
	color: #454559;
	margin-bottom: 5px;
	font-weight: 500;
}

.calc__label-value {
	color: #7A7C99;
	font-size: 18px;
	display: flex;
}

.calc__label-value > div {
	margin-right: 5px;
}

.calc__label-text {
	color: #7A7C99;
	font-size: 13px;
	margin-top: 5px;
}

.calc__inputs-row {
	margin-top: 40px;
	display: flex;
	width: 100%;
}

.calc__input-container {
	width: 100%;
}

.calc__input-container {
	width: 100%;
}

.calc__input-container:not(:last-child) {
	margin-right: 20px;
}

.calc__left {
	max-width: 648px;
	width: 100%;
}

.calc__input {
	background: #FFFFFF;
	border: 1px solid #E3E7FC;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-weight: 500;
	line-height: normal;
	font-size: 14px;
	color: #454559;
}

.calc__input-label {
	font-size: 14px;
	color: #999AB0;
	margin-bottom: 5px;
	font-weight: 500;
}

.calc__ranges {
	display: flex;
	flex-direction: column;
}

.calc__ranges-label {
	margin-top: 40px;
	font-size: 18px;
	color: #7A7C99;
	margin-bottom: 10px;
}

#month:first-child .ui-slider-handle {
	display: none;
}

.calc__info {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	width: 250px;
	box-sizing: border-box;
	margin-left: auto;
	border-top: 3px solid #465EDB;
	border-radius: 3px;
	align-self: flex-start;
}

.calc__info-title {
	font-weight: bold;
	font-size: 25px;
	color: #454559;
	margin-bottom: 30px;
}

.calc__info-label {
	font-size: 16px;
	color: #7A7C99;
}

.calc__info-value {
	margin-top: 5px;
	display: flex;
	margin-bottom: 30px;
}

.calc__info-value > span {
	font-weight: 500;
	font-size: 16px;
	color: #454559;
	margin-right: 5px;
	margin-top: 2px;
}

.calc__info-value > div {
	font-weight: 500;
	font-size: 24px;
	color: #454559;
}

.calc__month {
	margin-left: 5px;
	transform: translateY(6px);
	display: block;
}

.calc input[type=number]::-webkit-inner-spin-button, 
.calc input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.calc__range {
	position: relative;
}

.calc__bauble {
	padding-left: 15px;
	padding-right: 15px;
	height: 28px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	align-self: flex-start;
	position: absolute;
	top: 25px;
	transform: translateX(-11px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.calc__range {
	margin-bottom: 50px;
}

.calc__ranges-label {
	margin-bottom: 20px;
}

.calc__title {
	display: flex;
	justify-content: space-between;
}

.calc__er {
	display: flex;
	border-radius: 4px;
}

.calc__er--active {
	color: #465EDB !important;
}

.calc__er > div {
	height: 24px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 500;
	color: #999AB0;
	cursor: pointer;
}

.calc__er > div:not(:last-child) {
	border-right: 1px solid #F0F2FA;
}

.faq {
	display: flex;
	justify-content: center;
	background-color: #F7F8FC;
}

.faq__inner {
	max-width: 1060px;
	width: 100%;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 60px;
	padding-bottom: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.faq__content {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.faq__nav {
	min-width: 280px;
	max-width: 280px;
	top: 0;
	transition: all 0.2s ease-in-out;
	border-left: 2px solid #E3E7FC;
	align-self: flex-start;
	padding-left: 10px;
	box-sizing: border-box;
}

.faq__nav--fixed {
	top: 30px;
	position: fixed;
	transition: all 0.2s ease-in-out;
}

.faq__nav-item {
	color: #999AB0;
	font-size: 16px;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	height: 48px;
}

.faq__nav-item--active {
	color: #454559;
}

.faq__nav-item--active:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	background: #465EDB;
	width: 4px;
	left: -12px;
	top: 0;
}

.faq__list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 30px;
}

.faq__list--fixed {
	margin-left: 310px;
}

.faq__headline {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 30px;
}

.faq__headline--no-margin {
	margin-top: 0;
}

.faq__headline > img {
	margin-right: 10px;
}

.faq__headline > span {
	color: #454559;
	font-weight: bold;
	font-size: 24px;
}

.faq__card {
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	background: #fff;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.faq__card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	cursor: pointer;
	user-select: none;
}

.faq__card-title > span {
	font-weight: 500;
	font-size: 18px;
	color: #454559;
}

.faq__card-title > span > span {
	color: #999AB0;
}

.faq__plus {
	width: 12px;
	height: 12px;
	transform: translateY(6px);
}

.faq__plus > div {
	width: 12px;
	height: 2px;
	background: #999AB0;
	position: absolute;
	transition: all 0.2s ease-in-out;
}

.faq__plus > div:nth-child(2) {
	transform: rotate(90deg);
}

.faq__info {
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
}

.faq__info > p {
	margin: 0;
	line-height: 23px;
	font-size: 16px;
	color: #595C80;
	margin-bottom: 15px;
}

.faq__info > a > img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.faq__info > b {
	font-weight: 500;
	line-height: 23px;
	font-size: 16px;
	color: #454559;
	margin-bottom: 15px;
	display: block;
}

.faq__info > ol {
	margin: 0;
	padding: 0;
	padding-left: 15px;
	line-height: 21px;
	font-size: 14px;
	color: #595C80;
	margin-bottom: 15px;
}

.faq__card-title--visible > .faq__plus > div:nth-child(2) {
	transform: rotate(0);
	transition: all 0.2s ease-in-out;
}

.faq__info--visible {
	max-height: 4000px;
	transition: all 0.2s ease-in-out;
}

.faq__nav-item.active:after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	background: #465EDB;
	width: 4px;
	left: -12px;
	top: 0;
}

.faq__nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}