.step-one {
  display: flex;
  flex-direction: column;
}

.step-one__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.step-one__form > .button {
  margin-top: 64px;
}