@media screen and (max-width: 1279px) {
  
  .history__slides-list .slick-track {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  .history__slides-back {
    padding-left: 10px;
  }

  .history__slides-nav {
    padding-left: 10px;
  }

  .welcome__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mission__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .work__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .today__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .history__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .history__left {
    max-width: 750px;
  }

}

@media screen and (max-width: 1023px) {
  
  .welcome__inner {
    height: auto;
  }

  .welcome__text-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome__side {
    margin-top: 40px;
  }

  .welcome__side > p {
    font-size: 18px;
  }

  .history {
    height: auto;
    flex-direction: column;
  }

  .history__inner {
    position: relative;
    margin-left: 0;
    transform: none;
    padding-top: 40px;
  }

  .history__title {
    flex-direction: column;
  }

  .history__title > div {
    margin-top: 40px;
  }

  .history__info {
    flex-direction: column;
  }

  .history__stats {
    margin-top: 40px;
    order: -1;
    flex-direction: row;
    margin-left: 0;
    justify-content: space-between;
    max-width: 100%;
  }

  .history__stats-item {
    min-width: 200px;
  }

  .history__stats > .history__stats-item:not(:last-child) {
    margin-bottom: 0;
  }

  .history__nav {
    margin-top: 40px;
  }

  .history__years > .history__year {
    font-size: 18px;
    width: 60px;
  }

  .history__years > .history__year:not(:last-child) {
    margin-right: 20px;
  }

  .history__months > .history__month {
    font-size: 18px;
    width: 60px;
  }

  .history__months > .history__month:not(:last-child) {
    margin-right: 20px;
  }

  .history__slides {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    opacity: 1;
  }

  .history__slides-inner {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }

  .history__slide {
    max-width: 230px;
  }

  .history__today {
    display: none;
  }

  .history__slides-back {
    display: none;
  }

  .history__slides-list {
    margin-top: 80px;
  }

  .history__map {
    display: none;
  }

  .welcome__text-1 {
    font-size: 150px;
  }

  .welcome__text-2 {
    font-size: 150px;
  }

  .welcome__text-3 {
    display: none;
  }

  .welcome__circle {
    display: none;
  }

  .work__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }

  .work__list {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .work__headline {
    font-size: 140px;
  }

  .today__inner {
    padding-top: 40px;
    padding-bottom: 200px;
    height: auto;
  }

  .today__list-row {
    padding-right: 0;
  }

  .today__item {
    max-width: 180px;
  }

  .today__row > h1 {
    font-size: 110px;
  }

  .today__item-number {
    font-size: 80px;
    line-height: 100px;
  }

  .today__item-number > span {
    transform: translateY(20px);
  }

  .contacts__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    height: auto;
  }

  .contacts__side {
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contacts__logo {
    margin-top: 0;
  }

  .contacts__form > form > button {
    margin-top: 40px;
  }

  .contacts__tg {
    margin-top: 0;
  }

}

@media screen and (max-width: 767px) {

  .welcome {
    overflow: hidden;
  }

  .welcome__logo {
    align-self: center;
  }

  .welcome__inner {
    flex-direction: column;
  }

  .welcome__side {
    align-self: center;
    order: -1;
  }

  .welcome__text-container {
    max-width: 300px;
    height: 300px;
    align-self: center;
    transform: translateX(15px);
  }

  .welcome__text-1,
  .welcome__text-2 {
    font-size: 80px;
    line-height: 80px;
  }

  .mission__inner {
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .mission__title {
    font-size: 70px;
    line-height: 70px;
  }

  .mission__row {
    flex-direction: column;
  }

  .mission__container {
    align-items: center;
  }

  .mission__row > p:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .today__row > h1 {
    font-size: 70px;
    line-height: 80px;
  }

  .today__list-col {
    margin-top: 80px;
    margin-left: 0;
    align-items: center;
  }

  .today__row {
    flex-direction: column;
    align-items: center;
  }

  .today__list-row {
    flex-direction: column;
    align-self: center;
    max-width: 280px;
  }

  .today__list-row > .today__item {
    margin-bottom: 60px;
  }

  .today__list-col > .today__item {
    margin-bottom: 60px;
  }

  .today__item {
    max-width: 280px;
    min-width: 280px;
  }

  .today__item-number {
    justify-content: center;
  }

  .today__item-desc {
    text-align: center;
  }

  .today__inner {
    padding-bottom: 0;
  }

  .history__title > span {
    font-size: 70px;
    text-align: center;
  }

  .history__title > div {
    margin-top: 0;
    text-align: center;
  }

  .history__stats {
    flex-direction: column;
  }

  .history__stats > .history__stats-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .history__years,
  .history__months {
    margin-top: 40px;
    flex-wrap: wrap;
    max-width: 220px;
    min-width: 220px;
  }

  .history__years > .history__year:nth-child(3n),
  .history__months > .history__month:nth-child(3n) {
    margin-right: 0;
  }

  .history__nav-row {
    justify-content: center;
  }

  .history__year,
  .history__month {
    margin-bottom: 30px;
  }

  .history__bubbles {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .history__stats-value {
    text-align: center;
  }

  .history__stats-title {
    text-align: center;
  }

  .history__bubbles {
    max-width: 280px;
    align-self: center;
  }

  .history__bubble {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .history__desc-title {
    font-size: 40px;
    text-align: center;
    line-height: 50px;
  }

  .history__desc-text {
    flex-direction: column;
  }

  .history__desc-text > p:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .history__desc-text > p {
    width: 100%;
    max-width: 100%;
  }

  .history__left-row {
    justify-content: center;
  }

  .history__date {
    text-align: center;
  }

  .history__slides-title {
    text-align: center;
    font-size: 70px;
  }

  .history__slides-list {
    margin-top: 20px;
  }

  .history__slides-nav {
    padding-left: 0;
    justify-content: space-between;
  }

  .history__slides-prev {
    margin-right: 0;
  }

  .history__slides-list {
    max-width: 230px;
    align-self: center;
  }

  .history__slide-logo {
    justify-content: center;
    display: flex;
  }

  .history__slide-link {
    text-align: center;
    font-size: 16px;
  }

  .history__slide-desc {
    margin-top: 40px;
  }

  .history__slide-desc > p {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .history__slides-nav {
    margin-top: 40px;
  }

  .work__inner {
    flex-direction: column;
    align-items: center;
  }

  .work__headline {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
  }

  .work__list {
    margin-top: 60px;
  }

  .work__list > a {
    margin-bottom: 20px;
  }

  .contacts__headline {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    transform: none;
  }

  .contacts__form-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .contacts__form-row > .contacts__form-input:not(:last-child) {
    margin-right: 0;
  }

  .contacts__form-row > .contacts__form-input {
    margin-bottom: 30px;
  }

  .contacts__form > form > button {
    margin-top: 40px;
    align-self: center;
    min-width: 100%;
  }

  .contacts__side {
    flex-direction: column;
  }

  .contacts__tg {
    margin-top: 40px;
  }

  .contacts__logo {
    margin-top: 40px;
  }

  .contacts__side-container {
    transform: translateX(18px);
  }

}