@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SFUIText/SFUIText-Regular.otf') format('opentype');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-size: 16px;
  color: #959EBB;
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

input, textarea {
  font-family: Open Sans;
  font-size: 16px;
  text-overflow: ellipsis;
}

input::placeholder, textarea::placeholder {
  font-family: Open Sans;
  font-size: 16px;
  color: #959EBB;
}

::selection {
  background-color: #fff;
}




main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-family: SF UI Text;
  font-size: 64px;
  color: #E9E6F5;
  max-width: 710px;
  font-weight: bold;
}

h4 {
  font-family: SF UI Text;
  line-height: normal;
  font-size: 48px;
  text-align: center;
  color: #E9E6F5;
  font-weight: bold;
}

header {
  position: absolute;
  top: 30px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__inner {
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: SF UI Text;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E9E6F5;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.header__link:hover {
  color: #fff;
  transition: all 0.15s ease-in-out;
}

.header__nav > .header__link:not(:last-child) {
  margin-right: 50px;
}

.welcome {
  display: flex;
  justify-content: center;
  background-color: #18182F;
  background-image: radial-gradient(1024.00px at 100% 0%, #3B3E52 0%, rgba(59, 62, 82, 0) 100%);
}

.welcome__inner {
  padding-top: 190px;
  box-sizing: border-box;
  max-width: 1240px;
  min-height: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.welcome__info {
  display: flex;
  flex-direction: column;
}

.welcome__info > p {
  margin-top: 40px;
  max-width: 600px;
  line-height: 32px;
  font-size: 18px;
}

.welcome__info > img {
  margin-top: 40px;
  margin-left: 10px;
  align-self: flex-start;
}

.btn {
  height: 60px;
  min-width: 220px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-image: linear-gradient(103.76deg, #007DFF 0%, #5200FF 100%);
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1), 0px 7px 19px rgba(0, 125, 255, 0.2);
  text-decoration: none;
  color: #E9E6F5;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1), 0px 11px 23px rgba(0, 125, 255, 0.2);
  transition: all 0.15s ease-in-out;
}

.welcome__info > .btn {
  margin-top: 40px;
  align-self: flex-start;
}

.services {
  display: flex;
  justify-content: center;
  background-color: #18182F;
  position: relative;
}

.services__inner {
  z-index: 1;
  position: relative;
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.services__transition {
  pointer-events: none;
  user-select: none;
  width: 100%;
  position: absolute;
  top: -450px;
}

.services__transition > img {
  width: 100%;
}

.services__inner > h4 {
  margin-bottom: 60px;
}

.services__card {
  box-sizing: border-box;
  border-top: 16px solid #FBFE64;
  background-color: #21223C;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.services__card--orange {
  border-color: #DC994A;
}

.services__card--purple {
  border-color: #A174FF;
}

.services__card-left {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
}

.services__card-title {
  margin-top: 60px;
  font-family: SF UI Text;
  font-size: 36px;
  color: #FBFE64;
  font-weight: bold;
}

.services__card-text {
  margin-top: 30px;
  font-family: Open Sans;
  line-height: 26px;
  font-size: 16px;
  color: #E9E6F5;
}

.services__inner .services__card:not(:last-child) {
  margin-bottom: 30px;
}

.services__card-right {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

.services__features {
  display: flex;
  flex-direction: column;
}

.services__features > div {
  display: flex;
  align-items: center;
}

.services__features > div:not(:last-child) {
  margin-bottom: 20px;
}

.services__features > div > img {
  margin-right: 15px;
}

.services__features > div > span > a {
  color: #0278FF;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.services__features > div > span > a:hover {
  color: #fff;
  transition: all 0.15s ease-in-out;
}

.services__price {
  margin-top: 60px;
  display: flex;
  margin-bottom: 20px;
}

.services__price-value {
  font-family: SF UI Text;
  font-size: 32px;
  color: #00FF75;
  font-weight: bold;
}

.services__price-month {
  transform: translate(5px, -10px);
  font-family: Open Sans;
  font-size: 14px;
  color: #959EBB;
}

.services__card-right .btn {
  margin-top: auto;
  align-self: flex-start;
}

.services__feature--facebook {
  margin-left: 2px;
}

.cases {
  background-color: #18182F;
  display: flex;
  flex-direction: column;
}

.cases > h4 {
  margin-bottom: 80px;
}

.cases__list {
  align-self: center;
  margin-bottom: 30px;
  width: 100%;
}

.cases__item {
  width: 392px;
  height: 392px;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.cases__list-2 {
  transform: translateY(-100px);
}

.cases__list-1 .slick-slide {
  transform: translateX(150px);
}

.cases__list-2 .slick-slide {
  transform: translateX(-50px);
}

.cases__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases__item-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SF UI Text;
  font-size: 18px;
  color: #FFF;
  background: linear-gradient(0deg, rgba(33, 34, 60, 0.7), rgba(33, 34, 60, 0.7));
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.cases__item:hover > .cases__item-name {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.cases__list .slick-list {
  height: 500px;
}

.cases__list .slick-slide {
  margin-left: 16px;
  margin-right: 16px;
  width: 392px;
}

.cases__list .slick-dots {
  bottom: 30px;
}

.cases__list .slick-dots li {
  width: 16px;
  height: 16px;
  background-color: #3B3E52;
  border-radius: 50%;
}

.cases__list .slick-dots li button:before {
  font-size: 0;
}

.cases__list .slick-dots .slick-active {
  background-color: #E9E6F5;
}

.cases__popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24,24,47, 0.9);
  z-index: 10;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}

.cases__popup--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.15s ease-in-out;
}

.cases__popup-inner {
  max-width: 824px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cases__popup-slide-info {
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.cases__popup-slides .slick-slide {
  width: 824px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}

.cases__popup-slide-phone > img {
  height: 100%;
}

.cases__popup-slide {
  display: flex;
  flex-direction: column;
}

.cases__popup-slide-title {
  font-family: SF UI Text;
  font-size: 36px;
  color: #FFF;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cases__popup-slides button.slick-arrow {
  width: 50px;
  height: 50px;
}

.cases__popup-slides button.slick-arrow::before {
  font-size: 0;
}

.cases__popup-slides .slick-prev {
  left: -100px;
}

.cases__popup-slides .slick-next {
  right: -100px;
}

.cases__popup-slides button.slick-prev {
  background-image: url('../img/icons/prev.svg'); 
}

.cases__popup-slides button.slick-next {
  background-image: url('../img/icons/next.svg'); 
}

.cases__popup-nav {
  margin-top: 40px;
  display: flex;
  max-width: 570px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cases__popup-nav > span {
  font-family: SF UI Text;
  font-size: 30px;
  color: #FFF;
  font-weight: bold;
}

.cases__popup-nav > span:first-child {
  transform: translateX(35px);
}

.cases__popup-nav .btn {
  transform: translateX(30px);
}

.cases__popup-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.cases__popup-close > img {
  width: 100%;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  background-color: #18182F;
  background-image: url('../img/reviews-bg-1.svg'), url('../img/reviews-bg-2.svg'), url('../img/reviews-bg-3.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.reviews__list {
  margin-top: 68px;
  display: flex;
  overflow: hidden;
  padding-top: 32px;
  justify-content: center;
}

.reviews__col {
  display: flex;
  flex-direction: column;
}

.reviews__card {
  transform: translateX(15%);
  position: relative;
  max-width: 392px;
  min-width: 392px;
  box-sizing: border-box;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(320deg, #343143, #3d394f);
  box-shadow: 0 50px 100px 0 rgba(0, 43, 69, 0.1), 0 15px 35px 0 rgba(0, 43, 69, 0.15), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.reviews__card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  color: #fff;
}

.reviews__card-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.reviews__card-text a {
  color: #fff;
}

.reviews__card-img {
  position: absolute;
  left: 24px;
  top: -24px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  overflow: hidden;
}

.reviews__card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq {
  display: flex;
  justify-content: center;
  background-color: #18182F;
  position: relative;
}

.faq__inner {
  max-width: 816px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.faq__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.faq__card {
  display: flex;
  flex-direction: column;
  background-color: #21223C;
  border-radius: 16px;
  transition: all 0.15s ease-in-out;
}

.faq__card--active {
  background: #373853;
  transition: all 0.15s ease-in-out;
}

.faq__card-title {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SF UI Text;
  font-size: 18px;
  color: #E9E6F5;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}

.faq__list .faq__card {
  margin-bottom: 10px;
}

.faq__card-info {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  padding-bottom: 0px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}

.faq__card-info--visible {
  max-height: 500px;
  padding-bottom: 24px;
  transition: all 0.15s ease-in-out;
}

.faq__card-title > span {
  pointer-events: none;
  user-select: none;
}

.faq__card-title > img {
  pointer-events: none;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

.faq__card-img--active {
  transform: rotate(180deg);
  transition: all 0.15s ease-in-out;
}

.faq__bg {
  width: 100%;
  top: 220px;
  position: absolute;
}

.contacts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.contacts__info {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.contacts__inner {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts__info-left {
  display: flex;
  flex-direction: column;
}

.contacts__info-title {
  font-family: SF UI Text;
  font-size: 24px;
  color: #E9E6F5;
  font-weight: bold;
  margin-bottom: 15px;
}

.contacts__info-text {
  font-size: 16px;
  color: #959EBB;
  margin-bottom: 15px;
}

.contacts__form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts__form > input {
  border: 0;
  height: 60px;
  margin-bottom: 16px;
  background: #21223C;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 20px;
  color: #fff;
}

.contacts__form > textarea {
  border: 0;
  height: 156px;
  background: #21223C;
  border-radius: 8px;
  resize: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
}

.contacts__form .btn {
  margin-top: 53px;
  border: 0;
  align-self: flex-start;
}

.contacts__form > input::placeholder {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.contacts__form > input:focus::placeholder {
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.contacts__form > textarea::placeholder {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.contacts__form > textarea:focus::placeholder {
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.contacts__info iframe {
  margin-top: auto;
}

.contacts__bg {
  width: 100%;
  background-color: #101120; 
}

.contacts__bg > img {
  width: 100%;
  transform: translateY(5px);
}

.contacts__bg-logo {
  position: absolute;
  left: 50%;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-80px);
  z-index: 1;
}

.contacts__bg-logo > span {
  margin-top: 40px;
  line-height: 16px;
  font-size: 11px;
  color: #FFF;
  opacity: 0.5;
}

.popup__form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.popup__form--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.15s ease-in-out;
}

.popup__form form {
  background-color: #21223C;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.popup__form form input,
.popup__form form textarea {
  background-color: rgba(0, 0, 0, 0.7);
}

.popup__form .feedback__form button {
  align-self: center;
}

.popup__form-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.header__menu {
  display: none;
}

.header__close {
  display: none;
}

.contacts__madeby {
  margin-top: 40px;
}