@media screen and (max-width: 1700px) {

	.movie {
		background-position: 90% 630px
	}

}


@media screen and (max-width: 767px) {

	.header__nav,
	.header__other,
	.header__schedule,
	.header__path,
	.header__schedule,
	.header__search,
	.header__map,
	.header__lang,
	.header__path-hidden,
	.search,
	.header__today, 
	.header__shops, 
	.header__food,
	.emerald,
	.ads__title,
	.sub,
	.shops__bg-1,
	.shops__bg-2,
	.about,
	.posts,
	.footer__nav,
	.poster__date,
	.blog-page__nav,
	.fav__title,
	.fav__events,
	.fav__discount,
	.about-page__time,
	.map__btn-feed,
	.ads__item--mobile-hide,
	.ads__text > br,
	.bags,
	.adv__cards,
	.adv__card > img,
	.movie__btn-mobile,
	.btn--blog,
	.mags__nav-value,
	.mag__side-ad,
	.mag .blog-page__back,
	.event__title .event__title-nav,
	.event .blog-page__back,
	.album .blog-page__back,
	.album__title-date,
	.contacts__divider,
	.p404__text--desktop,
	.map__car,
	.map__car-title > img {
		display: none;
	}

	.preloader {
		display: flex;
	}

	body {
		min-width: 100%;
	}

	main {
		margin-top: 80px;
	}

	footer {
		height: auto;
		background-color: #0b0f12;
	}

	h3 {
		font-size: 25px;
		align-self: center;
	}

	.body--noscroll {
		position: fixed;
		overflow: hidden;
	}

	.header__inner {
		justify-content: flex-end;
		z-index: 2;
	}

	.menu {
		width: 100%;
		transform: translateX(-100%);
		overflow-y: scroll;
	}

	.menu--active {
		transform: translateX(0);
	}

	.menu__lang-mobile {
		display: flex;
		min-height: 81px;
	}

	.menu__title {
		justify-content: flex-start;
		padding-left: 20px;
		min-height: 81px;
	}

	.menu__title > span {
		order: 1;
		margin-left: 20px;
	}

	.menu > a {
		min-height: 51px;
		padding-left: 20px;
		justify-content: space-between;
	}

	.menu__mobile-fav {
		display: flex !important;
	}

	.menu__circle {
		display: flex;
	}

	.slick-dots {
		bottom: 20px;
	}

	.ads {
		padding-top: 40px;
		background: none;
	}

	.ads__actual .slick-slide {
			
	}

	.ads__actual .ads__actual-container {
		width: 320px;
		margin-left: 20px;
		margin-right: 20px;
		overflow: hidden;
	}

	.ads__text-mobile {
		display: block;
	}

	.ads__actual-2--item {
		margin-left: 15px;
		margin-right: 15px;
	}

	.ads__actual {
		margin-top: 20px;
		margin-bottom: 60px;
	}

	.ads__actual .slick-dots {
		bottom: -20px;
	}

	.ads__actual-2 {
		width: 90%;
		align-self: center;
		overflow: visible;
		display: none !important;
	}

	.ads__actual-2  .ads__actual-container > img {
		width: 100%;
	}

	.ads__actual-2  .slick-dots {
		bottom: -20px;
	}

	.btn {
		min-width: 230px;
		max-width: 230px;
	}

	.ads__inner {
		flex-direction: column;
		padding-bottom: 40px;
	}

	.ads__col-2 {
		margin: 0;
		margin-top: 40px;
	}

	.ads__row {
		width: 100%;
		margin-bottom: 5px;
		justify-content: center;
	}

	.ads__item {
		width: 100%;
		height: 130px;
		flex-grow: 1;
		overflow: hidden;
	}

	.ads__item:not(:last-child) {
		margin-right: 5px;
	}

	.ads__item-img-container > img {
		object-fit: cover;
		height: 100%;
	}

	.ads__col-2__inner {
		display: flex;
		padding-left: 5px;
		padding-right: 5px;
	}

	.circle--ads {
		display: flex;
	}

	.ads__actual-mobile {
		display: flex;
	}

	.ads__text {
		top: auto;
		font-size: 14px;
		bottom: 15px;
	}

	.shops {
		height: 230px;
	}

	.shops__bg-3 {
		height: 193px;
		background-color: #9751cd;
	}

	.shops__bg-3__inner {
		background-image: none;
		width: 100%;
		height: 230px;
		overflow: hidden;
	}

	.bags-m {
		display: block;
		right: 0;
		top: 40px;
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: center;
		width: 190px;
		height: 200px;
	}

	.bags-m img {
		width: 100%;
	}

	.shops__info {
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		padding-left: 35px;
		padding-top: 40px;
	}

	.shops__value {
		font-size: 60px;
	}

	.shops__text {
		margin-left: 15px;
		margin-top: 15px;
		font-size: 15px;
	}

	.adv {
		padding-bottom: 40px;
	}

	.adv__inner {
		padding-top: 20px;
		flex-direction: column;
		align-items: center;
	}

	.adv__tiles {
		width: 282px;
		height: 263px;
		flex-wrap: nowrap;
		display: block;
	}

	.adv__tile {
		height: 263px !important;
	}

	.adv__tile:nth-child(odd) {
		margin-right: 0;
	}

	.adv__tile:nth-child(1) {
		margin-bottom: 0;
	}

	.adv__tile:nth-child(2) {
		margin-bottom: 0;
	}

	.adv__top {
		display: block;
	}

	.adv .slick-dots {
		bottom: -20px;
	}

	.adv__cards {
		margin-top: 40px;
	}

	.adv__card {
		height: auto;
		width: 100%;
		border: 0;
		box-shadow: none;
		padding-bottom: 0;
	}

	.adv__card:not(:last-child) {
		margin-bottom: 40px;
	}

	.adv__card-title {
		font-size: 25px;
	}

	.adv__card-text {
		font-size: 14px;
	}

	.trends {
		display: none !important;
	}

	.movie {
		padding-top: 40px;
		background-image: none;
		overflow: hidden;
	}

	.movie__nav {
		width: 100%;
		position: relative;
		justify-content: center;
	}

	.movie__switch {
		width: 280px;
	}

	.movie .btn {
		max-width: 140px;
		min-width: 140px;
		box-sizing: border-box;
	}

	.movie--acs {
		position: absolute;
		top: 470px;
		width: 230px !important;
		max-width: 230px !important;
	}

	.h3--movie-mobile {
		display: block;
	}

	.movie__logo {
		margin-top: 90px;
	}

	.movie__list {
		margin-top: 25px;
		width: 100%;
	}

	.movie__item {
		margin-left: 20px;
		margin-right: 20px;
	}

	.movie .slick-slide {
		
	}

	.footer__inner {
		padding-top: 40px;
		align-items: center;
	}

	.footer__mobile {
		display: flex;
	}

	.footer__email {
		margin-top: 40px;
		color: #414a52;
	}

	.footer__copyright {
		color: #414a52;
	}

	.footer__social {
		margin-top: 40px;
		margin-bottom: 50px;
	}

	.movie-emerald-1,
	.movie-emerald-2 {
		display: block;
	}

	.pop h3 {
		text-align: center;
	}

	.pop__brands {
		padding-bottom: 40px;
	}

	.pop .slick-dots {
		bottom: 40px;
	}

	.pop__brands  img {
		border-radius: 5px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.movie-emerald-1,
	.movie-emerald--2 {
		display: block;
	}

	.footer__btn {
		display: inline-block;
	}

	.renters__inner {
		padding-top: 40px;
	}

	.renters__info {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	.renters__col {
		order: 1;
	}

	.renters__card {
		transform: translateY(0);
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		align-self: center;
	}

	.renter__card-btn {
		box-sizing: border-box;
	}

	.renters__card-divider {
		width: 100%;
	}

	.poster {
		padding-top: 40px;
	}

	.poster__cards {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.poster__card {
		width: 100%;
	}

	.poster__card-img {
		height: 220px;
		overflow: hidden;
	}

	.poster__card:nth-child(odd) {
		margin-right: 0
	}

	.poster h3 {
		align-self: center;
	}

	.poster__inner {
		display: flex;
		flex-direction: column;
	}

	.poster__card-title {
		font-size: 15px;
	}

	.feedback__inner {
		padding-top: 40px;
		padding-bottom: 50px;
		padding-left: 20px;
		padding-right: 20px;
		overflow: hidden;
	}

	.feedback__form {
		flex-direction: column;
	}

	.feedback__title {
		flex-direction: column;
	}

	.feedback .about__title {
		display: flex;
		flex-direction: column;
		margin-left: 0;
	}

	.feedback__form textarea {
		width: 100%;
	}

	.feedback__input {
		width: 100%;
	}

	.feedback__post {
		flex-direction: column;
	}

	.feedback__title-col {
		width: 100%;
		justify-content: center;
	}

	.feedback__title-col h3 {
		text-align: center;
	}

	.feedback__text {
		margin-bottom: 20px;
		text-align: center;
	}

	.feedback__title-col:last-child {
		margin-left: 0;
		margin-top: 20px;
	}

	.feedback .about__title-item:not(:last-child) {
		margin-bottom: 20px;
	}

	.feedback__post .btn {
		max-width: 100%;
		min-width: 10%;
		width: 230px;
		box-sizing: border-box;
		align-self: center;
	}
		
	.feedback__title-text {
		margin-top: 20px;
	}

	.blog__inner {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}

	.blog__items {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}

	.blog__item:nth-child(odd) {
		margin-right: 0;
		margin-bottom: 40px;
	}

	.blog__item-img {
		height: 195px;
	}

	.blog__item-title {
		font-size: 17px;
	}

	.blog-page__inner {
		padding-top: 40px;
	}

	.blog-page__text {
		padding: 0 20px;
	}

	.blog-page__side-info {
		flex-direction: column;
		margin: 20px;
	}

	.blog-page__side-info > img {
		margin: 0;
	}

	.h3--blog-page {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}

	.blog-page__img {
		border-radius: 0;
		height: 160px;
	}

	.blog-page__product:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.blog-page__products .slick-dots {
		bottom: -40px;
	}

	.blog-page__products {
		display: block;
		flex-wrap: nowrap;
	}

	.blog-page__product {
		margin-bottom: 5px;
	}

	.blog-page__products > div .blog-page__product {
		margin-right: 10px;
		margin-left: 25px;
	}

	.fav__inner {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.fav h3 {
		text-align: center;
	}

	.fav__item:not(:nth-child(4n)) {
		margin-right: 0;
	}

	.fav__items {
		flex-wrap: nowrap;
		align-items: center;
		flex-direction: column;
	}

	.fav .ads__title {
		display: flex;
	}

	.fav__switch {
		display: flex;
	}

	.fav__discount {
		margin-top: 0;
	}

	.about-page__welcome {
		height: calc(100vh - 80px);
	}

	.about-page__welcome-item:not(:last-child) {
		margin: 0;
	}

	.about-page__welcome h3 {
		font-size: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.about-page__welcome-item-title {
		font-size: 20px;
	}

	.about-page__welcome-item-value {
		font-size: 30px;
	}

	.about-page__welcome-items {
		display: block;
		width: 100%;
		margin-top: 40px;
	}

	.about-page__inner {
		padding-top: 40px;
		padding-bottom: 60px;
		box-sizing: border-box;
	}

	.about-page__text {
		padding-left: 20px;
		padding-right: 20px;
	}

	.about-page__info-col h3 {
		text-align: center;
	}

	.about-page__welcome-item-value,
	.about-page__welcome-item-title {
		text-align: center;
	}

	.about-page__slides {
		width: 100%;
		height: 315px;
	}

	.about-page__slides .slick-dots {
		bottom: -30px;
	}

	.about-page__slides .slick-slide {
		height: 315px;
	}

	.about-page__slide {
		width: 100%;
		overflow: hidden;
		order: 2;
	}

	.about-page__slide > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.news__title {
		flex-direction: column;
	}

	.news__title h3 {
		align-self: center;
	}

	.news-past .fav__item:not(:nth-child(3n)) {
		margin-right: 0
	}

	.vacancy__show {
		display: flex;
	}

	.vacancy__row {
		flex-direction: column;
	}

	.vacancy__item {
		align-self: center;
		margin-bottom: 20px;
	}

	.vacancy__info {
		max-height: 0;
		overflow: hidden;
		transition: all .15s ease-in-out;
	}

	.about-page__welcome-items {
		pointer-events: none;
	}

	.vacancy__inner {
		padding-top: 40px;
	}

	.mags__list {
		width: 100%;
	}

	.mags h3 {
		text-align: center;
	}

	.mags__list-row {
		flex-direction: column;
		margin: 0;
		align-items: center;
	}

	.mags__list-item:not(:nth-child(4n)) {
		margin-right: 0;
	}

	.mags__list-item {
		margin-bottom: 20px;
		width: 280px;
	}

	.mags__inner {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
	}

	.mags__nav-open  {
		background-color: #fff;
		box-sizing: border-box;
		font-family: Roboto;
		font-weight: 500;
		box-sizing: border-box;
		display: inline-block;
		padding-left: 15px;
		outline: none;
		background-image: url('../img/icons/arrow--bottom.svg');
		background-position: 250px center;
		background-repeat: no-repeat;
	}

	.mags__nav-open {
		-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	}

	.mags__nav {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 80px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		background-color: #6d2482;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		transition: all .15s ease-in-out;
	}

	.mags__nav-list {
		overflow: scroll;
		position: relative;
	}

	.mags__nav-title {
		color: #fff;
	}

	.mags__nav-item {
		justify-content: center;
		min-height: 60px;
		margin: 0;
	}

	.mags__nav-title-mobile {
		display: block;
	}

	.mags__nav-close {
		display: flex;
	}

	.nav__opacity-top,
	.nav__opacity-bottom {
		display: block;
	}

	.mag__inner {
		padding-top: 10px;
		padding-bottom: 60px;
	}

	.mag__info {
		flex-direction: column;
	}

	.mag__text {
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}

	.mag__side {
		transform: none;
	}

	.mag__about {
		order: 2;
	}

	.mag__side {
		margin-right: auto;
	}

	.mag h3 {
		align-self: flex-start;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.mag__images {
		width: 100%;
		height: 290px;
	}

	.mag__images .slick-slide {
		height: 290px;
		overflow: hidden;
	}

	.mag__img {
		margin: 0;
	}

	.mag__img-subj {
		margin: 0;
		min-height: 290px;
		width: 100%;
	}

	.mag .slick-dots {
		bottom: -30px;
	}

	.event__inner {
		padding-top: 0;
	}

	.event__info .mag__side {
		display: none;
	}

	.event__img {
		width: 100%;
		margin: 0;
	}

	.event__title {
		padding-left: 20px;
		box-sizing: border-box;
	}

	.event__title-info {
		flex-direction: column;
		padding-left: 20px;
		box-sizing: border-box;
	}

	.event__title-info .ads__title {
		display: flex;
		align-self: flex-start;
		left: 0;
		margin-top: 10px;
	}

	.event__title-info .border-date {
		align-self: flex-start;
	}

	.event__info-text {
		padding-left: 20px;
		padding-right: 20px;
	}

	.event__info-line {
		margin-left: 20px;
		margin-right: 20px;
	}

	.event__title-nav--mobile {
		display: none;
	}

	.event__info-inner {
		width: 100%;
	}

	.sale .event__img {
		width: 100%;
		height: 260px;
	}

	.sale .event__info {
		flex-direction: column;
	}

	.event .mag__side {
		order: -1;
		margin-bottom: 30px;
	}

	.dt-share {
		top: 60px;
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
	}

	.album__list > a:first-child {
		width: 155px;
		height: 114px;
		margin-right: 0;
	}

	.album__inner {
		padding-top: 40px;
	}

	.album h3 {
		padding-left: 20px;
		align-self: flex-start;
	}

	.album__date {
		padding-left: 20px;
	}

	.album__list {
		width: 313px;
		align-self: center;
		display: flex;
		flex-wrap: wrap;
	}

	.album__list > a {
		width: 155px;
		height: 114px;
		margin-bottom: 3px;
	}

	.album__list > a:not(:first-child) {
		margin-right: 0;
	}

	.album__list > a:not(:nth-child(even)) {
		margin-right: 3px;
	}

	.album__btn {
		display: flex;
	}

	.contacts__info {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	.contacts h3 {
		align-self: flex-start;
		padding-left: 20px;
	}

	.contacts .btn {
		align-self: center;
		max-width: 230px;
		min-width: 230px;
	}

	.contacts__inner {
		padding-top: 40px;
	}

	.contacts__col {
		width: 100%;
	}

	.p404__text--mobile {
		display: block;
	}

	.p404__btn {
		display: flex;
	}

	.p404 {
		position: relative;
		padding-top: 40px;
	}

	.p404__video {
		margin-top: 100px;
		width: 270px;
		height: 100px;	
	}

	.p404__bg {
		width: 270px;
		height: 100px;						
	}

	.p404__upper {
		width: 270px;
		height: 100px;
	}

	.galery__inner {
		padding-top: 40px;
	}

	.galery__list {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}

	.galery__year {
		align-self: center;
	}

	.galery__img:not(:nth-child(3n)) {
		margin-right: 0
	}

	.galery__img {
		width: 280px;
		height: 272px;
	}

	.galery__img-container > img {
		object-fit: none;
		height: 100%;
	}

	.galery__img--short .galery__img-container {
		width: 280px;
	}

	.galery__img--medium .galery__img-container {
		width: 280px;
	}

	.galery__img--big .galery__img-container {
		width: 280px;
	}

	.galery__showmore {
		max-width: 230px;
		min-width: 230px;
		box-sizing: border-box;
	}

	.map__ui {
		padding-top: 20px;
		top: initial;
		bottom: 0px;
		transition: all .15s ease-in-out;
		position: fixed;
	}

	#map {
		height: 100vh;
	}

	.map__car-title {
		margin-top: 10px;
	}

	.map__top {
		display: flex;
	}

	.map__btns-mobile {
		width: 280px;
		display: flex;
	}

	.map__ui-inner {
		align-items: center;
		flex-direction: column;
		padding-bottom: 15px;
		justify-content: flex-start;
	}

	.map__btn {
		width: 100%;
	}

	.map__btn--path {
		width: 280px;
	}

	.map__btn--active > img {
		filter: brightness(0) invert(1);
	}

	.map__btn--troll {
		width: 280px;
	}

	.map__car-input > input {
		width: 280px;
		box-sizing: border-box;
	}

	.path__inner > img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	.path__close {
		max-width: 41px;
		min-width: 41px;
		right: 0;
	}

	.path-page__inner {
		display: flex;
		justify-content: center;
		background-image: none;
	}

	.path-page__title {
		align-self: center;
		text-align: center;
	}

	.welcome {
		display: none;
	}

	.welcome-mobile {
		display: block;
	}

	.ads__emerald-m-1 {
		display: block;
	}

	.ads__emerald-m-2 {
		display: block;
	}

	.ads__actual-container:hover > img {
		transform: none;
	}

	.movie__item > a:hover {
		transform: none;
	}

	.event__more .slick-dots {
		bottom: -15px;
	}

	.event__more h3 {
		text-align: center;
	}

	.event__more .fav__item {
		margin-right: 15px;
		margin-left: 15px;
	}

}